<emu-annex id="sec-colophon">
  <h1><span class="secnum">F</span>Colophon</h1>
  <p>This specification is authored on  <a href="https://github.com/tc39/ecma262">GitHub</a> in a plaintext source format called  <a href="https://github.com/bterlson/ecmarkup">Ecmarkup</a>.
 Ecmarkup is an HTML and Markdown dialect that provides a framework and 
toolset for authoring ECMAScript specifications in plaintext and 
processing the specification into a full-featured HTML rendering that 
follows the editorial conventions for this document. Ecmarkup builds on 
and integrates a number of other formats and technologies including  <a href="https://github.com/rbuckton/grammarkdown">Grammarkdown</a> for defining syntax and  <a href="https://github.com/domenic/ecmarkdown">Ecmarkdown</a> for authoring algorithm steps. PDF renderings of this specification are produced by printing the HTML rendering to a PDF.</p>
  <p>Prior editions of this specification were authored using Word—the 
Ecmarkup source text that formed the basis of this edition was produced 
by converting the ECMAScript 2015 Word document to Ecmarkup using an 
automated conversion tool.</p>
</emu-annex>
