<emu-clause id="sec-conformance">
  <h1><span class="secnum">2</span>Conformance</h1>
  <p>A conforming implementation of ECMAScript must provide and support 
all the types, values, objects, properties, functions, and program 
syntax and semantics described in this specification.</p>
  <p>A conforming implementation of ECMAScript must interpret source 
text input in conformance with the latest version of the Unicode 
Standard and ISO/IEC 10646.</p>
  <p>A conforming implementation of ECMAScript that provides an 
application programming interface (API) that supports programs that need
 to adapt to the linguistic and cultural conventions used by different 
human languages and countries must implement the interface defined by 
the most recent edition of ECMA-402 that is compatible with this 
specification.</p>
  <p>A conforming implementation of ECMAScript may provide additional 
types, values, objects, properties, and functions beyond those described
 in this specification. In particular, a conforming implementation of 
ECMAScript may provide properties not described in this specification, 
and values for those properties, for objects that are described in this 
specification.</p>
  <p>A conforming implementation of ECMAScript may support program and 
regular expression syntax not described in this specification. In 
particular, a conforming implementation of ECMAScript may support 
program syntax that makes use of the “future reserved words” listed in 
subclause  <emu-xref href="#sec-future-reserved-words" id="_ref_1"><a href="#sec-future-reserved-words">11.6.2.2</a></emu-xref> of this specification.</p>
  <p>A conforming implementation of ECMAScript must not implement any 
extension that is listed as a Forbidden Extension in subclause  <emu-xref href="#sec-forbidden-extensions" id="_ref_2"><a href="#sec-forbidden-extensions">16.2</a></emu-xref>.</p>
</emu-clause>
