<emu-annex id="sec-copyright-and-software-license">
      <h1><span class="secnum">H</span>Copyright &amp; Software License</h1>
      <p class="ECMAaddress">Ecma International</p>
<p class="ECMAaddress">Rue du Rhone 114</p>
<p class="ECMAaddress">CH-1204 Geneva</p>
<p class="ECMAaddress">Tel: +41 22 849 6000</p>
<p class="ECMAaddress">Fax: +41 22 849 6001</p>
<p class="ECMAaddress">Web:  <a href="https://ecma-international.org/">https://ecma-international.org/</a></p>

      <h2>Copyright Notice</h2>
      <p>© 2019 Ecma International</p>

<p>This document may be copied, published and distributed to others, and
 certain derivative works of it may be prepared, copied, published, and 
distributed, in whole or in part, provided that the above copyright 
notice and this Copyright License and Disclaimer are included on all 
such copies and derivative works. The only derivative works that are 
permissible under this Copyright License and Disclaimer are:</p>

<p>(i) works which incorporate all or portion of this document for the 
purpose of providing commentary or explanation (such as an annotated 
version of the document),</p>

<p>(ii) works which incorporate all or portion of this document for the 
purpose of incorporating features that provide accessibility,</p>

<p>(iii) translations of this document into languages other than English and into different formats and</p>

<p>(iv) works by making use of this specification in standard conformant
 products by implementing (e.g. by copy and paste wholly or partly) the 
functionality therein.</p>

<p>However, the content of this document itself may not be modified in 
any way, including by removing the copyright notice or references to 
Ecma International, except as required to translate it into languages 
other than English or into a different format.</p>

<p>The official version of an Ecma International document is the English
 language version on the Ecma International website. In the event of 
discrepancies between a translated version and the official version, the
 official version shall govern.</p>

<p>The limited permissions granted above are perpetual and will not be revoked by Ecma International or its successors or assigns.</p>

<p>This document and the information contained herein is provided on an 
"AS IS" basis and ECMA INTERNATIONAL DISCLAIMS ALL WARRANTIES, EXPRESS 
OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF 
THE INFORMATION HEREIN WILL NOT INFRINGE ANY OWNERSHIP RIGHTS OR ANY 
IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR 
PURPOSE.</p>

      <h2>Software License</h2>
      <p>All Software contained in this document ("Software") is 
protected by copyright and is being made available under the "BSD 
License", included below. This Software may be subject to third party 
rights (rights from parties other than Ecma International), including 
patent rights, and no licenses under such third party rights are granted
 under this license even if the third party concerned is a member of 
Ecma International. SEE THE ECMA CODE OF CONDUCT IN PATENT MATTERS 
AVAILABLE AT https://ecma-international.org/memento/codeofconduct.htm 
FOR INFORMATION REGARDING THE LICENSING OF PATENT CLAIMS THAT ARE 
REQUIRED TO IMPLEMENT ECMA INTERNATIONAL STANDARDS.</p>

<p>Redistribution and use in source and binary forms, with or without 
modification, are permitted provided that the following conditions are 
met:</p>

<ol>
  <li>Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.</li>
  <li>Redistributions in binary form must reproduce the above copyright 
notice, this list of conditions and the following disclaimer in the 
documentation and/or other materials provided with the distribution.</li>
  <li>Neither the name of the authors nor Ecma International may be used
 to endorse or promote products derived from this software without 
specific prior written permission.</li>
</ol>

<p>THIS SOFTWARE IS PROVIDED BY THE ECMA INTERNATIONAL "AS IS" AND ANY 
EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE 
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR 
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL ECMA INTERNATIONAL BE LIABLE 
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR 
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF 
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF 
THE POSSIBILITY OF SUCH DAMAGE.</p>

    </emu-annex>
