<emu-annex id="sec-corrections-and-clarifications-in-ecmascript-2015-with-possible-compatibility-impact">
  <h1><span class="secnum">D</span>Corrections and Clarifications in ECMAScript 2015 with Possible Compatibility Impact</h1>
  <p><emu-xref href="#sec-candeclareglobalvar" id="_ref_800"><a href="#sec-candeclareglobalvar">8.1.1.4.15</a></emu-xref>-<emu-xref href="#sec-createglobalfunctionbinding" id="_ref_801"><a href="#sec-createglobalfunctionbinding">8.1.1.4.18</a></emu-xref> Edition 5 and 5.1 used a property existence test to determine whether a <emu-xref href="#sec-global-object" id="_ref_8608"><a href="#sec-global-object">global object</a></emu-xref>
 property corresponding to a new global declaration already existed. 
ECMAScript 2015 uses an own property existence test. This corresponds to
 what has been most commonly implemented by web browsers.</p>
  <p><emu-xref href="#sec-array-exotic-objects-defineownproperty-p-desc" id="_ref_802"><a href="#sec-array-exotic-objects-defineownproperty-p-desc">9.4.2.1</a></emu-xref>: The 5<sup>th</sup> Edition moved the capture of the current array length prior to the integer conversion of the <emu-xref href="#array-index" id="_ref_8609"><a href="#array-index">array index</a></emu-xref>
 or new length value. However, the captured length value could become 
invalid if the conversion process has the side-effect of changing the 
array length. ECMAScript 2015 specifies that the current array length 
must be captured after the possible occurrence of such side-effects.</p>
  <p><emu-xref href="#sec-timeclip" id="_ref_803"><a href="#sec-timeclip">20.3.1.14</a></emu-xref>: Previous editions permitted the <emu-xref aoid="TimeClip" id="_ref_8610"><a href="#sec-timeclip">TimeClip</a></emu-xref> abstract operation to return either <emu-val>+0</emu-val> or <emu-val>-0</emu-val> as the representation of a 0 <emu-xref href="#sec-time-values-and-time-range" id="_ref_8611"><a href="#sec-time-values-and-time-range">time value</a></emu-xref>. ECMAScript 2015 specifies that <emu-val>+0</emu-val> always returned. This means that for ECMAScript 2015 the <emu-xref href="#sec-time-values-and-time-range" id="_ref_8612"><a href="#sec-time-values-and-time-range">time value</a></emu-xref> of a Date object is never observably <emu-val>-0</emu-val> and methods that return time values never return <emu-val>-0</emu-val>.</p>
  <p><emu-xref href="#sec-date-time-string-format" id="_ref_804"><a href="#sec-date-time-string-format">20.3.1.15</a></emu-xref>:
 If a time zone offset is not present, the local time zone is used. 
Edition 5.1 incorrectly stated that a missing time zone should be 
interpreted as <code>"z"</code>.</p>
  <p><emu-xref href="#sec-date.prototype.toisostring" id="_ref_805"><a href="#sec-date.prototype.toisostring">20.3.4.36</a></emu-xref>: If the year cannot be represented using the Date Time String Format specified in  <emu-xref href="#sec-date-time-string-format" id="_ref_806"><a href="#sec-date-time-string-format">20.3.1.15</a></emu-xref> a RangeError exception is thrown. Previous editions did not specify the behaviour for that case.</p>
  <p><emu-xref href="#sec-date.prototype.tostring" id="_ref_807"><a href="#sec-date.prototype.tostring">20.3.4.41</a></emu-xref>: Previous editions did not specify the value returned by Date.prototype.toString when <emu-xref href="#this-time-value" id="_ref_8613"><a href="#this-time-value">this time value</a></emu-xref> is <emu-val>NaN</emu-val>. ECMAScript 2015 specifies the result to be the String value is <code>"Invalid Date"</code>.</p>
  <p><emu-xref href="#sec-regexp-pattern-flags" id="_ref_808"><a href="#sec-regexp-pattern-flags">21.2.3.1</a></emu-xref>,  <emu-xref href="#sec-escaperegexppattern" id="_ref_809"><a href="#sec-escaperegexppattern">21.2.3.2.4</a></emu-xref>: Any LineTerminator code points in the value of the <code>source</code> property of a RegExp instance must be expressed using an escape sequence. Edition 5.1 only required the escaping of <code>"/"</code>.</p>
  <p><emu-xref href="#sec-regexp.prototype-@@match" id="_ref_810"><a href="#sec-regexp.prototype-@@match">21.2.5.7</a></emu-xref>,  <emu-xref href="#sec-regexp.prototype-@@replace" id="_ref_811"><a href="#sec-regexp.prototype-@@replace">21.2.5.9</a></emu-xref>: In previous editions, the specifications for <code>String.prototype.match</code> and <code>String.prototype.replace</code> was incorrect for cases where the pattern argument was a RegExp value whose <code>global</code> is flag set. The previous specifications stated that for each attempt to match the pattern, if <code>lastIndex</code> did not change it should be incremented by 1. The correct behaviour is that <code>lastIndex</code> should be incremented by one only if the pattern matched the empty string.</p>
  <p><emu-xref href="#sec-array.prototype.sort" id="_ref_812"><a href="#sec-array.prototype.sort">22.1.3.27</a></emu-xref>,  <emu-xref href="#sec-sortcompare" id="_ref_813"><a href="#sec-sortcompare">22.1.3.27.1</a></emu-xref>: Previous editions did not specify how a <emu-val>NaN</emu-val> value returned by a <var>comparefn</var> was interpreted by <code>Array.prototype.sort</code>. ECMAScript 2015 specifies that such as value is treated as if <emu-val>+0</emu-val> was returned from the <var>comparefn</var>. ECMAScript 2015 also specifies that <emu-xref aoid="ToNumber" id="_ref_8614"><a href="#sec-tonumber">ToNumber</a></emu-xref> is applied to the result returned by a <var>comparefn</var>. In previous editions, the effect of a <var>comparefn</var> result that is not a Number value was implementation-dependent. In practice, implementations call <emu-xref aoid="ToNumber" id="_ref_8615"><a href="#sec-tonumber">ToNumber</a></emu-xref>.</p>
</emu-annex>
