<emu-clause id="sec-global-object">
  <h1><span class="secnum">18</span>The Global Object</h1>
  <p>The  <dfn>global object</dfn>:</p>
  <ul>
    <li>is created before control enters any <emu-xref href="#sec-execution-contexts" id="_ref_4792"><a href="#sec-execution-contexts">execution context</a></emu-xref>.</li>
    <li>does not have a [[Construct]] internal method; it cannot be used as a <emu-xref href="#constructor" id="_ref_4793"><a href="#constructor">constructor</a></emu-xref> with the <code>new</code> operator.</li>
    <li>does not have a [[Call]] internal method; it cannot be invoked as a function.</li>
    <li>has a [[Prototype]] internal slot whose value is implementation-dependent.</li>
    <li>may have host defined properties in addition to the properties 
defined in this specification. This may include a property whose value 
is the global object itself.</li>
  </ul>

  <emu-clause id="sec-value-properties-of-the-global-object">
    <h1><span class="secnum">18.1</span>Value Properties of the Global Object</h1>

    <emu-clause id="sec-value-properties-of-the-global-object-infinity">
      <h1><span class="secnum">18.1.1</span>Infinity</h1>
      <p>The value of <code>Infinity</code> is <emu-val>+∞</emu-val> (see  <emu-xref href="#sec-ecmascript-language-types-number-type" id="_ref_405"><a href="#sec-ecmascript-language-types-number-type">6.1.6</a></emu-xref>). This property has the attributes { [[Writable]]: <emu-val>false</emu-val>, [[Enumerable]]: <emu-val>false</emu-val>, [[Configurable]]: <emu-val>false</emu-val> }.</p>
    </emu-clause>

    <emu-clause id="sec-value-properties-of-the-global-object-nan">
      <h1><span class="secnum">18.1.2</span>NaN</h1>
      <p>The value of <code>NaN</code> is <emu-val>NaN</emu-val> (see  <emu-xref href="#sec-ecmascript-language-types-number-type" id="_ref_406"><a href="#sec-ecmascript-language-types-number-type">6.1.6</a></emu-xref>). This property has the attributes { [[Writable]]: <emu-val>false</emu-val>, [[Enumerable]]: <emu-val>false</emu-val>, [[Configurable]]: <emu-val>false</emu-val> }.</p>
    </emu-clause>

    <emu-clause id="sec-undefined">
      <h1><span class="secnum">18.1.3</span>undefined</h1>
      <p>The value of <code>undefined</code> is <emu-val>undefined</emu-val> (see  <emu-xref href="#sec-ecmascript-language-types-undefined-type" id="_ref_407"><a href="#sec-ecmascript-language-types-undefined-type">6.1.1</a></emu-xref>). This property has the attributes { [[Writable]]: <emu-val>false</emu-val>, [[Enumerable]]: <emu-val>false</emu-val>, [[Configurable]]: <emu-val>false</emu-val> }.</p>
    </emu-clause>
  </emu-clause>

  <emu-clause id="sec-function-properties-of-the-global-object">
    <h1><span class="secnum">18.2</span>Function Properties of the Global Object</h1>

    <emu-clause id="sec-eval-x">
      <h1><span class="secnum">18.2.1</span>eval ( <var>x</var> )</h1>
      <p>The <code>eval</code> function is the  <dfn>%eval%</dfn> intrinsic object. When the <code>eval</code> function is called with one argument <var>x</var>, the following steps are taken:</p>
      <emu-alg><ol><li><emu-xref href="#assert" id="_ref_4794"><a href="#assert">Assert</a></emu-xref>: The <emu-xref href="#execution-context-stack" id="_ref_4795"><a href="#execution-context-stack">execution context stack</a></emu-xref> has at least two elements.</li><li>Let <var>callerContext</var> be the second to top element of the <emu-xref href="#execution-context-stack" id="_ref_4796"><a href="#execution-context-stack">execution context stack</a></emu-xref>.</li><li>Let <var>callerRealm</var> be <var>callerContext</var>'s <emu-xref href="#realm" id="_ref_4797"><a href="#realm">Realm</a></emu-xref>.</li><li>Let <var>calleeRealm</var> be <emu-xref href="#current-realm" id="_ref_4798"><a href="#current-realm">the current Realm Record</a></emu-xref>.</li><li>Perform ?&nbsp;<emu-xref aoid="HostEnsureCanCompileStrings" id="_ref_4799"><a href="#sec-hostensurecancompilestrings">HostEnsureCanCompileStrings</a></emu-xref>(<var>callerRealm</var>, <var>calleeRealm</var>).</li><li>Return ?&nbsp;<emu-xref aoid="PerformEval" id="_ref_4800"><a href="#sec-performeval">PerformEval</a></emu-xref>(<var>x</var>, <var>calleeRealm</var>, <emu-val>false</emu-val>, <emu-val>false</emu-val>).
      </li></ol></emu-alg>

      <emu-clause id="sec-performeval" aoid="PerformEval">
        <h1><span class="secnum">18.2.1.1</span>Runtime Semantics: PerformEval ( <var>x</var>, <var>evalRealm</var>, <var>strictCaller</var>, <var>direct</var> )</h1>
        <p>The abstract operation PerformEval with arguments <var>x</var>, <var>evalRealm</var>, <var>strictCaller</var>, and <var>direct</var> performs the following steps:</p>
        <emu-alg><ol><li><emu-xref href="#assert" id="_ref_4801"><a href="#assert">Assert</a></emu-xref>: If <var>direct</var> is <emu-val>false</emu-val>, then <var>strictCaller</var> is also <emu-val>false</emu-val>.</li><li>If <emu-xref aoid="Type" id="_ref_4802"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>x</var>) is not String, return <var>x</var>.</li><li>Let <var>thisEnvRec</var> be !&nbsp;<emu-xref aoid="GetThisEnvironment" id="_ref_4803"><a href="#sec-getthisenvironment">GetThisEnvironment</a></emu-xref>().</li><li>If <var>thisEnvRec</var> is a <emu-xref href="#sec-function-environment-records" id="_ref_4804"><a href="#sec-function-environment-records">function Environment Record</a></emu-xref>, then<ol><li>Let <var>F</var> be <var>thisEnvRec</var>.[[FunctionObject]].</li><li>Let <var>inFunction</var> be <emu-val>true</emu-val>.</li><li>Let <var>inMethod</var> be <var>thisEnvRec</var>.HasSuperBinding().</li><li>If <var>F</var>.[[ConstructorKind]] is <code>"derived"</code>, let <var>inDerivedConstructor</var> be <emu-val>true</emu-val>; otherwise, let <var>inDerivedConstructor</var> be <emu-val>false</emu-val>.</li></ol></li><li>Else,<ol><li>Let <var>inFunction</var> be <emu-val>false</emu-val>.</li><li>Let <var>inMethod</var> be <emu-val>false</emu-val>.</li><li>Let <var>inDerivedConstructor</var> be <emu-val>false</emu-val>.</li></ol></li><li>Let <var>script</var> be the ECMAScript code that is the result of parsing <var>x</var>, interpreted as UTF-16 encoded Unicode text as described in <emu-xref href="#sec-ecmascript-language-types-string-type" id="_ref_408"><a href="#sec-ecmascript-language-types-string-type">6.1.4</a></emu-xref>, for the <emu-xref href="#sec-context-free-grammars" id="_ref_4805"><a href="#sec-context-free-grammars">goal symbol</a></emu-xref> <emu-nt id="_ref_14291"><a href="#prod-Script">Script</a></emu-nt>. If <var>inFunction</var> is <emu-val>false</emu-val>, additional <emu-xref href="#early-error" id="_ref_4806"><a href="#early-error">early error</a></emu-xref> rules from <emu-xref href="#sec-performeval-rules-outside-functions" id="_ref_409"><a href="#sec-performeval-rules-outside-functions">18.2.1.1.1</a></emu-xref> are applied. If <var>inMethod</var> is <emu-val>false</emu-val>, additional <emu-xref href="#early-error" id="_ref_4807"><a href="#early-error">early error</a></emu-xref> rules from <emu-xref href="#sec-performeval-rules-outside-methods" id="_ref_410"><a href="#sec-performeval-rules-outside-methods">18.2.1.1.2</a></emu-xref> are applied. If <var>inDerivedConstructor</var> is <emu-val>false</emu-val>, additional <emu-xref href="#early-error" id="_ref_4808"><a href="#early-error">early error</a></emu-xref> rules from <emu-xref href="#sec-performeval-rules-outside-constructors" id="_ref_411"><a href="#sec-performeval-rules-outside-constructors">18.2.1.1.3</a></emu-xref> are applied. If the parse fails, throw a <emu-val>SyntaxError</emu-val> exception. If any early errors are detected, throw a <emu-val>SyntaxError</emu-val> or a <emu-val>ReferenceError</emu-val> exception, depending on the type of the error (but see also clause <emu-xref href="#sec-error-handling-and-language-extensions" id="_ref_412"><a href="#sec-error-handling-and-language-extensions">16</a></emu-xref>). Parsing and <emu-xref href="#early-error" id="_ref_4809"><a href="#early-error">early error</a></emu-xref> detection may be interweaved in an implementation-dependent manner.</li><li>If <var>script</var> Contains <emu-nt id="_ref_14292"><a href="#prod-ScriptBody">ScriptBody</a></emu-nt> is <emu-val>false</emu-val>, return <emu-val>undefined</emu-val>.</li><li>Let <var>body</var> be the <emu-nt id="_ref_14293"><a href="#prod-ScriptBody">ScriptBody</a></emu-nt> of <var>script</var>.</li><li>If <var>strictCaller</var> is <emu-val>true</emu-val>, let <var>strictEval</var> be <emu-val>true</emu-val>.</li><li>Else, let <var>strictEval</var> be IsStrict of <var>script</var>.</li><li>Let <var>ctx</var> be the <emu-xref href="#running-execution-context" id="_ref_4810"><a href="#running-execution-context">running execution context</a></emu-xref>.</li><li>NOTE: If <var>direct</var> is <emu-val>true</emu-val>, <var>ctx</var> will be the <emu-xref href="#sec-execution-contexts" id="_ref_4811"><a href="#sec-execution-contexts">execution context</a></emu-xref> that performed the <emu-xref href="#sec-function-calls-runtime-semantics-evaluation" id="_ref_4812"><a href="#sec-function-calls-runtime-semantics-evaluation">direct eval</a></emu-xref>. If <var>direct</var> is <emu-val>false</emu-val>, <var>ctx</var> will be the <emu-xref href="#sec-execution-contexts" id="_ref_4813"><a href="#sec-execution-contexts">execution context</a></emu-xref> for the invocation of the <code>eval</code> function.</li><li>If <var>direct</var> is <emu-val>true</emu-val>, then<ol><li>Let <var>lexEnv</var> be <emu-xref aoid="NewDeclarativeEnvironment" id="_ref_4814"><a href="#sec-newdeclarativeenvironment">NewDeclarativeEnvironment</a></emu-xref>(<var>ctx</var>'s LexicalEnvironment).</li><li>Let <var>varEnv</var> be <var>ctx</var>'s VariableEnvironment.</li></ol></li><li>Else,<ol><li>Let <var>lexEnv</var> be <emu-xref aoid="NewDeclarativeEnvironment" id="_ref_4815"><a href="#sec-newdeclarativeenvironment">NewDeclarativeEnvironment</a></emu-xref>(<var>evalRealm</var>.[[GlobalEnv]]).</li><li>Let <var>varEnv</var> be <var>evalRealm</var>.[[GlobalEnv]].</li></ol></li><li>If <var>strictEval</var> is <emu-val>true</emu-val>, set <var>varEnv</var> to <var>lexEnv</var>.</li><li>If <var>ctx</var> is not already suspended, suspend <var>ctx</var>.</li><li>Let <var>evalCxt</var> be a new ECMAScript code <emu-xref href="#sec-execution-contexts" id="_ref_4816"><a href="#sec-execution-contexts">execution context</a></emu-xref>.</li><li>Set the <var>evalCxt</var>'s Function to <emu-val>null</emu-val>.</li><li>Set the <var>evalCxt</var>'s <emu-xref href="#realm" id="_ref_4817"><a href="#realm">Realm</a></emu-xref> to <var>evalRealm</var>.</li><li>Set the <var>evalCxt</var>'s ScriptOrModule to <var>ctx</var>'s ScriptOrModule.</li><li>Set the <var>evalCxt</var>'s VariableEnvironment to <var>varEnv</var>.</li><li>Set the <var>evalCxt</var>'s LexicalEnvironment to <var>lexEnv</var>.</li><li>Push <var>evalCxt</var> on to the <emu-xref href="#execution-context-stack" id="_ref_4818"><a href="#execution-context-stack">execution context stack</a></emu-xref>; <var>evalCxt</var> is now the <emu-xref href="#running-execution-context" id="_ref_4819"><a href="#running-execution-context">running execution context</a></emu-xref>.</li><li>Let <var>result</var> be <emu-xref aoid="EvalDeclarationInstantiation" id="_ref_4820"><a href="#sec-evaldeclarationinstantiation">EvalDeclarationInstantiation</a></emu-xref>(<var>body</var>, <var>varEnv</var>, <var>lexEnv</var>, <var>strictEval</var>).</li><li>If <var>result</var>.[[Type]] is <emu-const>normal</emu-const>, then<ol><li>Set <var>result</var> to the result of evaluating <var>body</var>.</li></ol></li><li>If <var>result</var>.[[Type]] is <emu-const>normal</emu-const> and <var>result</var>.[[Value]] is <emu-const>empty</emu-const>, then<ol><li>Set <var>result</var> to <emu-xref aoid="NormalCompletion" id="_ref_4821"><a href="#sec-normalcompletion">NormalCompletion</a></emu-xref>(<emu-val>undefined</emu-val>).</li></ol></li><li><emu-xref aoid="Suspend" id="_ref_4822"><a href="#sec-suspend">Suspend</a></emu-xref> <var>evalCxt</var> and remove it from the <emu-xref href="#execution-context-stack" id="_ref_4823"><a href="#execution-context-stack">execution context stack</a></emu-xref>.</li><li>Resume the context that is now on the top of the <emu-xref href="#execution-context-stack" id="_ref_4824"><a href="#execution-context-stack">execution context stack</a></emu-xref> as the <emu-xref href="#running-execution-context" id="_ref_4825"><a href="#running-execution-context">running execution context</a></emu-xref>.</li><li>Return <emu-xref aoid="Completion" id="_ref_4826"><a href="#sec-completion-record-specification-type">Completion</a></emu-xref>(<var>result</var>).
        </li></ol></emu-alg>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p>The eval code cannot instantiate variable or function 
bindings in the variable environment of the calling context that invoked
 the eval if the calling context is evaluating formal parameter 
initializers or if either the code of the calling context or the eval 
code is <emu-xref href="#sec-strict-mode-code" id="_ref_4827"><a href="#sec-strict-mode-code">strict mode code</a></emu-xref>.
 Instead such bindings are instantiated in a new VariableEnvironment 
that is only accessible to the eval code. Bindings introduced by <code>let</code>, <code>const</code>, or <code>class</code> declarations are always instantiated in a new LexicalEnvironment.</p>
        </div></emu-note>

        <emu-clause id="sec-performeval-rules-outside-functions">
          <h1><span class="secnum">18.2.1.1.1</span>Additional Early Error Rules for Eval Outside Functions</h1>
          <p>These <emu-xref href="#sec-static-semantic-rules" id="_ref_4828"><a href="#sec-static-semantic-rules">static semantics</a></emu-xref> are applied by <emu-xref aoid="PerformEval" id="_ref_4829"><a href="#sec-performeval">PerformEval</a></emu-xref> when a <emu-xref href="#sec-function-calls-runtime-semantics-evaluation" id="_ref_4830"><a href="#sec-function-calls-runtime-semantics-evaluation">direct eval</a></emu-xref> call occurs outside of any function.</p>
          <emu-grammar><emu-production name="ScriptBody" collapsed="">
    <emu-nt><a href="#prod-ScriptBody">ScriptBody</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="cf403a0c"><emu-nt id="_ref_14294"><a href="#prod-StatementList">StatementList</a></emu-nt></emu-rhs>
</emu-production></emu-grammar>
          <ul>
            <li>It is a Syntax Error if <emu-nt id="_ref_14295"><a href="#prod-StatementList">StatementList</a></emu-nt> Contains <emu-nt id="_ref_14296"><a href="#prod-NewTarget">NewTarget</a></emu-nt>.</li>
          </ul>
        </emu-clause>

        <emu-clause id="sec-performeval-rules-outside-methods">
          <h1><span class="secnum">18.2.1.1.2</span>Additional Early Error Rules for Eval Outside Methods</h1>
          <p>These <emu-xref href="#sec-static-semantic-rules" id="_ref_4831"><a href="#sec-static-semantic-rules">static semantics</a></emu-xref> are applied by <emu-xref aoid="PerformEval" id="_ref_4832"><a href="#sec-performeval">PerformEval</a></emu-xref> when a <emu-xref href="#sec-function-calls-runtime-semantics-evaluation" id="_ref_4833"><a href="#sec-function-calls-runtime-semantics-evaluation">direct eval</a></emu-xref> call occurs outside of a <emu-nt id="_ref_14297"><a href="#prod-MethodDefinition">MethodDefinition</a></emu-nt>.</p>
          <emu-grammar><emu-production name="ScriptBody" collapsed="">
    <emu-nt><a href="#prod-ScriptBody">ScriptBody</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="cf403a0c"><emu-nt id="_ref_14298"><a href="#prod-StatementList">StatementList</a></emu-nt></emu-rhs>
</emu-production></emu-grammar>
          <ul>
            <li>It is a Syntax Error if <emu-nt id="_ref_14299"><a href="#prod-StatementList">StatementList</a></emu-nt> Contains <emu-nt id="_ref_14300"><a href="#prod-SuperProperty">SuperProperty</a></emu-nt>.</li>
          </ul>
        </emu-clause>

        <emu-clause id="sec-performeval-rules-outside-constructors">
          <h1><span class="secnum">18.2.1.1.3</span>Additional Early Error Rules for Eval Outside Constructor Methods</h1>
          <p>These <emu-xref href="#sec-static-semantic-rules" id="_ref_4834"><a href="#sec-static-semantic-rules">static semantics</a></emu-xref> are applied by <emu-xref aoid="PerformEval" id="_ref_4835"><a href="#sec-performeval">PerformEval</a></emu-xref> when a <emu-xref href="#sec-function-calls-runtime-semantics-evaluation" id="_ref_4836"><a href="#sec-function-calls-runtime-semantics-evaluation">direct eval</a></emu-xref> call occurs outside of the  <emu-xref href="#sec-static-semantics-constructormethod" id="_ref_413"><a href="#sec-static-semantics-constructormethod">constructor method</a></emu-xref> of a <emu-nt id="_ref_14301"><a href="#prod-ClassDeclaration">ClassDeclaration</a></emu-nt> or <emu-nt id="_ref_14302"><a href="#prod-ClassExpression">ClassExpression</a></emu-nt>.</p>
          <emu-grammar><emu-production name="ScriptBody" collapsed="">
    <emu-nt><a href="#prod-ScriptBody">ScriptBody</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="cf403a0c"><emu-nt id="_ref_14303"><a href="#prod-StatementList">StatementList</a></emu-nt></emu-rhs>
</emu-production></emu-grammar>
          <ul>
            <li>It is a Syntax Error if <emu-nt id="_ref_14304"><a href="#prod-StatementList">StatementList</a></emu-nt> Contains <emu-nt id="_ref_14305"><a href="#prod-SuperCall">SuperCall</a></emu-nt>.</li>
          </ul>
        </emu-clause>
      </emu-clause>

      <emu-clause id="sec-hostensurecancompilestrings" aoid="HostEnsureCanCompileStrings">
        <h1><span class="secnum">18.2.1.2</span>HostEnsureCanCompileStrings ( <var>callerRealm</var>, <var>calleeRealm</var> )</h1>

        <p>HostEnsureCanCompileStrings is an implementation-defined 
abstract operation that allows host environments to block certain 
ECMAScript functions which allow developers to compile strings into 
ECMAScript code.</p>

        <p>An implementation of HostEnsureCanCompileStrings may complete
 normally or abruptly. Any abrupt completions will be propagated to its 
callers. The default implementation of HostEnsureCanCompileStrings is to
 unconditionally return an empty normal completion.</p>
      </emu-clause>

      <emu-clause id="sec-evaldeclarationinstantiation" aoid="EvalDeclarationInstantiation">
        <h1><span class="secnum">18.2.1.3</span>Runtime Semantics: EvalDeclarationInstantiation ( <var>body</var>, <var>varEnv</var>, <var>lexEnv</var>, <var>strict</var> )</h1>
        <p>When the abstract operation EvalDeclarationInstantiation is called with arguments <var>body</var>, <var>varEnv</var>, <var>lexEnv</var>, and <var>strict</var>, the following steps are taken:</p>
        <!--
          WARNING: If you add, remove, rename, or repurpose any variable names
                   within this algorithm, you may need to update
                   #sec-web-compat-evaldeclarationinstantiation and
                   #sec-variablestatements-in-catch-blocks accordingly.
        -->
        <emu-alg><ol><li>Let <var>varNames</var> be the VarDeclaredNames of <var>body</var>.</li><li>Let <var>varDeclarations</var> be the VarScopedDeclarations of <var>body</var>.</li><li>Let <var>lexEnvRec</var> be <var>lexEnv</var>'s <emu-xref href="#sec-lexical-environments" id="_ref_4837"><a href="#sec-lexical-environments">EnvironmentRecord</a></emu-xref>.</li><li>Let <var>varEnvRec</var> be <var>varEnv</var>'s <emu-xref href="#sec-lexical-environments" id="_ref_4838"><a href="#sec-lexical-environments">EnvironmentRecord</a></emu-xref>.</li><li>If <var>strict</var> is <emu-val>false</emu-val>, then<ol><li>If <var>varEnvRec</var> is a global <emu-xref href="#sec-environment-records" id="_ref_4839"><a href="#sec-environment-records">Environment Record</a></emu-xref>, then<ol><li>For each <var>name</var> in <var>varNames</var>, do<ol><li>If <var>varEnvRec</var>.HasLexicalDeclaration(<var>name</var>) is <emu-val>true</emu-val>, throw a <emu-val>SyntaxError</emu-val> exception.</li><li>NOTE: <code>eval</code> will not create a global var declaration that would be shadowed by a global lexical declaration.</li></ol></li></ol></li><li>Let <var>thisLex</var> be <var>lexEnv</var>.</li><li><emu-xref href="#assert" id="_ref_4840"><a href="#assert">Assert</a></emu-xref>: The following loop will terminate.</li><li>Repeat, while <var>thisLex</var> is not the same as <var>varEnv</var>,<ol><li>Let <var>thisEnvRec</var> be <var>thisLex</var>'s <emu-xref href="#sec-lexical-environments" id="_ref_4841"><a href="#sec-lexical-environments">EnvironmentRecord</a></emu-xref>.</li><li>If <var>thisEnvRec</var> is not an object <emu-xref href="#sec-environment-records" id="_ref_4842"><a href="#sec-environment-records">Environment Record</a></emu-xref>, then<ol><li>NOTE:
 The environment of with statements cannot contain any lexical 
declaration so it doesn't need to be checked for var/let hoisting 
conflicts.</li><li>For each <var>name</var> in <var>varNames</var>, do<ol><li>If <var>thisEnvRec</var>.HasBinding(<var>name</var>) is <emu-val>true</emu-val>, then<ol><li>Throw a <emu-val>SyntaxError</emu-val> exception.</li><li>NOTE: Annex <emu-xref href="#sec-variablestatements-in-catch-blocks" id="_ref_414"><a href="#sec-variablestatements-in-catch-blocks">B.3.5</a></emu-xref> defines alternate semantics for the above step.</li></ol></li><li>NOTE: A <emu-xref href="#sec-function-calls-runtime-semantics-evaluation" id="_ref_4843"><a href="#sec-function-calls-runtime-semantics-evaluation">direct eval</a></emu-xref> will not hoist var declaration over a like-named lexical declaration.</li></ol></li></ol></li><li>Set <var>thisLex</var> to <var>thisLex</var>'s outer environment reference.</li></ol></li></ol></li><li>Let <var>functionsToInitialize</var> be a new empty <emu-xref href="#sec-list-and-record-specification-type" id="_ref_4844"><a href="#sec-list-and-record-specification-type">List</a></emu-xref>.</li><li>Let <var>declaredFunctionNames</var> be a new empty <emu-xref href="#sec-list-and-record-specification-type" id="_ref_4845"><a href="#sec-list-and-record-specification-type">List</a></emu-xref>.</li><li>For each <var>d</var> in <var>varDeclarations</var>, in reverse list order, do<ol><li>If <var>d</var> is neither a <emu-nt id="_ref_14306"><a href="#prod-VariableDeclaration">VariableDeclaration</a></emu-nt> nor a <emu-nt id="_ref_14307"><a href="#prod-ForBinding">ForBinding</a></emu-nt> nor a <emu-nt id="_ref_14308"><a href="#prod-BindingIdentifier">BindingIdentifier</a></emu-nt>, then<ol><li><emu-xref href="#assert" id="_ref_4846"><a href="#assert">Assert</a></emu-xref>: <var>d</var> is either a <emu-nt id="_ref_14309"><a href="#prod-FunctionDeclaration">FunctionDeclaration</a></emu-nt>, a <emu-nt id="_ref_14310"><a href="#prod-GeneratorDeclaration">GeneratorDeclaration</a></emu-nt>, an <emu-nt id="_ref_14311"><a href="#prod-AsyncFunctionDeclaration">AsyncFunctionDeclaration</a></emu-nt>, or an <emu-nt id="_ref_14312"><a href="#prod-AsyncGeneratorDeclaration">AsyncGeneratorDeclaration</a></emu-nt>.</li><li>NOTE: If there are multiple function declarations for the same name, the last declaration is used.</li><li>Let <var>fn</var> be the sole element of the BoundNames of <var>d</var>.</li><li>If <var>fn</var> is not an element of <var>declaredFunctionNames</var>, then<ol><li>If <var>varEnvRec</var> is a global <emu-xref href="#sec-environment-records" id="_ref_4847"><a href="#sec-environment-records">Environment Record</a></emu-xref>, then<ol><li>Let <var>fnDefinable</var> be ? <var>varEnvRec</var>.CanDeclareGlobalFunction(<var>fn</var>).</li><li>If <var>fnDefinable</var> is <emu-val>false</emu-val>, throw a <emu-val>TypeError</emu-val> exception.</li></ol></li><li>Append <var>fn</var> to <var>declaredFunctionNames</var>.</li><li>Insert <var>d</var> as the first element of <var>functionsToInitialize</var>.</li></ol></li></ol></li></ol></li><li>NOTE: Annex <emu-xref href="#sec-web-compat-evaldeclarationinstantiation" id="_ref_415"><a href="#sec-web-compat-evaldeclarationinstantiation">B.3.3.3</a></emu-xref> adds additional steps at this point.</li><li>Let <var>declaredVarNames</var> be a new empty <emu-xref href="#sec-list-and-record-specification-type" id="_ref_4848"><a href="#sec-list-and-record-specification-type">List</a></emu-xref>.</li><li>For each <var>d</var> in <var>varDeclarations</var>, do<ol><li>If <var>d</var> is a <emu-nt id="_ref_14313"><a href="#prod-VariableDeclaration">VariableDeclaration</a></emu-nt>, a <emu-nt id="_ref_14314"><a href="#prod-ForBinding">ForBinding</a></emu-nt>, or a <emu-nt id="_ref_14315"><a href="#prod-BindingIdentifier">BindingIdentifier</a></emu-nt>, then<ol><li>For each String <var>vn</var> in the BoundNames of <var>d</var>, do<ol><li>If <var>vn</var> is not an element of <var>declaredFunctionNames</var>, then<ol><li>If <var>varEnvRec</var> is a global <emu-xref href="#sec-environment-records" id="_ref_4849"><a href="#sec-environment-records">Environment Record</a></emu-xref>, then<ol><li>Let <var>vnDefinable</var> be ? <var>varEnvRec</var>.CanDeclareGlobalVar(<var>vn</var>).</li><li>If <var>vnDefinable</var> is <emu-val>false</emu-val>, throw a <emu-val>TypeError</emu-val> exception.</li></ol></li><li>If <var>vn</var> is not an element of <var>declaredVarNames</var>, then<ol><li>Append <var>vn</var> to <var>declaredVarNames</var>.</li></ol></li></ol></li></ol></li></ol></li></ol></li><li>NOTE: No abnormal terminations occur after this algorithm step unless <var>varEnvRec</var> is a global <emu-xref href="#sec-environment-records" id="_ref_4850"><a href="#sec-environment-records">Environment Record</a></emu-xref> and the <emu-xref href="#sec-global-object" id="_ref_4851"><a href="#sec-global-object">global object</a></emu-xref> is a Proxy <emu-xref href="#exotic-object" id="_ref_4852"><a href="#exotic-object">exotic object</a></emu-xref>.</li><li>Let <var>lexDeclarations</var> be the LexicallyScopedDeclarations of <var>body</var>.</li><li>For each element <var>d</var> in <var>lexDeclarations</var>, do<ol><li>NOTE: Lexically declared names are only instantiated here but not initialized.</li><li>For each element <var>dn</var> of the BoundNames of <var>d</var>, do<ol><li>If IsConstantDeclaration of <var>d</var> is <emu-val>true</emu-val>, then<ol><li>Perform ? <var>lexEnvRec</var>.CreateImmutableBinding(<var>dn</var>, <emu-val>true</emu-val>).</li></ol></li><li>Else,<ol><li>Perform ? <var>lexEnvRec</var>.CreateMutableBinding(<var>dn</var>, <emu-val>false</emu-val>).</li></ol></li></ol></li></ol></li><li>For each <emu-xref href="#sec-syntactic-grammar" id="_ref_4853"><a href="#sec-syntactic-grammar">Parse Node</a></emu-xref> <var>f</var> in <var>functionsToInitialize</var>, do<ol><li>Let <var>fn</var> be the sole element of the BoundNames of <var>f</var>.</li><li>Let <var>fo</var> be the result of performing InstantiateFunctionObject for <var>f</var> with argument <var>lexEnv</var>.</li><li>If <var>varEnvRec</var> is a global <emu-xref href="#sec-environment-records" id="_ref_4854"><a href="#sec-environment-records">Environment Record</a></emu-xref>, then<ol><li>Perform ? <var>varEnvRec</var>.CreateGlobalFunctionBinding(<var>fn</var>, <var>fo</var>, <emu-val>true</emu-val>).</li></ol></li><li>Else,<ol><li>Let <var>bindingExists</var> be <var>varEnvRec</var>.HasBinding(<var>fn</var>).</li><li>If <var>bindingExists</var> is <emu-val>false</emu-val>, then<ol><li>Let <var>status</var> be ! <var>varEnvRec</var>.CreateMutableBinding(<var>fn</var>, <emu-val>true</emu-val>).</li><li><emu-xref href="#assert" id="_ref_4855"><a href="#assert">Assert</a></emu-xref>: <var>status</var> is not an <emu-xref href="#sec-completion-record-specification-type" id="_ref_4856"><a href="#sec-completion-record-specification-type">abrupt completion</a></emu-xref> because of validation preceding step 12.</li><li>Perform ! <var>varEnvRec</var>.InitializeBinding(<var>fn</var>, <var>fo</var>).</li></ol></li><li>Else,<ol><li>Perform ! <var>varEnvRec</var>.SetMutableBinding(<var>fn</var>, <var>fo</var>, <emu-val>false</emu-val>).</li></ol></li></ol></li></ol></li><li>For each String <var>vn</var> in <var>declaredVarNames</var>, in list order, do<ol><li>If <var>varEnvRec</var> is a global <emu-xref href="#sec-environment-records" id="_ref_4857"><a href="#sec-environment-records">Environment Record</a></emu-xref>, then<ol><li>Perform ? <var>varEnvRec</var>.CreateGlobalVarBinding(<var>vn</var>, <emu-val>true</emu-val>).</li></ol></li><li>Else,<ol><li>Let <var>bindingExists</var> be <var>varEnvRec</var>.HasBinding(<var>vn</var>).</li><li>If <var>bindingExists</var> is <emu-val>false</emu-val>, then<ol><li>Let <var>status</var> be ! <var>varEnvRec</var>.CreateMutableBinding(<var>vn</var>, <emu-val>true</emu-val>).</li><li><emu-xref href="#assert" id="_ref_4858"><a href="#assert">Assert</a></emu-xref>: <var>status</var> is not an <emu-xref href="#sec-completion-record-specification-type" id="_ref_4859"><a href="#sec-completion-record-specification-type">abrupt completion</a></emu-xref> because of validation preceding step 12.</li><li>Perform ! <var>varEnvRec</var>.InitializeBinding(<var>vn</var>, <emu-val>undefined</emu-val>).</li></ol></li></ol></li></ol></li><li>Return <emu-xref aoid="NormalCompletion" id="_ref_4860"><a href="#sec-normalcompletion">NormalCompletion</a></emu-xref>(<emu-const>empty</emu-const>).
        </li></ol></emu-alg>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p>An alternative version of this algorithm is described in  <emu-xref href="#sec-variablestatements-in-catch-blocks" id="_ref_416"><a href="#sec-variablestatements-in-catch-blocks">B.3.5</a></emu-xref>.</p>
        </div></emu-note>
      </emu-clause>
    </emu-clause>

    <emu-clause id="sec-isfinite-number">
      <h1><span class="secnum">18.2.2</span>isFinite ( <var>number</var> )</h1>
      <p>The <code>isFinite</code> function is the  <dfn>%isFinite%</dfn> intrinsic object. When the <code>isFinite</code> function is called with one argument <var>number</var>, the following steps are taken:</p>
      <emu-alg><ol><li>Let <var>num</var> be ?&nbsp;<emu-xref aoid="ToNumber" id="_ref_4861"><a href="#sec-tonumber">ToNumber</a></emu-xref>(<var>number</var>).</li><li>If <var>num</var> is <emu-val>NaN</emu-val>, <emu-val>+∞</emu-val>, or <emu-val>-∞</emu-val>, return <emu-val>false</emu-val>.</li><li>Otherwise, return <emu-val>true</emu-val>.
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-isnan-number">
      <h1><span class="secnum">18.2.3</span>isNaN ( <var>number</var> )</h1>
      <p>The <code>isNaN</code> function is the  <dfn>%isNaN%</dfn> intrinsic object. When the <code>isNaN</code> function is called with one argument <var>number</var>, the following steps are taken:</p>
      <emu-alg><ol><li>Let <var>num</var> be ?&nbsp;<emu-xref aoid="ToNumber" id="_ref_4862"><a href="#sec-tonumber">ToNumber</a></emu-xref>(<var>number</var>).</li><li>If <var>num</var> is <emu-val>NaN</emu-val>, return <emu-val>true</emu-val>.</li><li>Otherwise, return <emu-val>false</emu-val>.
      </li></ol></emu-alg>
      <emu-note><span class="note">Note</span><div class="note-contents">
        <p>A reliable way for ECMAScript code to test if a value <code>X</code> is a <emu-val>NaN</emu-val> is an expression of the form <code>X !== X</code>. The result will be <emu-val>true</emu-val> if and only if <code>X</code> is a <emu-val>NaN</emu-val>.</p>
      </div></emu-note>
    </emu-clause>

    <emu-clause id="sec-parsefloat-string">
      <h1><span class="secnum">18.2.4</span>parseFloat ( <var>string</var> )</h1>
      <p>The <code>parseFloat</code> function produces a Number value dictated by interpretation of the contents of the <var>string</var> argument as a decimal literal.</p>
      <p>The <code>parseFloat</code> function is the  <dfn>%parseFloat%</dfn> intrinsic object. When the <code>parseFloat</code> function is called with one argument <var>string</var>, the following steps are taken:</p>
      <emu-alg><ol><li>Let <var>inputString</var> be ?&nbsp;<emu-xref aoid="ToString" id="_ref_4863"><a href="#sec-tostring">ToString</a></emu-xref>(<var>string</var>).</li><li>Let <var>trimmedString</var> be a substring of <var>inputString</var> consisting of the leftmost code unit that is not a <emu-nt id="_ref_14316"><a href="#prod-StrWhiteSpaceChar">StrWhiteSpaceChar</a></emu-nt> and all code units to the right of that code unit. (In other words, remove leading white space.) If <var>inputString</var> does not contain any such code units, let <var>trimmedString</var> be the empty string.</li><li>If neither <var>trimmedString</var> nor any prefix of <var>trimmedString</var> satisfies the syntax of a <emu-nt id="_ref_14317"><a href="#prod-StrDecimalLiteral">StrDecimalLiteral</a></emu-nt> (see <emu-xref href="#sec-tonumber-applied-to-the-string-type" id="_ref_417"><a href="#sec-tonumber-applied-to-the-string-type">7.1.3.1</a></emu-xref>), return <emu-val>NaN</emu-val>.</li><li>Let <var>numberString</var> be the longest prefix of <var>trimmedString</var>, which might be <var>trimmedString</var> itself, that satisfies the syntax of a <emu-nt id="_ref_14318"><a href="#prod-StrDecimalLiteral">StrDecimalLiteral</a></emu-nt>.</li><li>Let <var>mathFloat</var> be MV of <var>numberString</var>.</li><li>If <var>mathFloat</var> = 0, then<ol><li>If the first code unit of <var>trimmedString</var> is the code unit 0x002D (HYPHEN-MINUS), return <emu-val>-0</emu-val>.</li><li>Return <emu-val>+0</emu-val>.</li></ol></li><li>Return the Number value for <var>mathFloat</var>.
      </li></ol></emu-alg>
      <emu-note><span class="note">Note</span><div class="note-contents">
        <p><code>parseFloat</code> may interpret only a leading portion of <var>string</var>
 as a Number value; it ignores any code units that cannot be interpreted
 as part of the notation of a decimal literal, and no indication is 
given that any such code units were ignored.</p>
      </div></emu-note>
    </emu-clause>

    <emu-clause id="sec-parseint-string-radix">
      <h1><span class="secnum">18.2.5</span>parseInt ( <var>string</var>, <var>radix</var> )</h1>
      <p>The <code>parseInt</code> function produces an integer value dictated by interpretation of the contents of the <var>string</var> argument according to the specified <var>radix</var>. Leading white space in <var>string</var> is ignored. If <var>radix</var> is <emu-val>undefined</emu-val> or 0, it is assumed to be 10 except when the number begins with the code unit pairs <code>0x</code> or <code>0X</code>, in which case a radix of 16 is assumed. If <var>radix</var> is 16, the number may also optionally begin with the code unit pairs <code>0x</code> or <code>0X</code>.</p>
      <p>The <code>parseInt</code> function is the  <dfn>%parseInt%</dfn> intrinsic object. When the <code>parseInt</code> function is called, the following steps are taken:</p>
      <emu-alg><ol><li>Let <var>inputString</var> be ?&nbsp;<emu-xref aoid="ToString" id="_ref_4864"><a href="#sec-tostring">ToString</a></emu-xref>(<var>string</var>).</li><li>Let <var>S</var> be a newly created substring of <var>inputString</var> consisting of the first code unit that is not a <emu-nt id="_ref_14319"><a href="#prod-StrWhiteSpaceChar">StrWhiteSpaceChar</a></emu-nt> and all code units following that code unit. (In other words, remove leading white space.) If <var>inputString</var> does not contain any such code unit, let <var>S</var> be the empty string.</li><li>Let <var>sign</var> be 1.</li><li>If <var>S</var> is not empty and the first code unit of <var>S</var> is the code unit 0x002D (HYPHEN-MINUS), set <var>sign</var> to -1.</li><li>If <var>S</var> is not empty and the first code unit of <var>S</var> is the code unit 0x002B (PLUS SIGN) or the code unit 0x002D (HYPHEN-MINUS), remove the first code unit from <var>S</var>.</li><li>Let <var>R</var> be ?&nbsp;<emu-xref aoid="ToInt32" id="_ref_4865"><a href="#sec-toint32">ToInt32</a></emu-xref>(<var>radix</var>).</li><li>Let <var>stripPrefix</var> be <emu-val>true</emu-val>.</li><li>If <var>R</var> ≠ 0, then<ol><li>If <var>R</var> &lt; 2 or <var>R</var> &gt; 36, return <emu-val>NaN</emu-val>.</li><li>If <var>R</var> ≠ 16, set <var>stripPrefix</var> to <emu-val>false</emu-val>.</li></ol></li><li>Else <var>R</var> = 0,<ol><li>Set <var>R</var> to 10.</li></ol></li><li>If <var>stripPrefix</var> is <emu-val>true</emu-val>, then<ol><li>If the length of <var>S</var> is at least 2 and the first two code units of <var>S</var> are either <code>"0x"</code> or <code>"0X"</code>, then<ol><li>Remove the first two code units from <var>S</var>.</li><li>Set <var>R</var> to 16.</li></ol></li></ol></li><li>If <var>S</var> contains a code unit that is not a radix-<var>R</var> digit, let <var>Z</var> be the substring of <var>S</var> consisting of all code units before the first such code unit; otherwise, let <var>Z</var> be <var>S</var>.</li><li>If <var>Z</var> is empty, return <emu-val>NaN</emu-val>.</li><li>Let <var>mathInt</var> be the mathematical integer value that is represented by <var>Z</var> in radix-<var>R</var> notation, using the letters <b>A</b>-<b>Z</b> and <b>a</b>-<b>z</b> for digits with values 10 through 35. (However, if <var>R</var> is 10 and <var>Z</var>
 contains more than 20 significant digits, every significant digit after
 the 20th may be replaced by a 0 digit, at the option of the 
implementation; and if <var>R</var> is not 2, 4, 8, 10, 16, or 32, then <var>mathInt</var> may be an implementation-dependent approximation to the mathematical integer value that is represented by <var>Z</var> in radix-<var>R</var> notation.)</li><li>If <var>mathInt</var> = 0, then<ol><li>If <var>sign</var> = -1, return <emu-val>-0</emu-val>.</li><li>Return <emu-val>+0</emu-val>.</li></ol></li><li>Let <var>number</var> be the Number value for <var>mathInt</var>.</li><li>Return <var>sign</var> × <var>number</var>.
      </li></ol></emu-alg>
      <emu-note><span class="note">Note</span><div class="note-contents">
        <p><code>parseInt</code> may interpret only a leading portion of <var>string</var>
 as an integer value; it ignores any code units that cannot be 
interpreted as part of the notation of an integer, and no indication is 
given that any such code units were ignored.</p>
      </div></emu-note>
    </emu-clause>

    <emu-clause id="sec-uri-handling-functions">
      <h1><span class="secnum">18.2.6</span>URI Handling Functions</h1>
      <p>Uniform Resource Identifiers, or URIs, are Strings that 
identify resources (e.g. web pages or files) and transport protocols by 
which to access them (e.g. HTTP or FTP) on the Internet. The ECMAScript 
language itself does not provide any support for using URIs except for 
functions that encode and decode URIs as described in  <emu-xref href="#sec-decodeuri-encodeduri" id="_ref_418"><a href="#sec-decodeuri-encodeduri">18.2.6.2</a></emu-xref>,  <emu-xref href="#sec-decodeuricomponent-encodeduricomponent" id="_ref_419"><a href="#sec-decodeuricomponent-encodeduricomponent">18.2.6.3</a></emu-xref>,  <emu-xref href="#sec-encodeuri-uri" id="_ref_420"><a href="#sec-encodeuri-uri">18.2.6.4</a></emu-xref> and  <emu-xref href="#sec-encodeuricomponent-uricomponent" id="_ref_421"><a href="#sec-encodeuricomponent-uricomponent">18.2.6.5</a></emu-xref></p>
      <emu-note><span class="note">Note</span><div class="note-contents">
        <p>Many implementations of ECMAScript provide additional 
functions and methods that manipulate web pages; these functions are 
beyond the scope of this standard.</p>
      </div></emu-note>

      <emu-clause id="sec-uri-syntax-and-semantics">
        <h1><span class="secnum">18.2.6.1</span>URI Syntax and Semantics</h1>
        <p>A URI is composed of a sequence of components separated by component separators. The general form is:</p>
        <div class="rhs">
          <emu-nt>Scheme</emu-nt> <code>:</code> <emu-nt>First</emu-nt> <code>/</code> <emu-nt>Second</emu-nt> <code>;</code> <emu-nt>Third</emu-nt> <code>?</code> <emu-nt>Fourth</emu-nt>
        
        </div>
        <p>where the italicized names represent components and “<code>:</code>”, “<code>/</code>”, “<code>;</code>” and “<code>?</code>” are reserved for use as separators. The <code>encodeURI</code> and <code>decodeURI</code>
 functions are intended to work with complete URIs; they assume that any
 reserved code units in the URI are intended to have special meaning and
 so are not encoded. The <code>encodeURIComponent</code> and <code>decodeURIComponent</code>
 functions are intended to work with the individual component parts of a
 URI; they assume that any reserved code units represent text and so 
must be encoded so that they are not interpreted as reserved code units 
when the component is part of a complete URI.</p>
        <p>The following lexical grammar specifies the form of encoded URIs.</p>
        <h2>Syntax</h2>
        <emu-grammar type="definition"><emu-production name="uri" type="regexp" id="prod-uri">
    <emu-nt><a href="#prod-uri">uri</a></emu-nt><emu-geq>:::</emu-geq><emu-rhs a="0a700980"><emu-nt optional="" id="_ref_14320"><a href="#prod-uriCharacters">uriCharacters</a><emu-mods><emu-opt>opt</emu-opt></emu-mods></emu-nt></emu-rhs>
</emu-production>
<emu-production name="uriCharacters" type="regexp" id="prod-uriCharacters">
    <emu-nt><a href="#prod-uriCharacters">uriCharacters</a></emu-nt><emu-geq>:::</emu-geq><emu-rhs a="1440f450"><emu-nt id="_ref_14321"><a href="#prod-uriCharacter">uriCharacter</a></emu-nt><emu-nt optional="" id="_ref_14322"><a href="#prod-uriCharacters">uriCharacters</a><emu-mods><emu-opt>opt</emu-opt></emu-mods></emu-nt></emu-rhs>
</emu-production>
<emu-production name="uriCharacter" type="regexp" id="prod-uriCharacter">
    <emu-nt><a href="#prod-uriCharacter">uriCharacter</a></emu-nt><emu-geq>:::</emu-geq><emu-rhs a="345fa263"><emu-nt id="_ref_14323"><a href="#prod-uriReserved">uriReserved</a></emu-nt></emu-rhs>
    <emu-rhs a="032a420c"><emu-nt id="_ref_14324"><a href="#prod-uriUnescaped">uriUnescaped</a></emu-nt></emu-rhs>
    <emu-rhs a="c9e0cc22"><emu-nt id="_ref_14325"><a href="#prod-uriEscaped">uriEscaped</a></emu-nt></emu-rhs>
</emu-production>
<emu-production name="uriReserved" type="regexp" oneof="" id="prod-uriReserved">
    <emu-nt><a href="#prod-uriReserved">uriReserved</a></emu-nt><emu-geq>:::</emu-geq><emu-oneof>one of</emu-oneof><emu-rhs><emu-t>;</emu-t><emu-t>/</emu-t><emu-t>?</emu-t><emu-t>:</emu-t><emu-t>@</emu-t><emu-t>&amp;</emu-t><emu-t>=</emu-t><emu-t>+</emu-t><emu-t>$</emu-t><emu-t>,</emu-t></emu-rhs>
</emu-production>
<emu-production name="uriUnescaped" type="regexp" id="prod-uriUnescaped">
    <emu-nt><a href="#prod-uriUnescaped">uriUnescaped</a></emu-nt><emu-geq>:::</emu-geq><emu-rhs a="a3a1eef4"><emu-nt id="_ref_14326"><a href="#prod-uriAlpha">uriAlpha</a></emu-nt></emu-rhs>
    <emu-rhs a="b3831ee0"><emu-nt id="_ref_14327"><a href="#prod-DecimalDigit">DecimalDigit</a></emu-nt></emu-rhs>
    <emu-rhs a="14f39e10"><emu-nt id="_ref_14328"><a href="#prod-uriMark">uriMark</a></emu-nt></emu-rhs>
</emu-production>
<emu-production name="uriEscaped" type="regexp" id="prod-uriEscaped">
    <emu-nt><a href="#prod-uriEscaped">uriEscaped</a></emu-nt><emu-geq>:::</emu-geq><emu-rhs a="43658761"><emu-t>%</emu-t><emu-nt id="_ref_14329"><a href="#prod-HexDigit">HexDigit</a></emu-nt><emu-nt id="_ref_14330"><a href="#prod-HexDigit">HexDigit</a></emu-nt></emu-rhs>
</emu-production>
<emu-production name="uriAlpha" type="regexp" oneof="" id="prod-uriAlpha">
    <emu-nt><a href="#prod-uriAlpha">uriAlpha</a></emu-nt><emu-geq>:::</emu-geq><emu-oneof>one of</emu-oneof><emu-rhs><emu-t>a</emu-t><emu-t>b</emu-t><emu-t>c</emu-t><emu-t>d</emu-t><emu-t>e</emu-t><emu-t>f</emu-t><emu-t>g</emu-t><emu-t>h</emu-t><emu-t>i</emu-t><emu-t>j</emu-t><emu-t>k</emu-t><emu-t>l</emu-t><emu-t>m</emu-t><emu-t>n</emu-t><emu-t>o</emu-t><emu-t>p</emu-t><emu-t>q</emu-t><emu-t>r</emu-t><emu-t>s</emu-t><emu-t>t</emu-t><emu-t>u</emu-t><emu-t>v</emu-t><emu-t>w</emu-t><emu-t>x</emu-t><emu-t>y</emu-t><emu-t>z</emu-t><emu-t>A</emu-t><emu-t>B</emu-t><emu-t>C</emu-t><emu-t>D</emu-t><emu-t>E</emu-t><emu-t>F</emu-t><emu-t>G</emu-t><emu-t>H</emu-t><emu-t>I</emu-t><emu-t>J</emu-t><emu-t>K</emu-t><emu-t>L</emu-t><emu-t>M</emu-t><emu-t>N</emu-t><emu-t>O</emu-t><emu-t>P</emu-t><emu-t>Q</emu-t><emu-t>R</emu-t><emu-t>S</emu-t><emu-t>T</emu-t><emu-t>U</emu-t><emu-t>V</emu-t><emu-t>W</emu-t><emu-t>X</emu-t><emu-t>Y</emu-t><emu-t>Z</emu-t></emu-rhs>
</emu-production>
<emu-production name="uriMark" type="regexp" oneof="" id="prod-uriMark">
    <emu-nt><a href="#prod-uriMark">uriMark</a></emu-nt><emu-geq>:::</emu-geq><emu-oneof>one of</emu-oneof><emu-rhs><emu-t>-</emu-t><emu-t>_</emu-t><emu-t>.</emu-t><emu-t>!</emu-t><emu-t>~</emu-t><emu-t>*</emu-t><emu-t>'</emu-t><emu-t>(</emu-t><emu-t>)</emu-t></emu-rhs>
</emu-production></emu-grammar>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p>The above syntax is based upon RFC 2396 and does not reflect changes introduced by the more recent RFC 3986.</p>
        </div></emu-note>
        <h2>Runtime Semantics</h2>
        <p>When a code unit to be included in a URI is not listed above 
or is not intended to have the special meaning sometimes given to the 
reserved code units, that code unit must be encoded. The code unit is 
transformed into its UTF-8 encoding, with  <emu-xref href="#surrogate-pair" id="_ref_422"><a href="#surrogate-pair">surrogate pairs</a></emu-xref>
 first converted from UTF-16 to the corresponding code point value. 
(Note that for code units in the range [0, 127] this results in a single
 octet with the same value.) The resulting sequence of octets is then 
transformed into a String with each octet represented by an escape 
sequence of the form <code>"%xx"</code>.</p>

        <emu-clause id="sec-encode" aoid="Encode">
          <h1><span class="secnum">18.2.6.1.1</span>Runtime Semantics: Encode ( <var>string</var>, <var>unescapedSet</var> )</h1>
          <p>The encoding and escaping process is described by the abstract operation Encode taking two String arguments <var>string</var> and <var>unescapedSet</var>.</p>
          <emu-alg><ol><li>Let <var>strLen</var> be the number of code units in <var>string</var>.</li><li>Let <var>R</var> be the empty String.</li><li>Let <var>k</var> be 0.</li><li>Repeat,<ol><li>If <var>k</var> equals <var>strLen</var>, return <var>R</var>.</li><li>Let <var>C</var> be the code unit at index <var>k</var> within <var>string</var>.</li><li>If <var>C</var> is in <var>unescapedSet</var>, then<ol><li>Let <var>S</var> be the String value containing only the code unit <var>C</var>.</li><li>Set <var>R</var> to the <emu-xref href="#sec-ecmascript-language-types-string-type" id="_ref_4866"><a href="#sec-ecmascript-language-types-string-type">string-concatenation</a></emu-xref> of the previous value of <var>R</var> and <var>S</var>.</li></ol></li><li>Else <var>C</var> is not in <var>unescapedSet</var>,<ol><li>If <var>C</var> is a <emu-xref href="#trailing-surrogate" id="_ref_423"><a href="#trailing-surrogate">trailing surrogate</a></emu-xref>, throw a <emu-val>URIError</emu-val> exception.</li><li>If <var>C</var> is not a <emu-xref href="#leading-surrogate" id="_ref_424"><a href="#leading-surrogate">leading surrogate</a></emu-xref>, then<ol><li>Let <var>V</var> be the code point with the same numeric value as code unit <var>C</var>.</li></ol></li><li>Else,<ol><li>Increase <var>k</var> by 1.</li><li>If <var>k</var> equals <var>strLen</var>, throw a <emu-val>URIError</emu-val> exception.</li><li>Let <var>kChar</var> be the code unit at index <var>k</var> within <var>string</var>.</li><li>If <var>kChar</var> is not a <emu-xref href="#trailing-surrogate" id="_ref_425"><a href="#trailing-surrogate">trailing surrogate</a></emu-xref>, throw a <emu-val>URIError</emu-val> exception.</li><li>Let <var>V</var> be <emu-xref aoid="UTF16Decode" id="_ref_4867"><a href="#sec-utf16decode">UTF16Decode</a></emu-xref>(<var>C</var>, <var>kChar</var>).</li></ol></li><li>Let <var>Octets</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_4868"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> of octets resulting by applying the UTF-8 transformation to <var>V</var>.</li><li>For each element <var>octet</var> of <var>Octets</var> in <emu-xref href="#sec-list-and-record-specification-type" id="_ref_4869"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> order, do<ol><li>Let <var>S</var> be the <emu-xref href="#sec-ecmascript-language-types-string-type" id="_ref_4870"><a href="#sec-ecmascript-language-types-string-type">string-concatenation</a></emu-xref> of:<ul><li><code>"%"</code></li><li>the String representation of <var>octet</var>, formatted as a two-digit uppercase hexadecimal number, padded to the left with a zero if necessary</li></ul></li><li>Set <var>R</var> to the <emu-xref href="#sec-ecmascript-language-types-string-type" id="_ref_4871"><a href="#sec-ecmascript-language-types-string-type">string-concatenation</a></emu-xref> of the previous value of <var>R</var> and <var>S</var>.</li></ol></li></ol></li><li>Increase <var>k</var> by 1.
          </li></ol></li></ol></emu-alg>
        </emu-clause>

        <emu-clause id="sec-decode" aoid="Decode">
          <h1><span class="secnum">18.2.6.1.2</span>Runtime Semantics: Decode ( <var>string</var>, <var>reservedSet</var> )</h1>
          <p>The unescaping and decoding process is described by the abstract operation Decode taking two String arguments <var>string</var> and <var>reservedSet</var>.</p>
          <emu-alg><ol><li>Let <var>strLen</var> be the number of code units in <var>string</var>.</li><li>Let <var>R</var> be the empty String.</li><li>Let <var>k</var> be 0.</li><li>Repeat,<ol><li>If <var>k</var> equals <var>strLen</var>, return <var>R</var>.</li><li>Let <var>C</var> be the code unit at index <var>k</var> within <var>string</var>.</li><li>If <var>C</var> is not the code unit 0x0025 (PERCENT SIGN), then<ol><li>Let <var>S</var> be the String value containing only the code unit <var>C</var>.</li></ol></li><li>Else <var>C</var> is the code unit 0x0025 (PERCENT SIGN),<ol><li>Let <var>start</var> be <var>k</var>.</li><li>If <var>k</var> + 2 is greater than or equal to <var>strLen</var>, throw a <emu-val>URIError</emu-val> exception.</li><li>If the code units at index (<var>k</var> + 1) and (<var>k</var> + 2) within <var>string</var> do not represent hexadecimal digits, throw a <emu-val>URIError</emu-val> exception.</li><li>Let <var>B</var> be the 8-bit value represented by the two hexadecimal digits at index (<var>k</var> + 1) and (<var>k</var> + 2).</li><li>Increment <var>k</var> by 2.</li><li>If the most significant bit in <var>B</var> is 0, then<ol><li>Let <var>C</var> be the code unit whose value is <var>B</var>.</li><li>If <var>C</var> is not in <var>reservedSet</var>, then<ol><li>Let <var>S</var> be the String value containing only the code unit <var>C</var>.</li></ol></li><li>Else <var>C</var> is in <var>reservedSet</var>,<ol><li>Let <var>S</var> be the substring of <var>string</var> from index <var>start</var> to index <var>k</var> inclusive.</li></ol></li></ol></li><li>Else the most significant bit in <var>B</var> is 1,<ol><li>Let <var>n</var> be the smallest nonnegative integer such that (<var>B</var> &lt;&lt; <var>n</var>) &amp; 0x80 is equal to 0.</li><li>If <var>n</var> equals 1 or <var>n</var> is greater than 4, throw a <emu-val>URIError</emu-val> exception.</li><li>Let <var>Octets</var> be a <emu-xref href="#sec-list-and-record-specification-type" id="_ref_4872"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> of 8-bit integers of size <var>n</var>.</li><li>Set <var>Octets</var>[0] to <var>B</var>.</li><li>If <var>k</var> + (3 × (<var>n</var> - 1)) is greater than or equal to <var>strLen</var>, throw a <emu-val>URIError</emu-val> exception.</li><li>Let <var>j</var> be 1.</li><li>Repeat, while <var>j</var> &lt; <var>n</var><ol><li>Increment <var>k</var> by 1.</li><li>If the code unit at index <var>k</var> within <var>string</var> is not the code unit 0x0025 (PERCENT SIGN), throw a <emu-val>URIError</emu-val> exception.</li><li>If the code units at index (<var>k</var> + 1) and (<var>k</var> + 2) within <var>string</var> do not represent hexadecimal digits, throw a <emu-val>URIError</emu-val> exception.</li><li>Let <var>B</var> be the 8-bit value represented by the two hexadecimal digits at index (<var>k</var> + 1) and (<var>k</var> + 2).</li><li>If the two most significant bits in <var>B</var> are not 10, throw a <emu-val>URIError</emu-val> exception.</li><li>Increment <var>k</var> by 2.</li><li>Set <var>Octets</var>[<var>j</var>] to <var>B</var>.</li><li>Increment <var>j</var> by 1.</li></ol></li><li>If <var>Octets</var> does not contain a valid UTF-8 encoding of a Unicode code point, throw a <emu-val>URIError</emu-val> exception.</li><li>Let <var>V</var> be the value obtained by applying the UTF-8 transformation to <var>Octets</var>, that is, from a <emu-xref href="#sec-list-and-record-specification-type" id="_ref_4873"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> of octets into a 21-bit value.</li><li>Let <var>S</var> be the String value whose code units are, in order, the elements in <emu-xref aoid="UTF16Encoding" id="_ref_4874"><a href="#sec-utf16encoding">UTF16Encoding</a></emu-xref>(<var>V</var>).</li></ol></li></ol></li><li>Set <var>R</var> to the <emu-xref href="#sec-ecmascript-language-types-string-type" id="_ref_4875"><a href="#sec-ecmascript-language-types-string-type">string-concatenation</a></emu-xref> of the previous value of <var>R</var> and <var>S</var>.</li><li>Increase <var>k</var> by 1.
          </li></ol></li></ol></emu-alg>
          <emu-note><span class="note">Note</span><div class="note-contents">
            <p>This syntax of Uniform Resource Identifiers is based upon
 RFC 2396 and does not reflect the more recent RFC 3986 which replaces 
RFC 2396. A formal description and implementation of UTF-8 is given in 
RFC 3629.</p>
            <p>In UTF-8, characters are encoded using sequences of 1 to 6
 octets. The only octet of a sequence of one has the higher-order bit 
set to 0, the remaining 7 bits being used to encode the character value.
 In a sequence of n octets, n &gt; 1, the initial octet has the n 
higher-order bits set to 1, followed by a bit set to 0. The remaining 
bits of that octet contain bits from the value of the character to be 
encoded. The following octets all have the higher-order bit set to 1 and
 the following bit set to 0, leaving 6 bits in each to contain bits from
 the character to be encoded. The possible UTF-8 encodings of ECMAScript
 characters are specified in  <emu-xref href="#table-43" id="_ref_426"><a href="#table-43">Table 46</a></emu-xref>.</p>
            <emu-table id="table-43" caption="UTF-8 Encodings" informative=""><figure><figcaption>Table 46 (Informative): UTF-8 Encodings</figcaption>
              <table>
                <tbody>
                <tr>
                  <th>
                    Code Unit Value
                  
                  </th>
                  <th>
                    Representation
                  
                  </th>
                  <th>
                    1<sup>st</sup> Octet
                  
                  </th>
                  <th>
                    2<sup>nd</sup> Octet
                  
                  </th>
                  <th>
                    3<sup>rd</sup> Octet
                  
                  </th>
                  <th>
                    4<sup>th</sup> Octet
                  
                  </th>
                </tr>
                <tr>
                  <td>
                    <code>0x0000 - 0x007F</code>
                  
                  </td>
                  <td>
                    <code>00000000 0<i>zzzzzzz</i></code>
                  </td>
                  <td>
                    <code>0<i>zzzzzzz</i></code>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td>
                    <code>0x0080 - 0x07FF</code>
                  
                  </td>
                  <td>
                    <code>00000<i>yyy yyzzzzzz</i></code>
                  </td>
                  <td>
                    <code>110<i>yyyyy</i></code>
                  </td>
                  <td>
                    <code>10<i>zzzzzz</i></code>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td>
                    <code>0x0800 - 0xD7FF</code>
                  
                  </td>
                  <td>
                    <code><i>xxxxyyyy yyzzzzzz</i></code>
                  </td>
                  <td>
                    <code>1110<i>xxxx</i></code>
                  </td>
                  <td>
                    <code>10<i>yyyyyy</i></code>
                  </td>
                  <td>
                    <code>10<i>zzzzzz</i></code>
                  </td>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td>
                    <code>0xD800 - 0xDBFF</code>
                    
                    <br>
                    followed by
                    
                    <br>
                    <code>0xDC00 - 0xDFFF</code>
                  
                  </td>
                  <td>
                    <code>110110<i>vv vvwwwwxx</i></code>
                    <br>
                    followed by
                    
                    <br>
                    <code>110111<i>yy yyzzzzzz</i></code>
                  </td>
                  <td>
                    <code>11110<i>uuu</i></code>
                  </td>
                  <td>
                    <code>10<i>uuwwww</i></code>
                  </td>
                  <td>
                    <code>10<i>xxyyyy</i></code>
                  </td>
                  <td>
                    <code>10<i>zzzzzz</i></code>
                  </td>
                </tr>
                <tr>
                  <td>
                    <code>0xD800 - 0xDBFF</code>
                    
                    <br>
                    not followed by
                    
                    <br>
                    <code>0xDC00 - 0xDFFF</code>
                  
                  </td>
                  <td>
                    causes <code>URIError</code>
                  
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td>
                    <code>0xDC00 - 0xDFFF</code>
                  
                  </td>
                  <td>
                    causes <code>URIError</code>
                  
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td>
                    <code>0xE000 - 0xFFFF</code>
                  
                  </td>
                  <td>
                    <code><i>xxxxyyyy yyzzzzzz</i></code>
                  </td>
                  <td>
                    <code>1110<i>xxxx</i></code>
                  </td>
                  <td>
                    <code>10<i>yyyyyy</i></code>
                  </td>
                  <td>
                    <code>10<i>zzzzzz</i></code>
                  </td>
                  <td>
                  </td>
                </tr>
                </tbody>
              </table>
            </figure></emu-table>
            <p>Where
              
              <br>
                <var>uuuuu</var> = <var>vvvv</var> + 1
              
              <br>
              to account for the addition of 0x10000 as in section 3.8 of the Unicode Standard (Surrogates).</p>
            <p>The above transformation combines each  <emu-xref href="#surrogate-pair" id="_ref_427"><a href="#surrogate-pair">surrogate pair</a></emu-xref>
 (for which code unit values in the inclusive range 0xD800 to 0xDFFF are
 reserved) into a UTF-32 representation and encodes the resulting 21-bit
 value into UTF-8. Decoding reconstructs the <emu-xref href="#surrogate-pair" id="_ref_4876"><a href="#surrogate-pair">surrogate pair</a></emu-xref>.</p>
            <p>RFC 3629 prohibits the decoding of invalid UTF-8 octet 
sequences. For example, the invalid sequence C0 80 must not decode into 
the code unit 0x0000. Implementations of the Decode algorithm are 
required to throw a <emu-val>URIError</emu-val> when encountering such invalid sequences.</p>
          </div></emu-note>
        </emu-clause>
      </emu-clause>

      <emu-clause id="sec-decodeuri-encodeduri">
        <h1><span class="secnum">18.2.6.2</span>decodeURI ( <var>encodedURI</var> )</h1>
        <p>The <code>decodeURI</code> function computes a new version of
 a URI in which each escape sequence and UTF-8 encoding of the sort that
 might be introduced by the <code>encodeURI</code> function is replaced 
with the UTF-16 encoding of the code points that it represents. Escape 
sequences that could not have been introduced by <code>encodeURI</code> are not replaced.</p>
        <p>The <code>decodeURI</code> function is the  <dfn>%decodeURI%</dfn> intrinsic object. When the <code>decodeURI</code> function is called with one argument <var>encodedURI</var>, the following steps are taken:</p>
        <emu-alg><ol><li>Let <var>uriString</var> be ?&nbsp;<emu-xref aoid="ToString" id="_ref_4877"><a href="#sec-tostring">ToString</a></emu-xref>(<var>encodedURI</var>).</li><li>Let <var>reservedURISet</var> be a String containing one instance of each code unit valid in <emu-nt id="_ref_14331"><a href="#prod-uriReserved">uriReserved</a></emu-nt> plus <code>"#"</code>.</li><li>Return ?&nbsp;<emu-xref aoid="Decode" id="_ref_4878"><a href="#sec-decode">Decode</a></emu-xref>(<var>uriString</var>, <var>reservedURISet</var>).
        </li></ol></emu-alg>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p>The code point <code>"#"</code> is not decoded from escape sequences even though it is not a reserved URI code point.</p>
        </div></emu-note>
      </emu-clause>

      <emu-clause id="sec-decodeuricomponent-encodeduricomponent">
        <h1><span class="secnum">18.2.6.3</span>decodeURIComponent ( <var>encodedURIComponent</var> )</h1>
        <p>The <code>decodeURIComponent</code> function computes a new 
version of a URI in which each escape sequence and UTF-8 encoding of the
 sort that might be introduced by the <code>encodeURIComponent</code> function is replaced with the UTF-16 encoding of the code points that it represents.</p>
        <p>The <code>decodeURIComponent</code> function is the  <dfn>%decodeURIComponent%</dfn> intrinsic object. When the <code>decodeURIComponent</code> function is called with one argument <var>encodedURIComponent</var>, the following steps are taken:</p>
        <emu-alg><ol><li>Let <var>componentString</var> be ?&nbsp;<emu-xref aoid="ToString" id="_ref_4879"><a href="#sec-tostring">ToString</a></emu-xref>(<var>encodedURIComponent</var>).</li><li>Let <var>reservedURIComponentSet</var> be the empty String.</li><li>Return ?&nbsp;<emu-xref aoid="Decode" id="_ref_4880"><a href="#sec-decode">Decode</a></emu-xref>(<var>componentString</var>, <var>reservedURIComponentSet</var>).
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-encodeuri-uri">
        <h1><span class="secnum">18.2.6.4</span>encodeURI ( <var>uri</var> )</h1>
        <p>The <code>encodeURI</code> function computes a new version of a UTF-16 encoded (<emu-xref href="#sec-ecmascript-language-types-string-type" id="_ref_428"><a href="#sec-ecmascript-language-types-string-type">6.1.4</a></emu-xref>)
 URI in which each instance of certain code points is replaced by one, 
two, three, or four escape sequences representing the UTF-8 encoding of 
the code points.</p>
        <p>The <code>encodeURI</code> function is the  <dfn>%encodeURI%</dfn> intrinsic object. When the <code>encodeURI</code> function is called with one argument <var>uri</var>, the following steps are taken:</p>
        <emu-alg><ol><li>Let <var>uriString</var> be ?&nbsp;<emu-xref aoid="ToString" id="_ref_4881"><a href="#sec-tostring">ToString</a></emu-xref>(<var>uri</var>).</li><li>Let <var>unescapedURISet</var> be a String containing one instance of each code unit valid in <emu-nt id="_ref_14332"><a href="#prod-uriReserved">uriReserved</a></emu-nt> and <emu-nt id="_ref_14333"><a href="#prod-uriUnescaped">uriUnescaped</a></emu-nt> plus <code>"#"</code>.</li><li>Return ?&nbsp;<emu-xref aoid="Encode" id="_ref_4882"><a href="#sec-encode">Encode</a></emu-xref>(<var>uriString</var>, <var>unescapedURISet</var>).
        </li></ol></emu-alg>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p>The code unit <code>"#"</code> is not encoded to an escape sequence even though it is not a reserved or unescaped URI code point.</p>
        </div></emu-note>
      </emu-clause>

      <emu-clause id="sec-encodeuricomponent-uricomponent">
        <h1><span class="secnum">18.2.6.5</span>encodeURIComponent ( <var>uriComponent</var> )</h1>
        <p>The <code>encodeURIComponent</code> function computes a new version of a UTF-16 encoded (<emu-xref href="#sec-ecmascript-language-types-string-type" id="_ref_429"><a href="#sec-ecmascript-language-types-string-type">6.1.4</a></emu-xref>)
 URI in which each instance of certain code points is replaced by one, 
two, three, or four escape sequences representing the UTF-8 encoding of 
the code point.</p>
        <p>The <code>encodeURIComponent</code> function is the  <dfn>%encodeURIComponent%</dfn> intrinsic object. When the <code>encodeURIComponent</code> function is called with one argument <var>uriComponent</var>, the following steps are taken:</p>
        <emu-alg><ol><li>Let <var>componentString</var> be ?&nbsp;<emu-xref aoid="ToString" id="_ref_4883"><a href="#sec-tostring">ToString</a></emu-xref>(<var>uriComponent</var>).</li><li>Let <var>unescapedURIComponentSet</var> be a String containing one instance of each code unit valid in <emu-nt id="_ref_14334"><a href="#prod-uriUnescaped">uriUnescaped</a></emu-nt>.</li><li>Return ?&nbsp;<emu-xref aoid="Encode" id="_ref_4884"><a href="#sec-encode">Encode</a></emu-xref>(<var>componentString</var>, <var>unescapedURIComponentSet</var>).
        </li></ol></emu-alg>
      </emu-clause>
    </emu-clause>
  </emu-clause>

  <emu-clause id="sec-constructor-properties-of-the-global-object">
    <h1><span class="secnum">18.3</span>Constructor Properties of the Global Object</h1>

    <emu-clause id="sec-constructor-properties-of-the-global-object-array">
      <h1><span class="secnum">18.3.1</span>Array ( . . . )</h1>
      <p>See  <emu-xref href="#sec-array-constructor" id="_ref_430"><a href="#sec-array-constructor">22.1.1</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-arraybuffer">
      <h1><span class="secnum">18.3.2</span>ArrayBuffer ( . . . )</h1>
      <p>See  <emu-xref href="#sec-arraybuffer-constructor" id="_ref_431"><a href="#sec-arraybuffer-constructor">24.1.2</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-boolean">
      <h1><span class="secnum">18.3.3</span>Boolean ( . . . )</h1>
      <p>See  <emu-xref href="#sec-boolean-constructor" id="_ref_432"><a href="#sec-boolean-constructor">19.3.1</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-dataview">
      <h1><span class="secnum">18.3.4</span>DataView ( . . . )</h1>
      <p>See  <emu-xref href="#sec-dataview-constructor" id="_ref_433"><a href="#sec-dataview-constructor">24.3.2</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-date">
      <h1><span class="secnum">18.3.5</span>Date ( . . . )</h1>
      <p>See  <emu-xref href="#sec-date-constructor" id="_ref_434"><a href="#sec-date-constructor">20.3.2</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-error">
      <h1><span class="secnum">18.3.6</span>Error ( . . . )</h1>
      <p>See  <emu-xref href="#sec-error-constructor" id="_ref_435"><a href="#sec-error-constructor">19.5.1</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-evalerror">
      <h1><span class="secnum">18.3.7</span>EvalError ( . . . )</h1>
      <p>See  <emu-xref href="#sec-native-error-types-used-in-this-standard-evalerror" id="_ref_436"><a href="#sec-native-error-types-used-in-this-standard-evalerror">19.5.5.1</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-float32array">
      <h1><span class="secnum">18.3.8</span>Float32Array ( . . . )</h1>
      <p>See  <emu-xref href="#sec-typedarray-constructors" id="_ref_437"><a href="#sec-typedarray-constructors">22.2.4</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-float64array">
      <h1><span class="secnum">18.3.9</span>Float64Array ( . . . )</h1>
      <p>See  <emu-xref href="#sec-typedarray-constructors" id="_ref_438"><a href="#sec-typedarray-constructors">22.2.4</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-function">
      <h1><span class="secnum">18.3.10</span>Function ( . . . )</h1>
      <p>See  <emu-xref href="#sec-function-constructor" id="_ref_439"><a href="#sec-function-constructor">19.2.1</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-int8array">
      <h1><span class="secnum">18.3.11</span>Int8Array ( . . . )</h1>
      <p>See  <emu-xref href="#sec-typedarray-constructors" id="_ref_440"><a href="#sec-typedarray-constructors">22.2.4</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-int16array">
      <h1><span class="secnum">18.3.12</span>Int16Array ( . . . )</h1>
      <p>See  <emu-xref href="#sec-typedarray-constructors" id="_ref_441"><a href="#sec-typedarray-constructors">22.2.4</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-int32array">
      <h1><span class="secnum">18.3.13</span>Int32Array ( . . . )</h1>
      <p>See  <emu-xref href="#sec-typedarray-constructors" id="_ref_442"><a href="#sec-typedarray-constructors">22.2.4</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-map">
      <h1><span class="secnum">18.3.14</span>Map ( . . . )</h1>
      <p>See  <emu-xref href="#sec-map-constructor" id="_ref_443"><a href="#sec-map-constructor">23.1.1</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-number">
      <h1><span class="secnum">18.3.15</span>Number ( . . . )</h1>
      <p>See  <emu-xref href="#sec-number-constructor" id="_ref_444"><a href="#sec-number-constructor">20.1.1</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-object">
      <h1><span class="secnum">18.3.16</span>Object ( . . . )</h1>
      <p>See  <emu-xref href="#sec-object-constructor" id="_ref_445"><a href="#sec-object-constructor">19.1.1</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-promise">
      <h1><span class="secnum">18.3.17</span>Promise ( . . . )</h1>
      <p>See  <emu-xref href="#sec-promise-constructor" id="_ref_446"><a href="#sec-promise-constructor">25.6.3</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-proxy">
      <h1><span class="secnum">18.3.18</span>Proxy ( . . . )</h1>
      <p>See  <emu-xref href="#sec-proxy-constructor" id="_ref_447"><a href="#sec-proxy-constructor">26.2.1</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-rangeerror">
      <h1><span class="secnum">18.3.19</span>RangeError ( . . . )</h1>
      <p>See  <emu-xref href="#sec-native-error-types-used-in-this-standard-rangeerror" id="_ref_448"><a href="#sec-native-error-types-used-in-this-standard-rangeerror">19.5.5.2</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-referenceerror">
      <h1><span class="secnum">18.3.20</span>ReferenceError ( . . . )</h1>
      <p>See  <emu-xref href="#sec-native-error-types-used-in-this-standard-referenceerror" id="_ref_449"><a href="#sec-native-error-types-used-in-this-standard-referenceerror">19.5.5.3</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-regexp">
      <h1><span class="secnum">18.3.21</span>RegExp ( . . . )</h1>
      <p>See  <emu-xref href="#sec-regexp-constructor" id="_ref_450"><a href="#sec-regexp-constructor">21.2.3</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-set">
      <h1><span class="secnum">18.3.22</span>Set ( . . . )</h1>
      <p>See  <emu-xref href="#sec-set-constructor" id="_ref_451"><a href="#sec-set-constructor">23.2.1</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-sharedarraybuffer">
      <h1><span class="secnum">18.3.23</span>SharedArrayBuffer ( . . . )</h1>
      <p>See  <emu-xref href="#sec-sharedarraybuffer-constructor" id="_ref_452"><a href="#sec-sharedarraybuffer-constructor">24.2.2</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-string">
      <h1><span class="secnum">18.3.24</span>String ( . . . )</h1>
      <p>See  <emu-xref href="#sec-string-constructor" id="_ref_453"><a href="#sec-string-constructor">21.1.1</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-symbol">
      <h1><span class="secnum">18.3.25</span>Symbol ( . . . )</h1>
      <p>See  <emu-xref href="#sec-symbol-constructor" id="_ref_454"><a href="#sec-symbol-constructor">19.4.1</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-syntaxerror">
      <h1><span class="secnum">18.3.26</span>SyntaxError ( . . . )</h1>
      <p>See  <emu-xref href="#sec-native-error-types-used-in-this-standard-syntaxerror" id="_ref_455"><a href="#sec-native-error-types-used-in-this-standard-syntaxerror">19.5.5.4</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-typeerror">
      <h1><span class="secnum">18.3.27</span>TypeError ( . . . )</h1>
      <p>See  <emu-xref href="#sec-native-error-types-used-in-this-standard-typeerror" id="_ref_456"><a href="#sec-native-error-types-used-in-this-standard-typeerror">19.5.5.5</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-uint8array">
      <h1><span class="secnum">18.3.28</span>Uint8Array ( . . . )</h1>
      <p>See  <emu-xref href="#sec-typedarray-constructors" id="_ref_457"><a href="#sec-typedarray-constructors">22.2.4</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-uint8clampedarray">
      <h1><span class="secnum">18.3.29</span>Uint8ClampedArray ( . . . )</h1>
      <p>See  <emu-xref href="#sec-typedarray-constructors" id="_ref_458"><a href="#sec-typedarray-constructors">22.2.4</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-uint16array">
      <h1><span class="secnum">18.3.30</span>Uint16Array ( . . . )</h1>
      <p>See  <emu-xref href="#sec-typedarray-constructors" id="_ref_459"><a href="#sec-typedarray-constructors">22.2.4</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-uint32array">
      <h1><span class="secnum">18.3.31</span>Uint32Array ( . . . )</h1>
      <p>See  <emu-xref href="#sec-typedarray-constructors" id="_ref_460"><a href="#sec-typedarray-constructors">22.2.4</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-urierror">
      <h1><span class="secnum">18.3.32</span>URIError ( . . . )</h1>
      <p>See  <emu-xref href="#sec-native-error-types-used-in-this-standard-urierror" id="_ref_461"><a href="#sec-native-error-types-used-in-this-standard-urierror">19.5.5.6</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-weakmap">
      <h1><span class="secnum">18.3.33</span>WeakMap ( . . . )</h1>
      <p>See  <emu-xref href="#sec-weakmap-constructor" id="_ref_462"><a href="#sec-weakmap-constructor">23.3.1</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-constructor-properties-of-the-global-object-weakset">
      <h1><span class="secnum">18.3.34</span>WeakSet ( . . . )</h1>
      <p>See  <emu-xref href="#sec-weakset-objects" id="_ref_463"><a href="#sec-weakset-objects">23.4</a></emu-xref>.</p>
    </emu-clause>
  </emu-clause>

  <emu-clause id="sec-other-properties-of-the-global-object">
    <h1><span class="secnum">18.4</span>Other Properties of the Global Object</h1>

    <emu-clause id="sec-atomics">
      <h1><span class="secnum">18.4.1</span>Atomics</h1>
      <p>See  <emu-xref href="#sec-atomics-object" id="_ref_464"><a href="#sec-atomics-object">24.4</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-json">
      <h1><span class="secnum">18.4.2</span>JSON</h1>
      <p>See  <emu-xref href="#sec-json-object" id="_ref_465"><a href="#sec-json-object">24.5</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-math">
      <h1><span class="secnum">18.4.3</span>Math</h1>
      <p>See  <emu-xref href="#sec-math-object" id="_ref_466"><a href="#sec-math-object">20.2</a></emu-xref>.</p>
    </emu-clause>

    <emu-clause id="sec-reflect">
      <h1><span class="secnum">18.4.4</span>Reflect</h1>
      <p>See  <emu-xref href="#sec-reflect-object" id="_ref_467"><a href="#sec-reflect-object">26.1</a></emu-xref>.</p>
    </emu-clause>
  </emu-clause>
</emu-clause>
