<emu-clause id="sec-keyed-collections" oldids="sec-keyed-collection">
  <span id="sec-keyed-collection"></span><h1><span class="secnum">23</span>Keyed Collections</h1>

  <emu-clause id="sec-map-objects">
    <h1><span class="secnum">23.1</span>Map Objects</h1>
    <p>Map objects are collections of key/value pairs where both the 
keys and values may be arbitrary ECMAScript language values. A distinct 
key value may only occur in one key/value pair within the Map's 
collection. Distinct key values are discriminated using the <emu-xref aoid="SameValueZero" id="_ref_7147"><a href="#sec-samevaluezero">SameValueZero</a></emu-xref> comparison algorithm.</p>
    <p>Map object must be implemented using either hash tables or other 
mechanisms that, on average, provide access times that are sublinear on 
the number of elements in the collection. The data structures used in 
this Map objects specification is only intended to describe the required
 observable semantics of Map objects. It is not intended to be a viable 
implementation model.</p>

    <emu-clause id="sec-map-constructor">
      <h1><span class="secnum">23.1.1</span>The Map Constructor</h1>
      <p>The Map <emu-xref href="#constructor" id="_ref_7148"><a href="#constructor">constructor</a></emu-xref>:</p>
      <ul>
        <li>is the intrinsic object  <dfn>%Map%</dfn>.</li>
        <li>is the initial value of the <code>Map</code> property of the <emu-xref href="#sec-global-object" id="_ref_7149"><a href="#sec-global-object">global object</a></emu-xref>.</li>
        <li>creates and initializes a new Map object when called as a <emu-xref href="#constructor" id="_ref_7150"><a href="#constructor">constructor</a></emu-xref>.</li>
        <li>is not intended to be called as a function and will throw an exception when called in that manner.</li>
        <li>is designed to be subclassable. It may be used as the value in an <code>extends</code> clause of a class definition. Subclass constructors that intend to inherit the specified <code>Map</code> behaviour must include a <code>super</code> call to the <code>Map</code> <emu-xref href="#constructor" id="_ref_7151"><a href="#constructor">constructor</a></emu-xref> to create and initialize the subclass instance with the internal state necessary to support the <code>Map.prototype</code> built-in methods.</li>
      </ul>

      <emu-clause id="sec-map-iterable">
        <h1><span class="secnum">23.1.1.1</span>Map ( [ <var>iterable</var> ] )</h1>
        <p>When the <code>Map</code> function is called with optional argument <var>iterable</var>, the following steps are taken:</p>
        <emu-alg><ol><li>If NewTarget is <emu-val>undefined</emu-val>, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>map</var> be ?&nbsp;<emu-xref aoid="OrdinaryCreateFromConstructor" id="_ref_7152"><a href="#sec-ordinarycreatefromconstructor">OrdinaryCreateFromConstructor</a></emu-xref>(NewTarget, <code>"%MapPrototype%"</code>, « [[MapData]] »).</li><li>Set <var>map</var>.[[MapData]] to a new empty <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7153"><a href="#sec-list-and-record-specification-type">List</a></emu-xref>.</li><li>If <var>iterable</var> is not present, or is either <emu-val>undefined</emu-val> or <emu-val>null</emu-val>, return <var>map</var>.</li><li>Let <var>adder</var> be ?&nbsp;<emu-xref aoid="Get" id="_ref_7154"><a href="#sec-get-o-p">Get</a></emu-xref>(<var>map</var>, <code>"set"</code>).</li><li>Return ?&nbsp;<emu-xref aoid="AddEntriesFromIterable" id="_ref_7155"><a href="#sec-add-entries-from-iterable">AddEntriesFromIterable</a></emu-xref>(<var>map</var>, <var>iterable</var>, <var>adder</var>).
        </li></ol></emu-alg>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p>If the parameter <var>iterable</var> is present, it is 
expected to be an object that implements an @@iterator method that 
returns an iterator object that produces a two element array-like object
 whose first element is a value that will be used as a Map key and whose
 second element is the value to associate with that key.</p>
        </div></emu-note>
      </emu-clause>

      <emu-clause id="sec-add-entries-from-iterable" aoid="AddEntriesFromIterable">
        <h1><span class="secnum">23.1.1.2</span>AddEntriesFromIterable ( <var>target</var>, <var>iterable</var>, <var>adder</var> )</h1>
        <p>The abstract operation AddEntriesFromIterable accepts a <var>target</var> object, an <var>iterable</var> of entries, and an <var>adder</var> function to be invoked, with <var>target</var> as the receiver.</p>
        <emu-alg><ol><li>If <emu-xref aoid="IsCallable" id="_ref_7156"><a href="#sec-iscallable">IsCallable</a></emu-xref>(<var>adder</var>) is <emu-val>false</emu-val>, throw a <emu-val>TypeError</emu-val> exception.</li><li><emu-xref href="#assert" id="_ref_7157"><a href="#assert">Assert</a></emu-xref>: <var>iterable</var> is present, and is neither <emu-val>undefined</emu-val> nor <emu-val>null</emu-val>.</li><li>Let <var>iteratorRecord</var> be ?&nbsp;<emu-xref aoid="GetIterator" id="_ref_7158"><a href="#sec-getiterator">GetIterator</a></emu-xref>(<var>iterable</var>).</li><li>Repeat,<ol><li>Let <var>next</var> be ?&nbsp;<emu-xref aoid="IteratorStep" id="_ref_7159"><a href="#sec-iteratorstep">IteratorStep</a></emu-xref>(<var>iteratorRecord</var>).</li><li>If <var>next</var> is <emu-val>false</emu-val>, return <var>target</var>.</li><li>Let <var>nextItem</var> be ?&nbsp;<emu-xref aoid="IteratorValue" id="_ref_7160"><a href="#sec-iteratorvalue">IteratorValue</a></emu-xref>(<var>next</var>).</li><li>If <emu-xref aoid="Type" id="_ref_7161"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>nextItem</var>) is not Object, then<ol><li>Let <var>error</var> be <emu-xref aoid="ThrowCompletion" id="_ref_7162"><a href="#sec-throwcompletion">ThrowCompletion</a></emu-xref>(a newly created <emu-val>TypeError</emu-val> object).</li><li>Return ?&nbsp;<emu-xref aoid="IteratorClose" id="_ref_7163"><a href="#sec-iteratorclose">IteratorClose</a></emu-xref>(<var>iteratorRecord</var>, <var>error</var>).</li></ol></li><li>Let <var>k</var> be <emu-xref aoid="Get" id="_ref_7164"><a href="#sec-get-o-p">Get</a></emu-xref>(<var>nextItem</var>, <code>"0"</code>).</li><li>If <var>k</var> is an <emu-xref href="#sec-completion-record-specification-type" id="_ref_7165"><a href="#sec-completion-record-specification-type">abrupt completion</a></emu-xref>, return ?&nbsp;<emu-xref aoid="IteratorClose" id="_ref_7166"><a href="#sec-iteratorclose">IteratorClose</a></emu-xref>(<var>iteratorRecord</var>, <var>k</var>).</li><li>Let <var>v</var> be <emu-xref aoid="Get" id="_ref_7167"><a href="#sec-get-o-p">Get</a></emu-xref>(<var>nextItem</var>, <code>"1"</code>).</li><li>If <var>v</var> is an <emu-xref href="#sec-completion-record-specification-type" id="_ref_7168"><a href="#sec-completion-record-specification-type">abrupt completion</a></emu-xref>, return ?&nbsp;<emu-xref aoid="IteratorClose" id="_ref_7169"><a href="#sec-iteratorclose">IteratorClose</a></emu-xref>(<var>iteratorRecord</var>, <var>v</var>).</li><li>Let <var>status</var> be <emu-xref aoid="Call" id="_ref_7170"><a href="#sec-call">Call</a></emu-xref>(<var>adder</var>, <var>target</var>, « <var>k</var>.[[Value]], <var>v</var>.[[Value]] »).</li><li>If <var>status</var> is an <emu-xref href="#sec-completion-record-specification-type" id="_ref_7171"><a href="#sec-completion-record-specification-type">abrupt completion</a></emu-xref>, return ?&nbsp;<emu-xref aoid="IteratorClose" id="_ref_7172"><a href="#sec-iteratorclose">IteratorClose</a></emu-xref>(<var>iteratorRecord</var>, <var>status</var>).
        </li></ol></li></ol></emu-alg>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p>The parameter <var>iterable</var> is expected to be an 
object that implements an @@iterator method that returns an iterator 
object that produces a two element array-like object whose first element
 is a value that will be used as a Map key and whose second element is 
the value to associate with that key.</p>
        </div></emu-note>
      </emu-clause>
    </emu-clause>

    <emu-clause id="sec-properties-of-the-map-constructor">
      <h1><span class="secnum">23.1.2</span>Properties of the Map Constructor</h1>
      <p>The Map <emu-xref href="#constructor" id="_ref_7173"><a href="#constructor">constructor</a></emu-xref>:</p>
      <ul>
        <li>has a [[Prototype]] internal slot whose value is the intrinsic object <emu-xref href="#sec-properties-of-the-function-prototype-object" id="_ref_7174"><a href="#sec-properties-of-the-function-prototype-object">%FunctionPrototype%</a></emu-xref>.</li>
        <li>has the following properties:</li>
      </ul>

      <emu-clause id="sec-map.prototype">
        <h1><span class="secnum">23.1.2.1</span>Map.prototype</h1>
        <p>The initial value of <code>Map.prototype</code> is the intrinsic object <emu-xref href="#sec-properties-of-the-map-prototype-object" id="_ref_7175"><a href="#sec-properties-of-the-map-prototype-object">%MapPrototype%</a></emu-xref>.</p>
        <p>This property has the attributes { [[Writable]]: <emu-val>false</emu-val>, [[Enumerable]]: <emu-val>false</emu-val>, [[Configurable]]: <emu-val>false</emu-val> }.</p>
      </emu-clause>

      <emu-clause id="sec-get-map-@@species">
        <h1><span class="secnum">23.1.2.2</span>get Map [ @@species ]</h1>
        <p><code>Map[@@species]</code> is an <emu-xref href="#sec-object-type" id="_ref_7176"><a href="#sec-object-type">accessor property</a></emu-xref> whose set accessor function is <emu-val>undefined</emu-val>. Its get accessor function performs the following steps:</p>
        <emu-alg><ol><li>Return the <emu-val>this</emu-val> value.
        </li></ol></emu-alg>
        <p>The value of the <code>name</code> property of this function is <code>"get [Symbol.species]"</code>.</p>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p>Methods that create derived collection objects should call @@species to determine the <emu-xref href="#constructor" id="_ref_7177"><a href="#constructor">constructor</a></emu-xref> to use to create the derived objects. Subclass <emu-xref href="#constructor" id="_ref_7178"><a href="#constructor">constructor</a></emu-xref> may over-ride @@species to change the default <emu-xref href="#constructor" id="_ref_7179"><a href="#constructor">constructor</a></emu-xref> assignment.</p>
        </div></emu-note>
      </emu-clause>
    </emu-clause>

    <emu-clause id="sec-properties-of-the-map-prototype-object">
      <h1><span class="secnum">23.1.3</span>Properties of the Map Prototype Object</h1>
      <p>The Map prototype object:</p>
      <ul>
        <li>is the intrinsic object  <dfn>%MapPrototype%</dfn>.</li>
        <li>has a [[Prototype]] internal slot whose value is the intrinsic object <emu-xref href="#sec-properties-of-the-object-prototype-object" id="_ref_7180"><a href="#sec-properties-of-the-object-prototype-object">%ObjectPrototype%</a></emu-xref>.</li>
        <li>is an ordinary object.</li>
        <li>does not have a [[MapData]] internal slot.</li>
      </ul>

      <emu-clause id="sec-map.prototype.clear">
        <h1><span class="secnum">23.1.3.1</span>Map.prototype.clear ( )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>M</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7181"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>M</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>M</var> does not have a [[MapData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7182"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>M</var>.[[MapData]].</li><li>For each <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7183"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref> { [[Key]], [[Value]] } <var>p</var> that is an element of <var>entries</var>, do<ol><li>Set <var>p</var>.[[Key]] to <emu-const>empty</emu-const>.</li><li>Set <var>p</var>.[[Value]] to <emu-const>empty</emu-const>.</li></ol></li><li>Return <emu-val>undefined</emu-val>.
        </li></ol></emu-alg>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p>The existing [[MapData]] <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7184"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> is preserved because there may be existing Map Iterator objects that are suspended midway through iterating over that <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7185"><a href="#sec-list-and-record-specification-type">List</a></emu-xref>.</p>
        </div></emu-note>
      </emu-clause>

      <emu-clause id="sec-map.prototype.constructor">
        <h1><span class="secnum">23.1.3.2</span>Map.prototype.constructor</h1>
        <p>The initial value of <code>Map.prototype.constructor</code> is the intrinsic object <emu-xref href="#sec-map-constructor" id="_ref_7186"><a href="#sec-map-constructor">%Map%</a></emu-xref>.</p>
      </emu-clause>

      <emu-clause id="sec-map.prototype.delete">
        <h1><span class="secnum">23.1.3.3</span>Map.prototype.delete ( <var>key</var> )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>M</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7187"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>M</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>M</var> does not have a [[MapData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7188"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>M</var>.[[MapData]].</li><li>For each <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7189"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref> { [[Key]], [[Value]] } <var>p</var> that is an element of <var>entries</var>, do<ol><li>If <var>p</var>.[[Key]] is not <emu-const>empty</emu-const> and <emu-xref aoid="SameValueZero" id="_ref_7190"><a href="#sec-samevaluezero">SameValueZero</a></emu-xref>(<var>p</var>.[[Key]], <var>key</var>) is <emu-val>true</emu-val>, then<ol><li>Set <var>p</var>.[[Key]] to <emu-const>empty</emu-const>.</li><li>Set <var>p</var>.[[Value]] to <emu-const>empty</emu-const>.</li><li>Return <emu-val>true</emu-val>.</li></ol></li></ol></li><li>Return <emu-val>false</emu-val>.
        </li></ol></emu-alg>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p>The value <emu-const>empty</emu-const> is used as a 
specification device to indicate that an entry has been deleted. Actual 
implementations may take other actions such as physically removing the 
entry from internal data structures.</p>
        </div></emu-note>
      </emu-clause>

      <emu-clause id="sec-map.prototype.entries">
        <h1><span class="secnum">23.1.3.4</span>Map.prototype.entries ( )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>M</var> be the <emu-val>this</emu-val> value.</li><li>Return ?&nbsp;<emu-xref aoid="CreateMapIterator" id="_ref_7191"><a href="#sec-createmapiterator">CreateMapIterator</a></emu-xref>(<var>M</var>, <code>"key+value"</code>).
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-map.prototype.foreach">
        <h1><span class="secnum">23.1.3.5</span>Map.prototype.forEach ( <var>callbackfn</var> [ , <var>thisArg</var> ] )</h1>
        <p>When the <code>forEach</code> method is called with one or two arguments, the following steps are taken:</p>
        <emu-alg><ol><li>Let <var>M</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7192"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>M</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>M</var> does not have a [[MapData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <emu-xref aoid="IsCallable" id="_ref_7193"><a href="#sec-iscallable">IsCallable</a></emu-xref>(<var>callbackfn</var>) is <emu-val>false</emu-val>, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>thisArg</var> is present, let <var>T</var> be <var>thisArg</var>; else let <var>T</var> be <emu-val>undefined</emu-val>.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7194"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>M</var>.[[MapData]].</li><li>For each <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7195"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref> { [[Key]], [[Value]] } <var>e</var> that is an element of <var>entries</var>, in original key insertion order, do<ol><li>If <var>e</var>.[[Key]] is not <emu-const>empty</emu-const>, then<ol><li>Perform ?&nbsp;<emu-xref aoid="Call" id="_ref_7196"><a href="#sec-call">Call</a></emu-xref>(<var>callbackfn</var>, <var>T</var>, « <var>e</var>.[[Value]], <var>e</var>.[[Key]], <var>M</var> »).</li></ol></li></ol></li><li>Return <emu-val>undefined</emu-val>.
        </li></ol></emu-alg>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p><var>callbackfn</var> should be a function that accepts three arguments. <code>forEach</code> calls <var>callbackfn</var> once for each key/value pair present in the map object, in key insertion order. <var>callbackfn</var> is called only for keys of the map which actually exist; it is not called for keys that have been deleted from the map.</p>
          <p>If a <var>thisArg</var> parameter is provided, it will be used as the <emu-val>this</emu-val> value for each invocation of <var>callbackfn</var>. If it is not provided, <emu-val>undefined</emu-val> is used instead.</p>
          <p><var>callbackfn</var> is called with three arguments: the value of the item, the key of the item, and the Map object being traversed.</p>
          <p><code>forEach</code> does not directly mutate the object on which it is called but the object may be mutated by the calls to <var>callbackfn</var>. Each entry of a map's [[MapData]] is only visited once. New keys added after the call to <code>forEach</code> begins are visited. A key will be revisited if it is deleted after it has been visited and then re-added before the <code>forEach</code> call completes. Keys that are deleted after the call to <code>forEach</code> begins and before being visited are not visited unless the key is added again before the <code>forEach</code> call completes.</p>
        </div></emu-note>
      </emu-clause>

      <emu-clause id="sec-map.prototype.get">
        <h1><span class="secnum">23.1.3.6</span>Map.prototype.get ( <var>key</var> )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>M</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7197"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>M</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>M</var> does not have a [[MapData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7198"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>M</var>.[[MapData]].</li><li>For each <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7199"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref> { [[Key]], [[Value]] } <var>p</var> that is an element of <var>entries</var>, do<ol><li>If <var>p</var>.[[Key]] is not <emu-const>empty</emu-const> and <emu-xref aoid="SameValueZero" id="_ref_7200"><a href="#sec-samevaluezero">SameValueZero</a></emu-xref>(<var>p</var>.[[Key]], <var>key</var>) is <emu-val>true</emu-val>, return <var>p</var>.[[Value]].</li></ol></li><li>Return <emu-val>undefined</emu-val>.
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-map.prototype.has">
        <h1><span class="secnum">23.1.3.7</span>Map.prototype.has ( <var>key</var> )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>M</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7201"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>M</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>M</var> does not have a [[MapData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7202"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>M</var>.[[MapData]].</li><li>For each <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7203"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref> { [[Key]], [[Value]] } <var>p</var> that is an element of <var>entries</var>, do<ol><li>If <var>p</var>.[[Key]] is not <emu-const>empty</emu-const> and <emu-xref aoid="SameValueZero" id="_ref_7204"><a href="#sec-samevaluezero">SameValueZero</a></emu-xref>(<var>p</var>.[[Key]], <var>key</var>) is <emu-val>true</emu-val>, return <emu-val>true</emu-val>.</li></ol></li><li>Return <emu-val>false</emu-val>.
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-map.prototype.keys">
        <h1><span class="secnum">23.1.3.8</span>Map.prototype.keys ( )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>M</var> be the <emu-val>this</emu-val> value.</li><li>Return ?&nbsp;<emu-xref aoid="CreateMapIterator" id="_ref_7205"><a href="#sec-createmapiterator">CreateMapIterator</a></emu-xref>(<var>M</var>, <code>"key"</code>).
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-map.prototype.set">
        <h1><span class="secnum">23.1.3.9</span>Map.prototype.set ( <var>key</var>, <var>value</var> )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>M</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7206"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>M</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>M</var> does not have a [[MapData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7207"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>M</var>.[[MapData]].</li><li>For each <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7208"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref> { [[Key]], [[Value]] } <var>p</var> that is an element of <var>entries</var>, do<ol><li>If <var>p</var>.[[Key]] is not <emu-const>empty</emu-const> and <emu-xref aoid="SameValueZero" id="_ref_7209"><a href="#sec-samevaluezero">SameValueZero</a></emu-xref>(<var>p</var>.[[Key]], <var>key</var>) is <emu-val>true</emu-val>, then<ol><li>Set <var>p</var>.[[Value]] to <var>value</var>.</li><li>Return <var>M</var>.</li></ol></li></ol></li><li>If <var>key</var> is <emu-val>-0</emu-val>, set <var>key</var> to <emu-val>+0</emu-val>.</li><li>Let <var>p</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7210"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref> { [[Key]]: <var>key</var>, [[Value]]: <var>value</var> }.</li><li>Append <var>p</var> as the last element of <var>entries</var>.</li><li>Return <var>M</var>.
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-get-map.prototype.size">
        <h1><span class="secnum">23.1.3.10</span>get Map.prototype.size</h1>
        <p><code>Map.prototype.size</code> is an <emu-xref href="#sec-object-type" id="_ref_7211"><a href="#sec-object-type">accessor property</a></emu-xref> whose set accessor function is <emu-val>undefined</emu-val>. Its get accessor function performs the following steps:</p>
        <emu-alg><ol><li>Let <var>M</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7212"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>M</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>M</var> does not have a [[MapData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7213"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>M</var>.[[MapData]].</li><li>Let <var>count</var> be 0.</li><li>For each <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7214"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref> { [[Key]], [[Value]] } <var>p</var> that is an element of <var>entries</var>, do<ol><li>If <var>p</var>.[[Key]] is not <emu-const>empty</emu-const>, increase <var>count</var> by 1.</li></ol></li><li>Return <var>count</var>.
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-map.prototype.values">
        <h1><span class="secnum">23.1.3.11</span>Map.prototype.values ( )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>M</var> be the <emu-val>this</emu-val> value.</li><li>Return ?&nbsp;<emu-xref aoid="CreateMapIterator" id="_ref_7215"><a href="#sec-createmapiterator">CreateMapIterator</a></emu-xref>(<var>M</var>, <code>"value"</code>).
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-map.prototype-@@iterator">
        <h1><span class="secnum">23.1.3.12</span>Map.prototype [ @@iterator ] ( )</h1>
        <p>The initial value of the @@iterator property is the same <emu-xref href="#function-object" id="_ref_7216"><a href="#function-object">function object</a></emu-xref> as the initial value of the <code>entries</code> property.</p>
      </emu-clause>

      <emu-clause id="sec-map.prototype-@@tostringtag">
        <h1><span class="secnum">23.1.3.13</span>Map.prototype [ @@toStringTag ]</h1>
        <p>The initial value of the @@toStringTag property is the String value <code>"Map"</code>.</p>
        <p>This property has the attributes { [[Writable]]: <emu-val>false</emu-val>, [[Enumerable]]: <emu-val>false</emu-val>, [[Configurable]]: <emu-val>true</emu-val> }.</p>
      </emu-clause>
    </emu-clause>

    <emu-clause id="sec-properties-of-map-instances">
      <h1><span class="secnum">23.1.4</span>Properties of Map Instances</h1>
      <p>Map instances are ordinary objects that inherit properties from
 the Map prototype. Map instances also have a [[MapData]] internal slot.</p>
    </emu-clause>

    <emu-clause id="sec-map-iterator-objects">
      <h1><span class="secnum">23.1.5</span>Map Iterator Objects</h1>
      <p>A Map Iterator is an object, that represents a specific iteration over some specific Map instance object. There is not a named <emu-xref href="#constructor" id="_ref_7217"><a href="#constructor">constructor</a></emu-xref> for Map Iterator objects. Instead, map iterator objects are created by calling certain methods of Map instance objects.</p>

      <emu-clause id="sec-createmapiterator" aoid="CreateMapIterator">
        <h1><span class="secnum">23.1.5.1</span>CreateMapIterator ( <var>map</var>, <var>kind</var> )</h1>
        <p>Several methods of Map objects return Iterator objects. The abstract operation CreateMapIterator with arguments <var>map</var> and <var>kind</var> is used to create such iterator objects. It performs the following steps:</p>
        <emu-alg><ol><li>If <emu-xref aoid="Type" id="_ref_7218"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>map</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>map</var> does not have a [[MapData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>iterator</var> be <emu-xref aoid="ObjectCreate" id="_ref_7219"><a href="#sec-objectcreate">ObjectCreate</a></emu-xref>(<emu-xref href="#sec-%mapiteratorprototype%-object" id="_ref_7220"><a href="#sec-%mapiteratorprototype%-object">%MapIteratorPrototype%</a></emu-xref>, « [[Map]], [[MapNextIndex]], [[MapIterationKind]] »).</li><li>Set <var>iterator</var>.[[Map]] to <var>map</var>.</li><li>Set <var>iterator</var>.[[MapNextIndex]] to 0.</li><li>Set <var>iterator</var>.[[MapIterationKind]] to <var>kind</var>.</li><li>Return <var>iterator</var>.
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-%mapiteratorprototype%-object">
        <h1><span class="secnum">23.1.5.2</span>The %MapIteratorPrototype% Object</h1>
        <p>The  <dfn>%MapIteratorPrototype%</dfn> object:</p>
        <ul>
          <li>has properties that are inherited by all Map Iterator Objects.</li>
          <li>is an ordinary object.</li>
          <li>has a [[Prototype]] internal slot whose value is the intrinsic object <emu-xref href="#sec-%iteratorprototype%-object" id="_ref_7221"><a href="#sec-%iteratorprototype%-object">%IteratorPrototype%</a></emu-xref>.</li>
          <li>has the following properties:</li>
        </ul>

        <emu-clause id="sec-%mapiteratorprototype%.next">
          <h1><span class="secnum">23.1.5.2.1</span>%MapIteratorPrototype%.next ( )</h1>
          <emu-alg><ol><li>Let <var>O</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7222"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>O</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>O</var> does not have all of the internal slots of a Map Iterator Instance (<emu-xref href="#sec-properties-of-map-iterator-instances" id="_ref_651"><a href="#sec-properties-of-map-iterator-instances">23.1.5.3</a></emu-xref>), throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>m</var> be <var>O</var>.[[Map]].</li><li>Let <var>index</var> be <var>O</var>.[[MapNextIndex]].</li><li>Let <var>itemKind</var> be <var>O</var>.[[MapIterationKind]].</li><li>If <var>m</var> is <emu-val>undefined</emu-val>, return <emu-xref aoid="CreateIterResultObject" id="_ref_7223"><a href="#sec-createiterresultobject">CreateIterResultObject</a></emu-xref>(<emu-val>undefined</emu-val>, <emu-val>true</emu-val>).</li><li><emu-xref href="#assert" id="_ref_7224"><a href="#assert">Assert</a></emu-xref>: <var>m</var> has a [[MapData]] internal slot.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7225"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>m</var>.[[MapData]].</li><li>Let <var>numEntries</var> be the number of elements of <var>entries</var>.</li><li>NOTE: <var>numEntries</var> must be redetermined each time this method is evaluated.</li><li>Repeat, while <var>index</var> is less than <var>numEntries</var>,<ol><li>Let <var>e</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7226"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref> { [[Key]], [[Value]] } that is the value of <var>entries</var>[<var>index</var>].</li><li>Increase <var>index</var> by 1.</li><li>Set <var>O</var>.[[MapNextIndex]] to <var>index</var>.</li><li>If <var>e</var>.[[Key]] is not <emu-const>empty</emu-const>, then<ol><li>If <var>itemKind</var> is <code>"key"</code>, let <var>result</var> be <var>e</var>.[[Key]].</li><li>Else if <var>itemKind</var> is <code>"value"</code>, let <var>result</var> be <var>e</var>.[[Value]].</li><li>Else,<ol><li><emu-xref href="#assert" id="_ref_7227"><a href="#assert">Assert</a></emu-xref>: <var>itemKind</var> is <code>"key+value"</code>.</li><li>Let <var>result</var> be <emu-xref aoid="CreateArrayFromList" id="_ref_7228"><a href="#sec-createarrayfromlist">CreateArrayFromList</a></emu-xref>(« <var>e</var>.[[Key]], <var>e</var>.[[Value]] »).</li></ol></li><li>Return <emu-xref aoid="CreateIterResultObject" id="_ref_7229"><a href="#sec-createiterresultobject">CreateIterResultObject</a></emu-xref>(<var>result</var>, <emu-val>false</emu-val>).</li></ol></li></ol></li><li>Set <var>O</var>.[[Map]] to <emu-val>undefined</emu-val>.</li><li>Return <emu-xref aoid="CreateIterResultObject" id="_ref_7230"><a href="#sec-createiterresultobject">CreateIterResultObject</a></emu-xref>(<emu-val>undefined</emu-val>, <emu-val>true</emu-val>).
          </li></ol></emu-alg>
        </emu-clause>

        <emu-clause id="sec-%mapiteratorprototype%-@@tostringtag">
          <h1><span class="secnum">23.1.5.2.2</span>%MapIteratorPrototype% [ @@toStringTag ]</h1>
          <p>The initial value of the @@toStringTag property is the String value <code>"Map Iterator"</code>.</p>
          <p>This property has the attributes { [[Writable]]: <emu-val>false</emu-val>, [[Enumerable]]: <emu-val>false</emu-val>, [[Configurable]]: <emu-val>true</emu-val> }.</p>
        </emu-clause>
      </emu-clause>

      <emu-clause id="sec-properties-of-map-iterator-instances">
        <h1><span class="secnum">23.1.5.3</span>Properties of Map Iterator Instances</h1>
        <p>Map Iterator instances are ordinary objects that inherit properties from the <emu-xref href="#sec-%mapiteratorprototype%-object" id="_ref_7231"><a href="#sec-%mapiteratorprototype%-object">%MapIteratorPrototype%</a></emu-xref> intrinsic object. Map Iterator instances are initially created with the internal slots described in  <emu-xref href="#table-50" id="_ref_652"><a href="#table-50">Table 60</a></emu-xref>.</p>
        <emu-table id="table-50" caption="Internal Slots of Map Iterator Instances"><figure><figcaption>Table 60: Internal Slots of Map Iterator Instances</figcaption>
          <table>
            <tbody>
            <tr>
              <th>
                Internal Slot
              
              </th>
              <th>
                Description
              
              </th>
            </tr>
            <tr>
              <td>
                [[Map]]
              
              </td>
              <td>
                The Map object that is being iterated.
              
              </td>
            </tr>
            <tr>
              <td>
                [[MapNextIndex]]
              
              </td>
              <td>
                The <emu-xref href="#integer-index" id="_ref_7232"><a href="#integer-index">integer index</a></emu-xref> of the next Map data element to be examined by this iterator.
              
              </td>
            </tr>
            <tr>
              <td>
                [[MapIterationKind]]
              
              </td>
              <td>
                A String value that identifies what is to be returned 
for each element of the iteration. The possible values are: <code>"key"</code>, <code>"value"</code>, <code>"key+value"</code>.
              
              </td>
            </tr>
            </tbody>
          </table>
        </figure></emu-table>
      </emu-clause>
    </emu-clause>
  </emu-clause>

  <emu-clause id="sec-set-objects">
    <h1><span class="secnum">23.2</span>Set Objects</h1>
    <p>Set objects are collections of ECMAScript language values. A 
distinct value may only occur once as an element of a Set's collection. 
Distinct values are discriminated using the <emu-xref aoid="SameValueZero" id="_ref_7233"><a href="#sec-samevaluezero">SameValueZero</a></emu-xref> comparison algorithm.</p>
    <p>Set objects must be implemented using either hash tables or other
 mechanisms that, on average, provide access times that are sublinear on
 the number of elements in the collection. The data structures used in 
this Set objects specification is only intended to describe the required
 observable semantics of Set objects. It is not intended to be a viable 
implementation model.</p>

    <emu-clause id="sec-set-constructor">
      <h1><span class="secnum">23.2.1</span>The Set Constructor</h1>
      <p>The Set <emu-xref href="#constructor" id="_ref_7234"><a href="#constructor">constructor</a></emu-xref>:</p>
      <ul>
        <li>is the intrinsic object  <dfn>%Set%</dfn>.</li>
        <li>is the initial value of the <code>Set</code> property of the <emu-xref href="#sec-global-object" id="_ref_7235"><a href="#sec-global-object">global object</a></emu-xref>.</li>
        <li>creates and initializes a new Set object when called as a <emu-xref href="#constructor" id="_ref_7236"><a href="#constructor">constructor</a></emu-xref>.</li>
        <li>is not intended to be called as a function and will throw an exception when called in that manner.</li>
        <li>is designed to be subclassable. It may be used as the value in an <code>extends</code> clause of a class definition. Subclass constructors that intend to inherit the specified <code>Set</code> behaviour must include a <code>super</code> call to the <code>Set</code> <emu-xref href="#constructor" id="_ref_7237"><a href="#constructor">constructor</a></emu-xref> to create and initialize the subclass instance with the internal state necessary to support the <code>Set.prototype</code> built-in methods.</li>
      </ul>

      <emu-clause id="sec-set-iterable">
        <h1><span class="secnum">23.2.1.1</span>Set ( [ <var>iterable</var> ] )</h1>
        <p>When the <code>Set</code> function is called with optional argument <var>iterable</var>, the following steps are taken:</p>
        <emu-alg><ol><li>If NewTarget is <emu-val>undefined</emu-val>, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>set</var> be ?&nbsp;<emu-xref aoid="OrdinaryCreateFromConstructor" id="_ref_7238"><a href="#sec-ordinarycreatefromconstructor">OrdinaryCreateFromConstructor</a></emu-xref>(NewTarget, <code>"%SetPrototype%"</code>, « [[SetData]] »).</li><li>Set <var>set</var>.[[SetData]] to a new empty <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7239"><a href="#sec-list-and-record-specification-type">List</a></emu-xref>.</li><li>If <var>iterable</var> is not present, set <var>iterable</var> to <emu-val>undefined</emu-val>.</li><li>If <var>iterable</var> is either <emu-val>undefined</emu-val> or <emu-val>null</emu-val>, return <var>set</var>.</li><li>Let <var>adder</var> be ?&nbsp;<emu-xref aoid="Get" id="_ref_7240"><a href="#sec-get-o-p">Get</a></emu-xref>(<var>set</var>, <code>"add"</code>).</li><li>If <emu-xref aoid="IsCallable" id="_ref_7241"><a href="#sec-iscallable">IsCallable</a></emu-xref>(<var>adder</var>) is <emu-val>false</emu-val>, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>iteratorRecord</var> be ?&nbsp;<emu-xref aoid="GetIterator" id="_ref_7242"><a href="#sec-getiterator">GetIterator</a></emu-xref>(<var>iterable</var>).</li><li>Repeat,<ol><li>Let <var>next</var> be ?&nbsp;<emu-xref aoid="IteratorStep" id="_ref_7243"><a href="#sec-iteratorstep">IteratorStep</a></emu-xref>(<var>iteratorRecord</var>).</li><li>If <var>next</var> is <emu-val>false</emu-val>, return <var>set</var>.</li><li>Let <var>nextValue</var> be ?&nbsp;<emu-xref aoid="IteratorValue" id="_ref_7244"><a href="#sec-iteratorvalue">IteratorValue</a></emu-xref>(<var>next</var>).</li><li>Let <var>status</var> be <emu-xref aoid="Call" id="_ref_7245"><a href="#sec-call">Call</a></emu-xref>(<var>adder</var>, <var>set</var>, « <var>nextValue</var> »).</li><li>If <var>status</var> is an <emu-xref href="#sec-completion-record-specification-type" id="_ref_7246"><a href="#sec-completion-record-specification-type">abrupt completion</a></emu-xref>, return ?&nbsp;<emu-xref aoid="IteratorClose" id="_ref_7247"><a href="#sec-iteratorclose">IteratorClose</a></emu-xref>(<var>iteratorRecord</var>, <var>status</var>).
        </li></ol></li></ol></emu-alg>
      </emu-clause>
    </emu-clause>

    <emu-clause id="sec-properties-of-the-set-constructor">
      <h1><span class="secnum">23.2.2</span>Properties of the Set Constructor</h1>
      <p>The Set <emu-xref href="#constructor" id="_ref_7248"><a href="#constructor">constructor</a></emu-xref>:</p>
      <ul>
        <li>has a [[Prototype]] internal slot whose value is the intrinsic object <emu-xref href="#sec-properties-of-the-function-prototype-object" id="_ref_7249"><a href="#sec-properties-of-the-function-prototype-object">%FunctionPrototype%</a></emu-xref>.</li>
        <li>has the following properties:</li>
      </ul>

      <emu-clause id="sec-set.prototype">
        <h1><span class="secnum">23.2.2.1</span>Set.prototype</h1>
        <p>The initial value of <code>Set.prototype</code> is the intrinsic <emu-xref href="#sec-properties-of-the-set-prototype-object" id="_ref_7250"><a href="#sec-properties-of-the-set-prototype-object">%SetPrototype%</a></emu-xref> object.</p>
        <p>This property has the attributes { [[Writable]]: <emu-val>false</emu-val>, [[Enumerable]]: <emu-val>false</emu-val>, [[Configurable]]: <emu-val>false</emu-val> }.</p>
      </emu-clause>

      <emu-clause id="sec-get-set-@@species">
        <h1><span class="secnum">23.2.2.2</span>get Set [ @@species ]</h1>
        <p><code>Set[@@species]</code> is an <emu-xref href="#sec-object-type" id="_ref_7251"><a href="#sec-object-type">accessor property</a></emu-xref> whose set accessor function is <emu-val>undefined</emu-val>. Its get accessor function performs the following steps:</p>
        <emu-alg><ol><li>Return the <emu-val>this</emu-val> value.
        </li></ol></emu-alg>
        <p>The value of the <code>name</code> property of this function is <code>"get [Symbol.species]"</code>.</p>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p>Methods that create derived collection objects should call @@species to determine the <emu-xref href="#constructor" id="_ref_7252"><a href="#constructor">constructor</a></emu-xref> to use to create the derived objects. Subclass <emu-xref href="#constructor" id="_ref_7253"><a href="#constructor">constructor</a></emu-xref> may over-ride @@species to change the default <emu-xref href="#constructor" id="_ref_7254"><a href="#constructor">constructor</a></emu-xref> assignment.</p>
        </div></emu-note>
      </emu-clause>
    </emu-clause>

    <emu-clause id="sec-properties-of-the-set-prototype-object">
      <h1><span class="secnum">23.2.3</span>Properties of the Set Prototype Object</h1>
      <p>The Set prototype object:</p>
      <ul>
        <li>is the intrinsic object  <dfn>%SetPrototype%</dfn>.</li>
        <li>has a [[Prototype]] internal slot whose value is the intrinsic object <emu-xref href="#sec-properties-of-the-object-prototype-object" id="_ref_7255"><a href="#sec-properties-of-the-object-prototype-object">%ObjectPrototype%</a></emu-xref>.</li>
        <li>is an ordinary object.</li>
        <li>does not have a [[SetData]] internal slot.</li>
      </ul>

      <emu-clause id="sec-set.prototype.add">
        <h1><span class="secnum">23.2.3.1</span>Set.prototype.add ( <var>value</var> )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>S</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7256"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>S</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>S</var> does not have a [[SetData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7257"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>S</var>.[[SetData]].</li><li>For each <var>e</var> that is an element of <var>entries</var>, do<ol><li>If <var>e</var> is not <emu-const>empty</emu-const> and <emu-xref aoid="SameValueZero" id="_ref_7258"><a href="#sec-samevaluezero">SameValueZero</a></emu-xref>(<var>e</var>, <var>value</var>) is <emu-val>true</emu-val>, then<ol><li>Return <var>S</var>.</li></ol></li></ol></li><li>If <var>value</var> is <emu-val>-0</emu-val>, set <var>value</var> to <emu-val>+0</emu-val>.</li><li>Append <var>value</var> as the last element of <var>entries</var>.</li><li>Return <var>S</var>.
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-set.prototype.clear">
        <h1><span class="secnum">23.2.3.2</span>Set.prototype.clear ( )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>S</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7259"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>S</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>S</var> does not have a [[SetData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7260"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>S</var>.[[SetData]].</li><li>For each <var>e</var> that is an element of <var>entries</var>, do<ol><li>Replace the element of <var>entries</var> whose value is <var>e</var> with an element whose value is <emu-const>empty</emu-const>.</li></ol></li><li>Return <emu-val>undefined</emu-val>.
        </li></ol></emu-alg>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p>The existing [[SetData]] <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7261"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> is preserved because there may be existing Set Iterator objects that are suspended midway through iterating over that <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7262"><a href="#sec-list-and-record-specification-type">List</a></emu-xref>.</p>
        </div></emu-note>
      </emu-clause>

      <emu-clause id="sec-set.prototype.constructor">
        <h1><span class="secnum">23.2.3.3</span>Set.prototype.constructor</h1>
        <p>The initial value of <code>Set.prototype.constructor</code> is the intrinsic object <emu-xref href="#sec-set-constructor" id="_ref_7263"><a href="#sec-set-constructor">%Set%</a></emu-xref>.</p>
      </emu-clause>

      <emu-clause id="sec-set.prototype.delete">
        <h1><span class="secnum">23.2.3.4</span>Set.prototype.delete ( <var>value</var> )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>S</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7264"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>S</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>S</var> does not have a [[SetData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7265"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>S</var>.[[SetData]].</li><li>For each <var>e</var> that is an element of <var>entries</var>, do<ol><li>If <var>e</var> is not <emu-const>empty</emu-const> and <emu-xref aoid="SameValueZero" id="_ref_7266"><a href="#sec-samevaluezero">SameValueZero</a></emu-xref>(<var>e</var>, <var>value</var>) is <emu-val>true</emu-val>, then<ol><li>Replace the element of <var>entries</var> whose value is <var>e</var> with an element whose value is <emu-const>empty</emu-const>.</li><li>Return <emu-val>true</emu-val>.</li></ol></li></ol></li><li>Return <emu-val>false</emu-val>.
        </li></ol></emu-alg>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p>The value <emu-const>empty</emu-const> is used as a 
specification device to indicate that an entry has been deleted. Actual 
implementations may take other actions such as physically removing the 
entry from internal data structures.</p>
        </div></emu-note>
      </emu-clause>

      <emu-clause id="sec-set.prototype.entries">
        <h1><span class="secnum">23.2.3.5</span>Set.prototype.entries ( )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>S</var> be the <emu-val>this</emu-val> value.</li><li>Return ?&nbsp;<emu-xref aoid="CreateSetIterator" id="_ref_7267"><a href="#sec-createsetiterator">CreateSetIterator</a></emu-xref>(<var>S</var>, <code>"key+value"</code>).
        </li></ol></emu-alg>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p>For iteration purposes, a Set appears similar to a Map where each entry has the same value for its key and value.</p>
        </div></emu-note>
      </emu-clause>

      <emu-clause id="sec-set.prototype.foreach">
        <h1><span class="secnum">23.2.3.6</span>Set.prototype.forEach ( <var>callbackfn</var> [ , <var>thisArg</var> ] )</h1>
        <p>When the <code>forEach</code> method is called with one or two arguments, the following steps are taken:</p>
        <emu-alg><ol><li>Let <var>S</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7268"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>S</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>S</var> does not have a [[SetData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <emu-xref aoid="IsCallable" id="_ref_7269"><a href="#sec-iscallable">IsCallable</a></emu-xref>(<var>callbackfn</var>) is <emu-val>false</emu-val>, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>thisArg</var> is present, let <var>T</var> be <var>thisArg</var>; else let <var>T</var> be <emu-val>undefined</emu-val>.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7270"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>S</var>.[[SetData]].</li><li>For each <var>e</var> that is an element of <var>entries</var>, in original insertion order, do<ol><li>If <var>e</var> is not <emu-const>empty</emu-const>, then<ol><li>Perform ?&nbsp;<emu-xref aoid="Call" id="_ref_7271"><a href="#sec-call">Call</a></emu-xref>(<var>callbackfn</var>, <var>T</var>, « <var>e</var>, <var>e</var>, <var>S</var> »).</li></ol></li></ol></li><li>Return <emu-val>undefined</emu-val>.
        </li></ol></emu-alg>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p><var>callbackfn</var> should be a function that accepts three arguments. <code>forEach</code> calls <var>callbackfn</var> once for each value present in the set object, in value insertion order. <var>callbackfn</var> is called only for values of the Set which actually exist; it is not called for keys that have been deleted from the set.</p>
          <p>If a <var>thisArg</var> parameter is provided, it will be used as the <emu-val>this</emu-val> value for each invocation of <var>callbackfn</var>. If it is not provided, <emu-val>undefined</emu-val> is used instead.</p>
          <p><var>callbackfn</var> is called with three arguments: the 
first two arguments are a value contained in the Set. The same value is 
passed for both arguments. The Set object being traversed is passed as 
the third argument.</p>
          <p>The <var>callbackfn</var> is called with three arguments to be consistent with the call back functions used by <code>forEach</code> methods for Map and Array. For Sets, each item value is considered to be both the key and the value.</p>
          <p><code>forEach</code> does not directly mutate the object on which it is called but the object may be mutated by the calls to <var>callbackfn</var>.</p>
          <p>Each value is normally visited only once. However, a value 
will be revisited if it is deleted after it has been visited and then 
re-added before the <code>forEach</code> call completes. Values that are deleted after the call to <code>forEach</code> begins and before being visited are not visited unless the value is added again before the <code>forEach</code> call completes. New values added after the call to <code>forEach</code> begins are visited.</p>
        </div></emu-note>
      </emu-clause>

      <emu-clause id="sec-set.prototype.has">
        <h1><span class="secnum">23.2.3.7</span>Set.prototype.has ( <var>value</var> )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>S</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7272"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>S</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>S</var> does not have a [[SetData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7273"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>S</var>.[[SetData]].</li><li>For each <var>e</var> that is an element of <var>entries</var>, do<ol><li>If <var>e</var> is not <emu-const>empty</emu-const> and <emu-xref aoid="SameValueZero" id="_ref_7274"><a href="#sec-samevaluezero">SameValueZero</a></emu-xref>(<var>e</var>, <var>value</var>) is <emu-val>true</emu-val>, return <emu-val>true</emu-val>.</li></ol></li><li>Return <emu-val>false</emu-val>.
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-set.prototype.keys">
        <h1><span class="secnum">23.2.3.8</span>Set.prototype.keys ( )</h1>
        <p>The initial value of the <code>keys</code> property is the same <emu-xref href="#function-object" id="_ref_7275"><a href="#function-object">function object</a></emu-xref> as the initial value of the <code>values</code> property.</p>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p>For iteration purposes, a Set appears similar to a Map where each entry has the same value for its key and value.</p>
        </div></emu-note>
      </emu-clause>

      <emu-clause id="sec-get-set.prototype.size">
        <h1><span class="secnum">23.2.3.9</span>get Set.prototype.size</h1>
        <p><code>Set.prototype.size</code> is an <emu-xref href="#sec-object-type" id="_ref_7276"><a href="#sec-object-type">accessor property</a></emu-xref> whose set accessor function is <emu-val>undefined</emu-val>. Its get accessor function performs the following steps:</p>
        <emu-alg><ol><li>Let <var>S</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7277"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>S</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>S</var> does not have a [[SetData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7278"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>S</var>.[[SetData]].</li><li>Let <var>count</var> be 0.</li><li>For each <var>e</var> that is an element of <var>entries</var>, do<ol><li>If <var>e</var> is not <emu-const>empty</emu-const>, increase <var>count</var> by 1.</li></ol></li><li>Return <var>count</var>.
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-set.prototype.values">
        <h1><span class="secnum">23.2.3.10</span>Set.prototype.values ( )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>S</var> be the <emu-val>this</emu-val> value.</li><li>Return ?&nbsp;<emu-xref aoid="CreateSetIterator" id="_ref_7279"><a href="#sec-createsetiterator">CreateSetIterator</a></emu-xref>(<var>S</var>, <code>"value"</code>).
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-set.prototype-@@iterator">
        <h1><span class="secnum">23.2.3.11</span>Set.prototype [ @@iterator ] ( )</h1>
        <p>The initial value of the @@iterator property is the same <emu-xref href="#function-object" id="_ref_7280"><a href="#function-object">function object</a></emu-xref> as the initial value of the <code>values</code> property.</p>
      </emu-clause>

      <emu-clause id="sec-set.prototype-@@tostringtag">
        <h1><span class="secnum">23.2.3.12</span>Set.prototype [ @@toStringTag ]</h1>
        <p>The initial value of the @@toStringTag property is the String value <code>"Set"</code>.</p>
        <p>This property has the attributes { [[Writable]]: <emu-val>false</emu-val>, [[Enumerable]]: <emu-val>false</emu-val>, [[Configurable]]: <emu-val>true</emu-val> }.</p>
      </emu-clause>
    </emu-clause>

    <emu-clause id="sec-properties-of-set-instances">
      <h1><span class="secnum">23.2.4</span>Properties of Set Instances</h1>
      <p>Set instances are ordinary objects that inherit properties from
 the Set prototype. Set instances also have a [[SetData]] internal slot.</p>
    </emu-clause>

    <emu-clause id="sec-set-iterator-objects">
      <h1><span class="secnum">23.2.5</span>Set Iterator Objects</h1>
      <p>A Set Iterator is an ordinary object, with the structure 
defined below, that represents a specific iteration over some specific 
Set instance object. There is not a named <emu-xref href="#constructor" id="_ref_7281"><a href="#constructor">constructor</a></emu-xref> for Set Iterator objects. Instead, set iterator objects are created by calling certain methods of Set instance objects.</p>

      <emu-clause id="sec-createsetiterator" aoid="CreateSetIterator">
        <h1><span class="secnum">23.2.5.1</span>CreateSetIterator ( <var>set</var>, <var>kind</var> )</h1>
        <p>Several methods of Set objects return Iterator objects. The abstract operation CreateSetIterator with arguments <var>set</var> and <var>kind</var> is used to create such iterator objects. It performs the following steps:</p>
        <emu-alg><ol><li>If <emu-xref aoid="Type" id="_ref_7282"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>set</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>set</var> does not have a [[SetData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>iterator</var> be <emu-xref aoid="ObjectCreate" id="_ref_7283"><a href="#sec-objectcreate">ObjectCreate</a></emu-xref>(<emu-xref href="#sec-%setiteratorprototype%-object" id="_ref_7284"><a href="#sec-%setiteratorprototype%-object">%SetIteratorPrototype%</a></emu-xref>, « [[IteratedSet]], [[SetNextIndex]], [[SetIterationKind]] »).</li><li>Set <var>iterator</var>.[[IteratedSet]] to <var>set</var>.</li><li>Set <var>iterator</var>.[[SetNextIndex]] to 0.</li><li>Set <var>iterator</var>.[[SetIterationKind]] to <var>kind</var>.</li><li>Return <var>iterator</var>.
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-%setiteratorprototype%-object">
        <h1><span class="secnum">23.2.5.2</span>The %SetIteratorPrototype% Object</h1>
        <p>The  <dfn>%SetIteratorPrototype%</dfn> object:</p>
        <ul>
          <li>has properties that are inherited by all Set Iterator Objects.</li>
          <li>is an ordinary object.</li>
          <li>has a [[Prototype]] internal slot whose value is the intrinsic object <emu-xref href="#sec-%iteratorprototype%-object" id="_ref_7285"><a href="#sec-%iteratorprototype%-object">%IteratorPrototype%</a></emu-xref>.</li>
          <li>has the following properties:</li>
        </ul>

        <emu-clause id="sec-%setiteratorprototype%.next">
          <h1><span class="secnum">23.2.5.2.1</span>%SetIteratorPrototype%.next ( )</h1>
          <emu-alg><ol><li>Let <var>O</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7286"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>O</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>O</var> does not have all of the internal slots of a Set Iterator Instance (<emu-xref href="#sec-properties-of-set-iterator-instances" id="_ref_653"><a href="#sec-properties-of-set-iterator-instances">23.2.5.3</a></emu-xref>), throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>s</var> be <var>O</var>.[[IteratedSet]].</li><li>Let <var>index</var> be <var>O</var>.[[SetNextIndex]].</li><li>Let <var>itemKind</var> be <var>O</var>.[[SetIterationKind]].</li><li>If <var>s</var> is <emu-val>undefined</emu-val>, return <emu-xref aoid="CreateIterResultObject" id="_ref_7287"><a href="#sec-createiterresultobject">CreateIterResultObject</a></emu-xref>(<emu-val>undefined</emu-val>, <emu-val>true</emu-val>).</li><li><emu-xref href="#assert" id="_ref_7288"><a href="#assert">Assert</a></emu-xref>: <var>s</var> has a [[SetData]] internal slot.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7289"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>s</var>.[[SetData]].</li><li>Let <var>numEntries</var> be the number of elements of <var>entries</var>.</li><li>NOTE: <var>numEntries</var> must be redetermined each time this method is evaluated.</li><li>Repeat, while <var>index</var> is less than <var>numEntries</var>,<ol><li>Let <var>e</var> be <var>entries</var>[<var>index</var>].</li><li>Increase <var>index</var> by 1.</li><li>Set <var>O</var>.[[SetNextIndex]] to <var>index</var>.</li><li>If <var>e</var> is not <emu-const>empty</emu-const>, then<ol><li>If <var>itemKind</var> is <code>"key+value"</code>, then<ol><li>Return <emu-xref aoid="CreateIterResultObject" id="_ref_7290"><a href="#sec-createiterresultobject">CreateIterResultObject</a></emu-xref>(<emu-xref aoid="CreateArrayFromList" id="_ref_7291"><a href="#sec-createarrayfromlist">CreateArrayFromList</a></emu-xref>(« <var>e</var>, <var>e</var> »), <emu-val>false</emu-val>).</li></ol></li><li>Return <emu-xref aoid="CreateIterResultObject" id="_ref_7292"><a href="#sec-createiterresultobject">CreateIterResultObject</a></emu-xref>(<var>e</var>, <emu-val>false</emu-val>).</li></ol></li></ol></li><li>Set <var>O</var>.[[IteratedSet]] to <emu-val>undefined</emu-val>.</li><li>Return <emu-xref aoid="CreateIterResultObject" id="_ref_7293"><a href="#sec-createiterresultobject">CreateIterResultObject</a></emu-xref>(<emu-val>undefined</emu-val>, <emu-val>true</emu-val>).
          </li></ol></emu-alg>
        </emu-clause>

        <emu-clause id="sec-%setiteratorprototype%-@@tostringtag">
          <h1><span class="secnum">23.2.5.2.2</span>%SetIteratorPrototype% [ @@toStringTag ]</h1>
          <p>The initial value of the @@toStringTag property is the String value <code>"Set Iterator"</code>.</p>
          <p>This property has the attributes { [[Writable]]: <emu-val>false</emu-val>, [[Enumerable]]: <emu-val>false</emu-val>, [[Configurable]]: <emu-val>true</emu-val> }.</p>
        </emu-clause>
      </emu-clause>

      <emu-clause id="sec-properties-of-set-iterator-instances">
        <h1><span class="secnum">23.2.5.3</span>Properties of Set Iterator Instances</h1>
        <p>Set Iterator instances are ordinary objects that inherit properties from the <emu-xref href="#sec-%setiteratorprototype%-object" id="_ref_7294"><a href="#sec-%setiteratorprototype%-object">%SetIteratorPrototype%</a></emu-xref> intrinsic object. Set Iterator instances are initially created with the internal slots specified in  <emu-xref href="#table-51" id="_ref_654"><a href="#table-51">Table 61</a></emu-xref>.</p>
        <emu-table id="table-51" caption="Internal Slots of Set Iterator Instances"><figure><figcaption>Table 61: Internal Slots of Set Iterator Instances</figcaption>
          <table>
            <tbody>
            <tr>
              <th>
                Internal Slot
              
              </th>
              <th>
                Description
              
              </th>
            </tr>
            <tr>
              <td>
                [[IteratedSet]]
              
              </td>
              <td>
                The Set object that is being iterated.
              
              </td>
            </tr>
            <tr>
              <td>
                [[SetNextIndex]]
              
              </td>
              <td>
                The <emu-xref href="#integer-index" id="_ref_7295"><a href="#integer-index">integer index</a></emu-xref> of the next Set data element to be examined by this iterator
              
              </td>
            </tr>
            <tr>
              <td>
                [[SetIterationKind]]
              
              </td>
              <td>
                A String value that identifies what is to be returned 
for each element of the iteration. The possible values are: <code>"key"</code>, <code>"value"</code>, <code>"key+value"</code>. <code>"key"</code> and <code>"value"</code> have the same meaning.
              
              </td>
            </tr>
            </tbody>
          </table>
        </figure></emu-table>
      </emu-clause>
    </emu-clause>
  </emu-clause>

  <emu-clause id="sec-weakmap-objects">
    <h1><span class="secnum">23.3</span>WeakMap Objects</h1>
    <p>WeakMap objects are collections of key/value pairs where the keys
 are objects and values may be arbitrary ECMAScript language values. A 
WeakMap may be queried to see if it contains a key/value pair with a 
specific key, but no mechanism is provided for enumerating the objects 
it holds as keys. If an object that is being used as the key of a 
WeakMap key/value pair is only reachable by following a chain of 
references that start within that WeakMap, then that key/value pair is 
inaccessible and is automatically removed from the WeakMap. WeakMap 
implementations must detect and remove such key/value pairs and any 
associated resources.</p>
    <p>An implementation may impose an arbitrarily determined latency 
between the time a key/value pair of a WeakMap becomes inaccessible and 
the time when the key/value pair is removed from the WeakMap. If this 
latency was observable to ECMAScript program, it would be a source of 
indeterminacy that could impact program execution. For that reason, an 
ECMAScript implementation must not provide any means to observe a key of
 a WeakMap that does not require the observer to present the observed 
key.</p>
    <p>WeakMap objects must be implemented using either hash tables or 
other mechanisms that, on average, provide access times that are 
sublinear on the number of key/value pairs in the collection. The data 
structure used in this WeakMap objects specification are only intended 
to describe the required observable semantics of WeakMap objects. It is 
not intended to be a viable implementation model.</p>
    <emu-note><span class="note">Note</span><div class="note-contents">
      <p>WeakMap and WeakSets are intended to provide mechanisms for 
dynamically associating state with an object in a manner that does not 
“leak” memory resources if, in the absence of the WeakMap or WeakSet, 
the object otherwise became inaccessible and subject to resource 
reclamation by the implementation's garbage collection mechanisms. This 
characteristic can be achieved by using an inverted per-object mapping 
of weak map instances to keys. Alternatively each weak map may 
internally store its key to value mappings but this approach requires 
coordination between the WeakMap or WeakSet implementation and the 
garbage collector. The following references describe mechanism that may 
be useful to implementations of WeakMap and WeakSets:</p>
      <p>Barry Hayes. 1997. Ephemerons: a new finalization mechanism. In  <i>Proceedings of the 12th ACM SIGPLAN conference on Object-oriented programming, systems, languages, and applications (OOPSLA '97)</i>, A. Michael Berman (Ed.). ACM, New York, NY, USA, 176-183,  <a href="http://doi.acm.org/10.1145/263698.263733">http://doi.acm.org/10.1145/263698.263733</a>.</p>
      <p>Alexandra Barros, Roberto Ierusalimschy, Eliminating Cycles in 
Weak Tables. Journal of Universal Computer Science - J.UCS, vol. 14, no.
 21, pp. 3481-3497, 2008,  <a href="http://www.jucs.org/jucs_14_21/eliminating_cycles_in_weak">http://www.jucs.org/jucs_14_21/eliminating_cycles_in_weak</a></p>
    </div></emu-note>

    <emu-clause id="sec-weakmap-constructor">
      <h1><span class="secnum">23.3.1</span>The WeakMap Constructor</h1>
      <p>The WeakMap <emu-xref href="#constructor" id="_ref_7296"><a href="#constructor">constructor</a></emu-xref>:</p>
      <ul>
        <li>is the intrinsic object  <dfn>%WeakMap%</dfn>.</li>
        <li>is the initial value of the <code>WeakMap</code> property of the <emu-xref href="#sec-global-object" id="_ref_7297"><a href="#sec-global-object">global object</a></emu-xref>.</li>
        <li>creates and initializes a new WeakMap object when called as a <emu-xref href="#constructor" id="_ref_7298"><a href="#constructor">constructor</a></emu-xref>.</li>
        <li>is not intended to be called as a function and will throw an exception when called in that manner.</li>
        <li>is designed to be subclassable. It may be used as the value in an <code>extends</code> clause of a class definition. Subclass constructors that intend to inherit the specified <code>WeakMap</code> behaviour must include a <code>super</code> call to the <code>WeakMap</code> <emu-xref href="#constructor" id="_ref_7299"><a href="#constructor">constructor</a></emu-xref> to create and initialize the subclass instance with the internal state necessary to support the <code>WeakMap.prototype</code> built-in methods.</li>
      </ul>

      <emu-clause id="sec-weakmap-iterable">
        <h1><span class="secnum">23.3.1.1</span>WeakMap ( [ <var>iterable</var> ] )</h1>
        <p>When the <code>WeakMap</code> function is called with optional argument <var>iterable</var>, the following steps are taken:</p>
        <emu-alg><ol><li>If NewTarget is <emu-val>undefined</emu-val>, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>map</var> be ?&nbsp;<emu-xref aoid="OrdinaryCreateFromConstructor" id="_ref_7300"><a href="#sec-ordinarycreatefromconstructor">OrdinaryCreateFromConstructor</a></emu-xref>(NewTarget, <code>"%WeakMapPrototype%"</code>, « [[WeakMapData]] »).</li><li>Set <var>map</var>.[[WeakMapData]] to a new empty <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7301"><a href="#sec-list-and-record-specification-type">List</a></emu-xref>.</li><li>If <var>iterable</var> is not present, or is either <emu-val>undefined</emu-val> or <emu-val>null</emu-val>, return <var>map</var>.</li><li>Let <var>adder</var> be ?&nbsp;<emu-xref aoid="Get" id="_ref_7302"><a href="#sec-get-o-p">Get</a></emu-xref>(<var>map</var>, <code>"set"</code>).</li><li>Return ?&nbsp;<emu-xref aoid="AddEntriesFromIterable" id="_ref_7303"><a href="#sec-add-entries-from-iterable">AddEntriesFromIterable</a></emu-xref>(<var>map</var>, <var>iterable</var>, <var>adder</var>).
        </li></ol></emu-alg>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p>If the parameter <var>iterable</var> is present, it is 
expected to be an object that implements an @@iterator method that 
returns an iterator object that produces a two element array-like object
 whose first element is a value that will be used as a WeakMap key and 
whose second element is the value to associate with that key.</p>
        </div></emu-note>
      </emu-clause>
    </emu-clause>

    <emu-clause id="sec-properties-of-the-weakmap-constructor">
      <h1><span class="secnum">23.3.2</span>Properties of the WeakMap Constructor</h1>
      <p>The WeakMap <emu-xref href="#constructor" id="_ref_7304"><a href="#constructor">constructor</a></emu-xref>:</p>
      <ul>
        <li>has a [[Prototype]] internal slot whose value is the intrinsic object <emu-xref href="#sec-properties-of-the-function-prototype-object" id="_ref_7305"><a href="#sec-properties-of-the-function-prototype-object">%FunctionPrototype%</a></emu-xref>.</li>
        <li>has the following properties:</li>
      </ul>

      <emu-clause id="sec-weakmap.prototype">
        <h1><span class="secnum">23.3.2.1</span>WeakMap.prototype</h1>
        <p>The initial value of <code>WeakMap.prototype</code> is the intrinsic object <emu-xref href="#sec-properties-of-the-weakmap-prototype-object" id="_ref_7306"><a href="#sec-properties-of-the-weakmap-prototype-object">%WeakMapPrototype%</a></emu-xref>.</p>
        <p>This property has the attributes { [[Writable]]: <emu-val>false</emu-val>, [[Enumerable]]: <emu-val>false</emu-val>, [[Configurable]]: <emu-val>false</emu-val> }.</p>
      </emu-clause>
    </emu-clause>

    <emu-clause id="sec-properties-of-the-weakmap-prototype-object">
      <h1><span class="secnum">23.3.3</span>Properties of the WeakMap Prototype Object</h1>
      <p>The WeakMap prototype object:</p>
      <ul>
        <li>is the intrinsic object  <dfn>%WeakMapPrototype%</dfn>.</li>
        <li>has a [[Prototype]] internal slot whose value is the intrinsic object <emu-xref href="#sec-properties-of-the-object-prototype-object" id="_ref_7307"><a href="#sec-properties-of-the-object-prototype-object">%ObjectPrototype%</a></emu-xref>.</li>
        <li>is an ordinary object.</li>
        <li>does not have a [[WeakMapData]] internal slot.</li>
      </ul>

      <emu-clause id="sec-weakmap.prototype.constructor">
        <h1><span class="secnum">23.3.3.1</span>WeakMap.prototype.constructor</h1>
        <p>The initial value of <code>WeakMap.prototype.constructor</code> is the intrinsic object <emu-xref href="#sec-weakmap-constructor" id="_ref_7308"><a href="#sec-weakmap-constructor">%WeakMap%</a></emu-xref>.</p>
      </emu-clause>

      <emu-clause id="sec-weakmap.prototype.delete">
        <h1><span class="secnum">23.3.3.2</span>WeakMap.prototype.delete ( <var>key</var> )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>M</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7309"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>M</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>M</var> does not have a [[WeakMapData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7310"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>M</var>.[[WeakMapData]].</li><li>If <emu-xref aoid="Type" id="_ref_7311"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>key</var>) is not Object, return <emu-val>false</emu-val>.</li><li>For each <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7312"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref> { [[Key]], [[Value]] } <var>p</var> that is an element of <var>entries</var>, do<ol><li>If <var>p</var>.[[Key]] is not <emu-const>empty</emu-const> and <emu-xref aoid="SameValue" id="_ref_7313"><a href="#sec-samevalue">SameValue</a></emu-xref>(<var>p</var>.[[Key]], <var>key</var>) is <emu-val>true</emu-val>, then<ol><li>Set <var>p</var>.[[Key]] to <emu-const>empty</emu-const>.</li><li>Set <var>p</var>.[[Value]] to <emu-const>empty</emu-const>.</li><li>Return <emu-val>true</emu-val>.</li></ol></li></ol></li><li>Return <emu-val>false</emu-val>.
        </li></ol></emu-alg>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p>The value <emu-const>empty</emu-const> is used as a 
specification device to indicate that an entry has been deleted. Actual 
implementations may take other actions such as physically removing the 
entry from internal data structures.</p>
        </div></emu-note>
      </emu-clause>

      <emu-clause id="sec-weakmap.prototype.get">
        <h1><span class="secnum">23.3.3.3</span>WeakMap.prototype.get ( <var>key</var> )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>M</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7314"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>M</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>M</var> does not have a [[WeakMapData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7315"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>M</var>.[[WeakMapData]].</li><li>If <emu-xref aoid="Type" id="_ref_7316"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>key</var>) is not Object, return <emu-val>undefined</emu-val>.</li><li>For each <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7317"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref> { [[Key]], [[Value]] } <var>p</var> that is an element of <var>entries</var>, do<ol><li>If <var>p</var>.[[Key]] is not <emu-const>empty</emu-const> and <emu-xref aoid="SameValue" id="_ref_7318"><a href="#sec-samevalue">SameValue</a></emu-xref>(<var>p</var>.[[Key]], <var>key</var>) is <emu-val>true</emu-val>, return <var>p</var>.[[Value]].</li></ol></li><li>Return <emu-val>undefined</emu-val>.
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-weakmap.prototype.has">
        <h1><span class="secnum">23.3.3.4</span>WeakMap.prototype.has ( <var>key</var> )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>M</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7319"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>M</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>M</var> does not have a [[WeakMapData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7320"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>M</var>.[[WeakMapData]].</li><li>If <emu-xref aoid="Type" id="_ref_7321"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>key</var>) is not Object, return <emu-val>false</emu-val>.</li><li>For each <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7322"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref> { [[Key]], [[Value]] } <var>p</var> that is an element of <var>entries</var>, do<ol><li>If <var>p</var>.[[Key]] is not <emu-const>empty</emu-const> and <emu-xref aoid="SameValue" id="_ref_7323"><a href="#sec-samevalue">SameValue</a></emu-xref>(<var>p</var>.[[Key]], <var>key</var>) is <emu-val>true</emu-val>, return <emu-val>true</emu-val>.</li></ol></li><li>Return <emu-val>false</emu-val>.
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-weakmap.prototype.set">
        <h1><span class="secnum">23.3.3.5</span>WeakMap.prototype.set ( <var>key</var>, <var>value</var> )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>M</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7324"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>M</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>M</var> does not have a [[WeakMapData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7325"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>M</var>.[[WeakMapData]].</li><li>If <emu-xref aoid="Type" id="_ref_7326"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>key</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>For each <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7327"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref> { [[Key]], [[Value]] } <var>p</var> that is an element of <var>entries</var>, do<ol><li>If <var>p</var>.[[Key]] is not <emu-const>empty</emu-const> and <emu-xref aoid="SameValue" id="_ref_7328"><a href="#sec-samevalue">SameValue</a></emu-xref>(<var>p</var>.[[Key]], <var>key</var>) is <emu-val>true</emu-val>, then<ol><li>Set <var>p</var>.[[Value]] to <var>value</var>.</li><li>Return <var>M</var>.</li></ol></li></ol></li><li>Let <var>p</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7329"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref> { [[Key]]: <var>key</var>, [[Value]]: <var>value</var> }.</li><li>Append <var>p</var> as the last element of <var>entries</var>.</li><li>Return <var>M</var>.
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-weakmap.prototype-@@tostringtag">
        <h1><span class="secnum">23.3.3.6</span>WeakMap.prototype [ @@toStringTag ]</h1>
        <p>The initial value of the @@toStringTag property is the String value <code>"WeakMap"</code>.</p>
        <p>This property has the attributes { [[Writable]]: <emu-val>false</emu-val>, [[Enumerable]]: <emu-val>false</emu-val>, [[Configurable]]: <emu-val>true</emu-val> }.</p>
      </emu-clause>
    </emu-clause>

    <emu-clause id="sec-properties-of-weakmap-instances">
      <h1><span class="secnum">23.3.4</span>Properties of WeakMap Instances</h1>
      <p>WeakMap instances are ordinary objects that inherit properties 
from the WeakMap prototype. WeakMap instances also have a 
[[WeakMapData]] internal slot.</p>
    </emu-clause>
  </emu-clause>

  <emu-clause id="sec-weakset-objects">
    <h1><span class="secnum">23.4</span>WeakSet Objects</h1>
    <p>WeakSet objects are collections of objects. A distinct object may
 only occur once as an element of a WeakSet's collection. A WeakSet may 
be queried to see if it contains a specific object, but no mechanism is 
provided for enumerating the objects it holds. If an object that is 
contained by a WeakSet is only reachable by following a chain of 
references that start within that WeakSet, then that object is 
inaccessible and is automatically removed from the WeakSet. WeakSet 
implementations must detect and remove such objects and any associated 
resources.</p>
    <p>An implementation may impose an arbitrarily determined latency 
between the time an object contained in a WeakSet becomes inaccessible 
and the time when the object is removed from the WeakSet. If this 
latency was observable to ECMAScript program, it would be a source of 
indeterminacy that could impact program execution. For that reason, an 
ECMAScript implementation must not provide any means to determine if a 
WeakSet contains a particular object that does not require the observer 
to present the observed object.</p>
    <p>WeakSet objects must be implemented using either hash tables or 
other mechanisms that, on average, provide access times that are 
sublinear on the number of elements in the collection. The data 
structure used in this WeakSet objects specification is only intended to
 describe the required observable semantics of WeakSet objects. It is 
not intended to be a viable implementation model.</p>
    <emu-note><span class="note">Note</span><div class="note-contents">
      <p>See the NOTE in  <emu-xref href="#sec-weakmap-objects" id="_ref_655"><a href="#sec-weakmap-objects">23.3</a></emu-xref>.</p>
    </div></emu-note>

    <emu-clause id="sec-weakset-constructor">
      <h1><span class="secnum">23.4.1</span>The WeakSet Constructor</h1>
      <p>The WeakSet <emu-xref href="#constructor" id="_ref_7330"><a href="#constructor">constructor</a></emu-xref>:</p>
      <ul>
        <li>is the intrinsic object  <dfn>%WeakSet%</dfn>.</li>
        <li>is the initial value of the <code>WeakSet</code> property of the <emu-xref href="#sec-global-object" id="_ref_7331"><a href="#sec-global-object">global object</a></emu-xref>.</li>
        <li>creates and initializes a new WeakSet object when called as a <emu-xref href="#constructor" id="_ref_7332"><a href="#constructor">constructor</a></emu-xref>.</li>
        <li>is not intended to be called as a function and will throw an exception when called in that manner.</li>
        <li>is designed to be subclassable. It may be used as the value in an <code>extends</code> clause of a class definition. Subclass constructors that intend to inherit the specified <code>WeakSet</code> behaviour must include a <code>super</code> call to the <code>WeakSet</code> <emu-xref href="#constructor" id="_ref_7333"><a href="#constructor">constructor</a></emu-xref> to create and initialize the subclass instance with the internal state necessary to support the <code>WeakSet.prototype</code> built-in methods.</li>
      </ul>

      <emu-clause id="sec-weakset-iterable">
        <h1><span class="secnum">23.4.1.1</span>WeakSet ( [ <var>iterable</var> ] )</h1>
        <p>When the <code>WeakSet</code> function is called with optional argument <var>iterable</var>, the following steps are taken:</p>
        <emu-alg><ol><li>If NewTarget is <emu-val>undefined</emu-val>, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>set</var> be ?&nbsp;<emu-xref aoid="OrdinaryCreateFromConstructor" id="_ref_7334"><a href="#sec-ordinarycreatefromconstructor">OrdinaryCreateFromConstructor</a></emu-xref>(NewTarget, <code>"%WeakSetPrototype%"</code>, « [[WeakSetData]] »).</li><li>Set <var>set</var>.[[WeakSetData]] to a new empty <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7335"><a href="#sec-list-and-record-specification-type">List</a></emu-xref>.</li><li>If <var>iterable</var> is not present, set <var>iterable</var> to <emu-val>undefined</emu-val>.</li><li>If <var>iterable</var> is either <emu-val>undefined</emu-val> or <emu-val>null</emu-val>, return <var>set</var>.</li><li>Let <var>adder</var> be ?&nbsp;<emu-xref aoid="Get" id="_ref_7336"><a href="#sec-get-o-p">Get</a></emu-xref>(<var>set</var>, <code>"add"</code>).</li><li>If <emu-xref aoid="IsCallable" id="_ref_7337"><a href="#sec-iscallable">IsCallable</a></emu-xref>(<var>adder</var>) is <emu-val>false</emu-val>, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>iteratorRecord</var> be ?&nbsp;<emu-xref aoid="GetIterator" id="_ref_7338"><a href="#sec-getiterator">GetIterator</a></emu-xref>(<var>iterable</var>).</li><li>Repeat,<ol><li>Let <var>next</var> be ?&nbsp;<emu-xref aoid="IteratorStep" id="_ref_7339"><a href="#sec-iteratorstep">IteratorStep</a></emu-xref>(<var>iteratorRecord</var>).</li><li>If <var>next</var> is <emu-val>false</emu-val>, return <var>set</var>.</li><li>Let <var>nextValue</var> be ?&nbsp;<emu-xref aoid="IteratorValue" id="_ref_7340"><a href="#sec-iteratorvalue">IteratorValue</a></emu-xref>(<var>next</var>).</li><li>Let <var>status</var> be <emu-xref aoid="Call" id="_ref_7341"><a href="#sec-call">Call</a></emu-xref>(<var>adder</var>, <var>set</var>, « <var>nextValue</var> »).</li><li>If <var>status</var> is an <emu-xref href="#sec-completion-record-specification-type" id="_ref_7342"><a href="#sec-completion-record-specification-type">abrupt completion</a></emu-xref>, return ?&nbsp;<emu-xref aoid="IteratorClose" id="_ref_7343"><a href="#sec-iteratorclose">IteratorClose</a></emu-xref>(<var>iteratorRecord</var>, <var>status</var>).
        </li></ol></li></ol></emu-alg>
      </emu-clause>
    </emu-clause>

    <emu-clause id="sec-properties-of-the-weakset-constructor">
      <h1><span class="secnum">23.4.2</span>Properties of the WeakSet Constructor</h1>
      <p>The WeakSet <emu-xref href="#constructor" id="_ref_7344"><a href="#constructor">constructor</a></emu-xref>:</p>
      <ul>
        <li>has a [[Prototype]] internal slot whose value is the intrinsic object <emu-xref href="#sec-properties-of-the-function-prototype-object" id="_ref_7345"><a href="#sec-properties-of-the-function-prototype-object">%FunctionPrototype%</a></emu-xref>.</li>
        <li>has the following properties:</li>
      </ul>

      <emu-clause id="sec-weakset.prototype">
        <h1><span class="secnum">23.4.2.1</span>WeakSet.prototype</h1>
        <p>The initial value of <code>WeakSet.prototype</code> is the intrinsic <emu-xref href="#sec-properties-of-the-weakset-prototype-object" id="_ref_7346"><a href="#sec-properties-of-the-weakset-prototype-object">%WeakSetPrototype%</a></emu-xref> object.</p>
        <p>This property has the attributes { [[Writable]]: <emu-val>false</emu-val>, [[Enumerable]]: <emu-val>false</emu-val>, [[Configurable]]: <emu-val>false</emu-val> }.</p>
      </emu-clause>
    </emu-clause>

    <emu-clause id="sec-properties-of-the-weakset-prototype-object">
      <h1><span class="secnum">23.4.3</span>Properties of the WeakSet Prototype Object</h1>
      <p>The WeakSet prototype object:</p>
      <ul>
        <li>is the intrinsic object  <dfn>%WeakSetPrototype%</dfn>.</li>
        <li>has a [[Prototype]] internal slot whose value is the intrinsic object <emu-xref href="#sec-properties-of-the-object-prototype-object" id="_ref_7347"><a href="#sec-properties-of-the-object-prototype-object">%ObjectPrototype%</a></emu-xref>.</li>
        <li>is an ordinary object.</li>
        <li>does not have a [[WeakSetData]] internal slot.</li>
      </ul>

      <emu-clause id="sec-weakset.prototype.add">
        <h1><span class="secnum">23.4.3.1</span>WeakSet.prototype.add ( <var>value</var> )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>S</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7348"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>S</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>S</var> does not have a [[WeakSetData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <emu-xref aoid="Type" id="_ref_7349"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>value</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7350"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>S</var>.[[WeakSetData]].</li><li>For each <var>e</var> that is an element of <var>entries</var>, do<ol><li>If <var>e</var> is not <emu-const>empty</emu-const> and <emu-xref aoid="SameValue" id="_ref_7351"><a href="#sec-samevalue">SameValue</a></emu-xref>(<var>e</var>, <var>value</var>) is <emu-val>true</emu-val>, then<ol><li>Return <var>S</var>.</li></ol></li></ol></li><li>Append <var>value</var> as the last element of <var>entries</var>.</li><li>Return <var>S</var>.
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-weakset.prototype.constructor">
        <h1><span class="secnum">23.4.3.2</span>WeakSet.prototype.constructor</h1>
        <p>The initial value of <code>WeakSet.prototype.constructor</code> is the <emu-xref href="#sec-weakset-constructor" id="_ref_7352"><a href="#sec-weakset-constructor">%WeakSet%</a></emu-xref> intrinsic object.</p>
      </emu-clause>

      <emu-clause id="sec-weakset.prototype.delete">
        <h1><span class="secnum">23.4.3.3</span>WeakSet.prototype.delete ( <var>value</var> )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>S</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7353"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>S</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>S</var> does not have a [[WeakSetData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <emu-xref aoid="Type" id="_ref_7354"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>value</var>) is not Object, return <emu-val>false</emu-val>.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7355"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>S</var>.[[WeakSetData]].</li><li>For each <var>e</var> that is an element of <var>entries</var>, do<ol><li>If <var>e</var> is not <emu-const>empty</emu-const> and <emu-xref aoid="SameValue" id="_ref_7356"><a href="#sec-samevalue">SameValue</a></emu-xref>(<var>e</var>, <var>value</var>) is <emu-val>true</emu-val>, then<ol><li>Replace the element of <var>entries</var> whose value is <var>e</var> with an element whose value is <emu-const>empty</emu-const>.</li><li>Return <emu-val>true</emu-val>.</li></ol></li></ol></li><li>Return <emu-val>false</emu-val>.
        </li></ol></emu-alg>
        <emu-note><span class="note">Note</span><div class="note-contents">
          <p>The value <emu-const>empty</emu-const> is used as a 
specification device to indicate that an entry has been deleted. Actual 
implementations may take other actions such as physically removing the 
entry from internal data structures.</p>
        </div></emu-note>
      </emu-clause>

      <emu-clause id="sec-weakset.prototype.has">
        <h1><span class="secnum">23.4.3.4</span>WeakSet.prototype.has ( <var>value</var> )</h1>
        <p>The following steps are taken:</p>
        <emu-alg><ol><li>Let <var>S</var> be the <emu-val>this</emu-val> value.</li><li>If <emu-xref aoid="Type" id="_ref_7357"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>S</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>S</var> does not have a [[WeakSetData]] internal slot, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>entries</var> be the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_7358"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> that is <var>S</var>.[[WeakSetData]].</li><li>If <emu-xref aoid="Type" id="_ref_7359"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>value</var>) is not Object, return <emu-val>false</emu-val>.</li><li>For each <var>e</var> that is an element of <var>entries</var>, do<ol><li>If <var>e</var> is not <emu-const>empty</emu-const> and <emu-xref aoid="SameValue" id="_ref_7360"><a href="#sec-samevalue">SameValue</a></emu-xref>(<var>e</var>, <var>value</var>) is <emu-val>true</emu-val>, return <emu-val>true</emu-val>.</li></ol></li><li>Return <emu-val>false</emu-val>.
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-weakset.prototype-@@tostringtag">
        <h1><span class="secnum">23.4.3.5</span>WeakSet.prototype [ @@toStringTag ]</h1>
        <p>The initial value of the @@toStringTag property is the String value <code>"WeakSet"</code>.</p>
        <p>This property has the attributes { [[Writable]]: <emu-val>false</emu-val>, [[Enumerable]]: <emu-val>false</emu-val>, [[Configurable]]: <emu-val>true</emu-val> }.</p>
      </emu-clause>
    </emu-clause>

    <emu-clause id="sec-properties-of-weakset-instances">
      <h1><span class="secnum">23.4.4</span>Properties of WeakSet Instances</h1>
      <p>WeakSet instances are ordinary objects that inherit properties 
from the WeakSet prototype. WeakSet instances also have a 
[[WeakSetData]] internal slot.</p>
    </emu-clause>
  </emu-clause>
</emu-clause>
