<emu-clause id="sec-memory-model">
  <h1><span class="secnum">27</span>Memory Model</h1>
  <p>The memory consistency model, or  <dfn>memory model</dfn>, specifies the possible orderings of <emu-xref href="#sec-data-blocks" id="_ref_8389"><a href="#sec-data-blocks">Shared Data Block</a></emu-xref>
 events, arising via accessing TypedArray instances backed by a 
SharedArrayBuffer and via methods on the Atomics object. When the 
program has no data races (defined below), the ordering of events 
appears as sequentially consistent, i.e., as an interleaving of actions 
from each <emu-xref href="#agent" id="_ref_8390"><a href="#agent">agent</a></emu-xref>.
 When the program has data races, shared memory operations may appear 
sequentially inconsistent. For example, programs may exhibit 
causality-violating behaviour and other astonishments. These 
astonishments arise from compiler transforms and the design of CPUs 
(e.g., out-of-order execution and speculation). The memory model defines
 both the precise conditions under which a program exhibits sequentially
 consistent behaviour as well as the possible values read from data 
races. To wit, there is no undefined behaviour.</p>
  <p>The memory model is defined as relational constraints on events introduced by <emu-xref href="#sec-algorithm-conventions-abstract-operations" id="_ref_8391"><a href="#sec-algorithm-conventions-abstract-operations">abstract operations</a></emu-xref> on SharedArrayBuffer or by methods on the Atomics object during an evaluation.</p>
  <emu-note><span class="note">Note</span><div class="note-contents">
    <p>This section provides an axiomatic model on events introduced by the <emu-xref href="#sec-algorithm-conventions-abstract-operations" id="_ref_8392"><a href="#sec-algorithm-conventions-abstract-operations">abstract operations</a></emu-xref>
 on SharedArrayBuffers. It bears stressing that the model is not 
expressible algorithmically, unlike the rest of this specification. The 
nondeterministic introduction of events by <emu-xref href="#sec-algorithm-conventions-abstract-operations" id="_ref_8393"><a href="#sec-algorithm-conventions-abstract-operations">abstract operations</a></emu-xref>
 is the interface between the operational semantics of ECMAScript 
evaluation and the axiomatic semantics of the memory model. The 
semantics of these events is defined by considering graphs of all events
 in an evaluation. These are neither Static Semantics nor Runtime 
Semantics. There is no demonstrated algorithmic implementation, but 
instead a set of constraints that determine if a particular event graph 
is allowed or disallowed.</p>
  </div></emu-note>

  <emu-clause id="sec-memory-model-fundamentals">
    <h1><span class="secnum">27.1</span>Memory Model Fundamentals</h1>
    <p>Shared memory accesses (reads and writes) are divided into two 
groups, atomic accesses and data accesses, defined below. Atomic 
accesses are sequentially consistent, i.e., there is a strict total 
ordering of events agreed upon by all agents in an <emu-xref href="#sec-agent-clusters" id="_ref_8394"><a href="#sec-agent-clusters">agent cluster</a></emu-xref>. Non-atomic accesses do not have a strict total ordering agreed upon by all agents, i.e., unordered.</p>
    <emu-note><span class="note">Note 1</span><div class="note-contents">
      <p>No orderings weaker than sequentially consistent and stronger than unordered, such as release-acquire, are supported.</p>
    </div></emu-note>
    <p>A  <dfn>Shared Data Block event</dfn> is either a  <dfn>ReadSharedMemory</dfn>,  <dfn>WriteSharedMemory</dfn>, or  <dfn>ReadModifyWriteSharedMemory</dfn> <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8395"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref>.</p>

    <emu-table id="table-readsharedmemory-fields" caption="ReadSharedMemory Event Fields"><figure><figcaption>Table 77: <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8396"><a href="#sec-memory-model-fundamentals">ReadSharedMemory</a></emu-xref> Event Fields</figcaption>
      <table>
        <tbody>
          <tr>
            <th>Field Name</th>
            <th>Value</th>
            <th>Meaning</th>
          </tr>
          <tr>
            <td>[[Order]]</td>
            <td><code>"SeqCst"</code> or <code>"Unordered"</code></td>
            <td>The weakest ordering guaranteed by the <emu-xref href="#sec-memory-model" id="_ref_8397"><a href="#sec-memory-model">memory model</a></emu-xref> for the event.</td>
          </tr>
          <tr>
            <td>[[NoTear]]</td>
            <td>A Boolean</td>
            <td>Whether this event is allowed to read from multiple write events on equal range as this event.</td>
          </tr>
          <tr>
            <td>[[Block]]</td>
            <td>A <emu-xref href="#sec-data-blocks" id="_ref_8398"><a href="#sec-data-blocks">Shared Data Block</a></emu-xref></td>
            <td>The block the event operates on.</td>
          </tr>
          <tr>
            <td>[[ByteIndex]]</td>
            <td>A nonnegative integer</td>
            <td>The byte address of the read in [[Block]].</td>
          </tr>
          <tr>
            <td>[[ElementSize]]</td>
            <td>A nonnegative integer</td>
            <td>The size of the read.</td>
          </tr>
        </tbody>
      </table>
    </figure></emu-table>

    <emu-table id="table-writesharedmemory-fields" caption="WriteSharedMemory Event Fields"><figure><figcaption>Table 78: <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8399"><a href="#sec-memory-model-fundamentals">WriteSharedMemory</a></emu-xref> Event Fields</figcaption>
      <table>
        <tbody>
          <tr>
            <th>Field Name</th>
            <th>Value</th>
            <th>Meaning</th>
          </tr>
          <tr>
            <td>[[Order]]</td>
            <td><code>"SeqCst"</code>, <code>"Unordered"</code>, or <code>"Init"</code></td>
            <td>The weakest ordering guaranteed by the <emu-xref href="#sec-memory-model" id="_ref_8400"><a href="#sec-memory-model">memory model</a></emu-xref> for the event.</td>
          </tr>
          <tr>
            <td>[[NoTear]]</td>
            <td>A Boolean</td>
            <td>Whether this event is allowed to be read from multiple read events with equal range as this event.</td>
          </tr>
          <tr>
            <td>[[Block]]</td>
            <td>A <emu-xref href="#sec-data-blocks" id="_ref_8401"><a href="#sec-data-blocks">Shared Data Block</a></emu-xref></td>
            <td>The block the event operates on.</td>
          </tr>
          <tr>
            <td>[[ByteIndex]]</td>
            <td>A nonnegative integer</td>
            <td>The byte address of the write in [[Block]].</td>
          </tr>
          <tr>
            <td>[[ElementSize]]</td>
            <td>A nonnegative integer</td>
            <td>The size of the write.</td>
          </tr>
          <tr>
            <td>[[Payload]]</td>
            <td>A <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8402"><a href="#sec-list-and-record-specification-type">List</a></emu-xref></td>
            <td>The <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8403"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> of byte values to be read by other events.</td>
          </tr>
        </tbody>
      </table>
    </figure></emu-table>

    <emu-table id="table-rmwsharedmemory-fields" caption="ReadModifyWriteSharedMemory Event Fields"><figure><figcaption>Table 79: <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8404"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> Event Fields</figcaption>
      <table>
        <tbody>
          <tr>
            <th>Field Name</th>
            <th>Value</th>
            <th>Meaning</th>
          </tr>
          <tr>
            <td>[[Order]]</td>
            <td><code>"SeqCst"</code></td>
            <td>Read-modify-write events are always sequentially consistent.</td>
          </tr>
          <tr>
            <td>[[NoTear]]</td>
            <td><emu-val>true</emu-val></td>
            <td>Read-modify-write events cannot tear.</td>
          </tr>
          <tr>
            <td>[[Block]]</td>
            <td>A <emu-xref href="#sec-data-blocks" id="_ref_8405"><a href="#sec-data-blocks">Shared Data Block</a></emu-xref></td>
            <td>The block the event operates on.</td>
          </tr>
          <tr>
            <td>[[ByteIndex]]</td>
            <td>A nonnegative integer</td>
            <td>The byte address of the read-modify-write in [[Block]].</td>
          </tr>
          <tr>
            <td>[[ElementSize]]</td>
            <td>A nonnegative integer</td>
            <td>The size of the read-modify-write.</td>
          </tr>
          <tr>
            <td>[[Payload]]</td>
            <td>A <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8406"><a href="#sec-list-and-record-specification-type">List</a></emu-xref></td>
            <td>The <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8407"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> of byte values to be passed to [[ModifyOp]].</td>
          </tr>
          <tr>
            <td>[[ModifyOp]]</td>
            <td>A semantic function</td>
            <td>A pure semantic function that returns a modified <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8408"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> of byte values from a read <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8409"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> of byte values and [[Payload]].</td>
          </tr>
        </tbody>
      </table>
    </figure></emu-table>

    <p>These events are introduced by <emu-xref href="#sec-algorithm-conventions-abstract-operations" id="_ref_8410"><a href="#sec-algorithm-conventions-abstract-operations">abstract operations</a></emu-xref> or by methods on the Atomics object.</p>
    <p>Some operations may also introduce  <dfn>Synchronize</dfn> events. A  <dfn>Synchronize event</dfn> has no fields, and exists purely to directly constrain the permitted orderings of other events.</p>
    <p>In addition to <emu-xref href="#sec-data-blocks" id="_ref_8411"><a href="#sec-data-blocks">Shared Data Block</a></emu-xref> and Synchronize events, there are host-specific events.</p>
    <p>Let the range of a ReadSharedMemory, WriteSharedMemory, or 
ReadModifyWriteSharedMemory event be the Set of contiguous integers from
 its [[ByteIndex]] to [[ByteIndex]] + [[ElementSize]] - 1. Two events' 
ranges are equal when the events have the same [[Block]], and the ranges
 are element-wise equal. Two events' ranges are overlapping when the 
events have the same [[Block]], the ranges are not equal and their 
intersection is non-empty. Two events' ranges are disjoint when the 
events do not have the same [[Block]] or their ranges are neither equal 
nor overlapping.</p>
    <emu-note><span class="note">Note 2</span><div class="note-contents">
      <p>Examples of host-specific synchronizing events that should be accounted for are: sending a SharedArrayBuffer from one <emu-xref href="#agent" id="_ref_8412"><a href="#agent">agent</a></emu-xref> to another (e.g., by <code>postMessage</code> in a browser), starting and stopping agents, and communicating within the <emu-xref href="#sec-agent-clusters" id="_ref_8413"><a href="#sec-agent-clusters">agent cluster</a></emu-xref> via channels other than shared memory. It is assumed those events are appended to <emu-xref aoid="agent-order" id="_ref_8414"><a href="#sec-agent-order">agent-order</a></emu-xref> during evaluation like the other SharedArrayBuffer events.</p>
    </div></emu-note>
    <p>Events are ordered within candidate executions by the relations defined below.</p>
  </emu-clause>

  <emu-clause id="sec-agent-event-records">
    <h1><span class="secnum">27.2</span>Agent Events Records</h1>
    <p>An  <dfn>Agent Events Record</dfn> is a <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8415"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref> with the following fields.</p>
    <emu-table id="table-agent-events-records" caption="Agent Events Record Fields"><figure><figcaption>Table 80: <emu-xref href="#sec-agent-event-records" id="_ref_8416"><a href="#sec-agent-event-records">Agent Events Record</a></emu-xref> Fields</figcaption>
      <table>
        <tbody>
          <tr>
            <th>Field Name</th>
            <th>Value</th>
            <th>Meaning</th>
          </tr>
          <tr>
            <td>[[AgentSignifier]]</td>
            <td>A value that admits equality testing</td>
            <td>The <emu-xref href="#agent" id="_ref_8417"><a href="#agent">agent</a></emu-xref> whose evaluation resulted in this ordering.</td>
          </tr>
          <tr>
            <td>[[EventList]]</td>
            <td>A <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8418"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> of events</td>
            <td>Events are appended to the list during evaluation.</td>
          </tr>
          <tr>
            <td>[[AgentSynchronizesWith]]</td>
            <td>A <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8419"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> of pairs of <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8420"><a href="#sec-memory-model-fundamentals">Synchronize</a></emu-xref> events</td>
            <td><emu-xref href="#sec-memory-model-fundamentals" id="_ref_8421"><a href="#sec-memory-model-fundamentals">Synchronize</a></emu-xref> relationships introduced by the operational semantics.</td>
          </tr>
        </tbody>
      </table>
    </figure></emu-table>
  </emu-clause>

  <emu-clause id="sec-chosen-value-records">
    <h1><span class="secnum">27.3</span>Chosen Value Records</h1>
    <p>A  <dfn>Chosen Value Record</dfn> is a <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8422"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref> with the following fields.</p>
    <emu-table id="table-chosen-value-records" caption="Chosen Value Record Fields"><figure><figcaption>Table 81: <emu-xref href="#sec-chosen-value-records" id="_ref_8423"><a href="#sec-chosen-value-records">Chosen Value Record</a></emu-xref> Fields</figcaption>
      <table>
        <tbody>
          <tr>
            <th>Field Name</th>
            <th>Value</th>
            <th>Meaning</th>
          </tr>
          <tr>
            <td>[[Event]]</td>
            <td>A <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8424"><a href="#sec-memory-model-fundamentals">Shared Data Block event</a></emu-xref></td>
            <td>The <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8425"><a href="#sec-memory-model-fundamentals">ReadSharedMemory</a></emu-xref> or <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8426"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> event that was introduced for this chosen value.</td>
          </tr>
          <tr>
            <td>[[ChosenValue]]</td>
            <td>A <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8427"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> of byte values</td>
            <td>The bytes that were nondeterministically chosen during evaluation.</td>
          </tr>
        </tbody>
      </table>
    </figure></emu-table>
  </emu-clause>

  <emu-clause id="sec-candidate-executions">
    <h1><span class="secnum">27.4</span>Candidate Executions</h1>
    <p>A  <dfn>candidate execution</dfn> of the evaluation of an <emu-xref href="#sec-agent-clusters" id="_ref_8428"><a href="#sec-agent-clusters">agent cluster</a></emu-xref> is a <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8429"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref> with the following fields.</p>
    <emu-table id="table-candidate-execution-records" caption="Candidate Execution Record Fields"><figure><figcaption>Table 82: Candidate Execution <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8430"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref> Fields</figcaption>
      <table>
        <tbody>
          <tr>
            <th>Field Name</th>
            <th>Value</th>
            <th>Meaning</th>
          </tr>
          <tr>
            <td>[[EventsRecords]]</td>
            <td>A <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8431"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> of <emu-xref href="#agent" id="_ref_8432"><a href="#agent">Agent</a></emu-xref> Events Records.</td>
            <td>Maps an <emu-xref href="#agent" id="_ref_8433"><a href="#agent">agent</a></emu-xref> to Lists of events appended during the evaluation.</td>
          </tr>
          <tr>
            <td>[[ChosenValues]]</td>
            <td>A <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8434"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> of Chosen Value Records.</td>
            <td>Maps <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8435"><a href="#sec-memory-model-fundamentals">ReadSharedMemory</a></emu-xref> or <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8436"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> events to the <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8437"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> of byte values chosen during the evaluation.</td>
          </tr>
          <tr>
            <td>[[AgentOrder]]</td>
            <td>An <emu-xref aoid="agent-order" id="_ref_8438"><a href="#sec-agent-order">agent-order</a></emu-xref> <emu-xref href="#sec-set-and-relation-specification-type" id="_ref_8439"><a href="#sec-set-and-relation-specification-type">Relation</a></emu-xref>.</td>
            <td>Defined below.</td>
          </tr>
          <tr>
            <td>[[ReadsBytesFrom]]</td>
            <td>A <emu-xref aoid="reads-bytes-from" id="_ref_8440"><a href="#sec-reads-bytes-from">reads-bytes-from</a></emu-xref> semantic function.</td>
            <td>Defined below.</td>
          </tr>
          <tr>
            <td>[[ReadsFrom]]</td>
            <td>A <emu-xref aoid="reads-from" id="_ref_8441"><a href="#sec-reads-from">reads-from</a></emu-xref> <emu-xref href="#sec-set-and-relation-specification-type" id="_ref_8442"><a href="#sec-set-and-relation-specification-type">Relation</a></emu-xref>.</td>
            <td>Defined below.</td>
          </tr>
          <tr>
            <td>[[HostSynchronizesWith]]</td>
            <td>A <emu-xref aoid="host-synchronizes-with" id="_ref_8443"><a href="#sec-host-synchronizes-with">host-synchronizes-with</a></emu-xref> <emu-xref href="#sec-set-and-relation-specification-type" id="_ref_8444"><a href="#sec-set-and-relation-specification-type">Relation</a></emu-xref>.</td>
            <td>Defined below.</td>
          </tr>
          <tr>
            <td>[[SynchronizesWith]]</td>
            <td>A <emu-xref aoid="synchronizes-with" id="_ref_8445"><a href="#sec-synchronizes-with">synchronizes-with</a></emu-xref> <emu-xref href="#sec-set-and-relation-specification-type" id="_ref_8446"><a href="#sec-set-and-relation-specification-type">Relation</a></emu-xref>.</td>
            <td>Defined below.</td>
          </tr>
          <tr>
            <td>[[HappensBefore]]</td>
            <td>A <emu-xref aoid="happens-before" id="_ref_8447"><a href="#sec-happens-before">happens-before</a></emu-xref> <emu-xref href="#sec-set-and-relation-specification-type" id="_ref_8448"><a href="#sec-set-and-relation-specification-type">Relation</a></emu-xref>.</td>
            <td>Defined below.</td>
          </tr>
        </tbody>
      </table>
    </figure></emu-table>

    <p>An  <dfn>empty candidate execution</dfn> is a candidate execution <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8449"><a href="#sec-list-and-record-specification-type">Record</a></emu-xref> whose fields are empty Lists and Relations.</p>
  </emu-clause>

  <emu-clause id="sec-abstract-operations-for-the-memory-model">
    <h1><span class="secnum">27.5</span>Abstract Operations for the Memory Model</h1>
    <emu-clause id="sec-event-set" aoid="EventSet">
      <h1><span class="secnum">27.5.1</span>EventSet ( <var>execution</var> )</h1>
      <p>The abstract operation EventSet takes one argument, a <emu-xref href="#sec-candidate-executions" id="_ref_8450"><a href="#sec-candidate-executions">candidate execution</a></emu-xref> <var>execution</var>. It performs the following steps:</p>
      <emu-alg><ol><li>Let <var>events</var> be an empty Set.</li><li>For each <emu-xref href="#sec-agent-event-records" id="_ref_8451"><a href="#sec-agent-event-records">Agent Events Record</a></emu-xref> <var>aer</var> in <var>execution</var>.[[EventsRecords]], do<ol><li>For each event <var>E</var> in <var>aer</var>.[[EventList]], do<ol><li>Add <var>E</var> to <var>events</var>.</li></ol></li></ol></li><li>Return <var>events</var>.
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-sharedatablockeventset" aoid="SharedDataBlockEventSet">
      <h1><span class="secnum">27.5.2</span>SharedDataBlockEventSet ( <var>execution</var> )</h1>
      <p>The abstract operation SharedDataBlockEventSet takes one argument, a <emu-xref href="#sec-candidate-executions" id="_ref_8452"><a href="#sec-candidate-executions">candidate execution</a></emu-xref> <var>execution</var>. It performs the following steps:</p>
      <emu-alg><ol><li>Let <var>events</var> be an empty Set.</li><li>For each event <var>E</var> in <emu-xref aoid="EventSet" id="_ref_8453"><a href="#sec-event-set">EventSet</a></emu-xref>(<var>execution</var>), do<ol><li>If <var>E</var> is a <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8454"><a href="#sec-memory-model-fundamentals">ReadSharedMemory</a></emu-xref>, <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8455"><a href="#sec-memory-model-fundamentals">WriteSharedMemory</a></emu-xref>, or <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8456"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> event, add <var>E</var> to <var>events</var>.</li></ol></li><li>Return <var>events</var>.
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-synchronizeeventset" aoid="SynchronizeEventSet">
      <h1><span class="secnum">27.5.3</span>SynchronizeEventSet ( <var>execution</var> )</h1>
      <p>The abstract operation SynchronizeEventSet takes one argument, a <emu-xref href="#sec-candidate-executions" id="_ref_8457"><a href="#sec-candidate-executions">candidate execution</a></emu-xref> <var>execution</var>. It performs the following steps:</p>
      <emu-alg><ol><li>Let <var>events</var> be an empty Set.</li><li>For each event <var>E</var> in <emu-xref aoid="EventSet" id="_ref_8458"><a href="#sec-event-set">EventSet</a></emu-xref>(<var>execution</var>), do<ol><li>If <var>E</var> is a <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8459"><a href="#sec-memory-model-fundamentals">Synchronize event</a></emu-xref>, add <var>E</var> to <var>events</var>.</li></ol></li><li>Return <var>events</var>.
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-hosteventset" aoid="HostEventSet">
      <h1><span class="secnum">27.5.4</span>HostEventSet ( <var>execution</var> )</h1>
      <p>The abstract operation HostEventSet takes one argument, a <emu-xref href="#sec-candidate-executions" id="_ref_8460"><a href="#sec-candidate-executions">candidate execution</a></emu-xref> <var>execution</var>. It performs the following steps:</p>
      <emu-alg><ol><li>Let <var>events</var> be an empty Set.</li><li>For each event <var>E</var> in <emu-xref aoid="EventSet" id="_ref_8461"><a href="#sec-event-set">EventSet</a></emu-xref>(<var>execution</var>), do<ol><li>If <var>E</var> is not in <emu-xref aoid="SharedDataBlockEventSet" id="_ref_8462"><a href="#sec-sharedatablockeventset">SharedDataBlockEventSet</a></emu-xref>(<var>execution</var>), add <var>E</var> to <var>events</var>.</li></ol></li><li>Return <var>events</var>.
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-composewriteeventbytes" aoid="ComposeWriteEventBytes">
      <h1><span class="secnum">27.5.5</span>ComposeWriteEventBytes ( <var>execution</var>, <var>byteIndex</var>, <var>Ws</var> )</h1>
      <p>The abstract operation ComposeWriteEventBytes takes four arguments, a <emu-xref href="#sec-candidate-executions" id="_ref_8463"><a href="#sec-candidate-executions">candidate execution</a></emu-xref> <var>execution</var>, a nonnegative integer <var>byteIndex</var>, and a <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8464"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> <var>Ws</var> of <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8465"><a href="#sec-memory-model-fundamentals">WriteSharedMemory</a></emu-xref> or <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8466"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> events. It performs the following steps:</p>
      <emu-alg><ol><li>Let <var>byteLocation</var> be <var>byteIndex</var>.</li><li>Let <var>bytesRead</var> be a new empty <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8467"><a href="#sec-list-and-record-specification-type">List</a></emu-xref>.</li><li>For each element <var>W</var> of <var>Ws</var> in <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8468"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> order, do<ol><li><emu-xref href="#assert" id="_ref_8469"><a href="#assert">Assert</a></emu-xref>: <var>W</var> has <var>byteLocation</var> in its range.</li><li>Let <var>payloadIndex</var> be <var>byteLocation</var> - <var>W</var>.[[ByteIndex]].</li><li>If <var>W</var> is a <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8470"><a href="#sec-memory-model-fundamentals">WriteSharedMemory</a></emu-xref> event, then<ol><li>Let <var>byte</var> be <var>W</var>.[[Payload]][<var>payloadIndex</var>].</li></ol></li><li>Else,<ol><li><emu-xref href="#assert" id="_ref_8471"><a href="#assert">Assert</a></emu-xref>: <var>W</var> is a <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8472"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> event.</li><li>Let <var>bytes</var> be <emu-xref aoid="ValueOfReadEvent" id="_ref_8473"><a href="#sec-valueofreadevent">ValueOfReadEvent</a></emu-xref>(<var>execution</var>, <var>W</var>).</li><li>Let <var>bytesModified</var> be <var>W</var>.[[ModifyOp]](<var>bytes</var>, <var>W</var>.[[Payload]]).</li><li>Let <var>byte</var> be <var>bytesModified</var>[<var>payloadIndex</var>].</li></ol></li><li>Append <var>byte</var> to <var>bytesRead</var>.</li><li>Increment <var>byteLocation</var> by 1.</li></ol></li><li>Return <var>bytesRead</var>.
      </li></ol></emu-alg>
      <emu-note><span class="note">Note 1</span><div class="note-contents">
        <p>The semantic function [[ModifyOp]] is given by the function properties on the Atomics object that introduce <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8474"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> events.</p>
      </div></emu-note>
      <emu-note><span class="note">Note 2</span><div class="note-contents">
        <p>This abstract operation composes a <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8475"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> of write events into a <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8476"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> of byte values. It is used in the event semantics of <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8477"><a href="#sec-memory-model-fundamentals">ReadSharedMemory</a></emu-xref> and <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8478"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> events.</p>
      </div></emu-note>
    </emu-clause>

    <emu-clause id="sec-valueofreadevent" aoid="ValueOfReadEvent">
      <h1><span class="secnum">27.5.6</span>ValueOfReadEvent ( <var>execution</var>, <var>R</var> )</h1>
      <p>The abstract operation ValueOfReadEvent takes two arguments, a <emu-xref href="#sec-candidate-executions" id="_ref_8479"><a href="#sec-candidate-executions">candidate execution</a></emu-xref> <var>execution</var> and a <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8480"><a href="#sec-memory-model-fundamentals">ReadSharedMemory</a></emu-xref> or <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8481"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> event <var>R</var>. It performs the following steps:</p>
      <emu-alg><ol><li><emu-xref href="#assert" id="_ref_8482"><a href="#assert">Assert</a></emu-xref>: <var>R</var> is a <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8483"><a href="#sec-memory-model-fundamentals">ReadSharedMemory</a></emu-xref> or <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8484"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> event.</li><li>Let <var>Ws</var> be <var>execution</var>.[[ReadsBytesFrom]](<var>R</var>).</li><li><emu-xref href="#assert" id="_ref_8485"><a href="#assert">Assert</a></emu-xref>: <var>Ws</var> is a <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8486"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> of <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8487"><a href="#sec-memory-model-fundamentals">WriteSharedMemory</a></emu-xref> or <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8488"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> events with length equal to <var>R</var>.[[ElementSize]].</li><li>Return <emu-xref aoid="ComposeWriteEventBytes" id="_ref_8489"><a href="#sec-composewriteeventbytes">ComposeWriteEventBytes</a></emu-xref>(<var>execution</var>, <var>R</var>.[[ByteIndex]], <var>Ws</var>).
      </li></ol></emu-alg>
    </emu-clause>
  </emu-clause>

  <emu-clause id="sec-relations-of-candidate-executions">
    <h1><span class="secnum">27.6</span>Relations of Candidate Executions</h1>
    <emu-clause id="sec-agent-order" aoid="agent-order">
      <h1><span class="secnum">27.6.1</span>agent-order</h1>
      <p>For a <emu-xref href="#sec-candidate-executions" id="_ref_8490"><a href="#sec-candidate-executions">candidate execution</a></emu-xref> <var>execution</var>, <var>execution</var>.[[AgentOrder]] is a <emu-xref href="#sec-set-and-relation-specification-type" id="_ref_8491"><a href="#sec-set-and-relation-specification-type">Relation</a></emu-xref> on events that satisfies the following.</p>
      <ul>
        <li>For each pair (<var>E</var>, <var>D</var>) in <emu-xref aoid="EventSet" id="_ref_8492"><a href="#sec-event-set">EventSet</a></emu-xref>(<var>execution</var>), (<var>E</var>, <var>D</var>) is in <var>execution</var>.[[AgentOrder]] if there is some <emu-xref href="#sec-agent-event-records" id="_ref_8493"><a href="#sec-agent-event-records">Agent Events Record</a></emu-xref> <var>aer</var> in <var>execution</var>.[[EventsRecords]] such that <var>E</var> and <var>D</var> are in <var>aer</var>.[[EventList]] and <var>E</var> is before <var>D</var> in <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8494"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> order of <var>aer</var>.[[EventList]].</li>
      </ul>

      <emu-note><span class="note">Note</span><div class="note-contents">
        <p>Each <emu-xref href="#agent" id="_ref_8495"><a href="#agent">agent</a></emu-xref> introduces events in a per-<emu-xref href="#agent" id="_ref_8496"><a href="#agent">agent</a></emu-xref> <emu-xref href="#sec-set-and-relation-specification-type" id="_ref_8497"><a href="#sec-set-and-relation-specification-type">strict total order</a></emu-xref> during the evaluation. This is the union of those strict total orders.</p>
      </div></emu-note>
    </emu-clause>

    <emu-clause id="sec-reads-bytes-from" aoid="reads-bytes-from">
      <h1><span class="secnum">27.6.2</span>reads-bytes-from</h1>
      <p>For a <emu-xref href="#sec-candidate-executions" id="_ref_8498"><a href="#sec-candidate-executions">candidate execution</a></emu-xref> <var>execution</var>, <var>execution</var>.[[ReadsBytesFrom]] is a semantic function from events in <emu-xref aoid="SharedDataBlockEventSet" id="_ref_8499"><a href="#sec-sharedatablockeventset">SharedDataBlockEventSet</a></emu-xref>(<var>execution</var>) to Lists of events in <emu-xref aoid="SharedDataBlockEventSet" id="_ref_8500"><a href="#sec-sharedatablockeventset">SharedDataBlockEventSet</a></emu-xref>(<var>execution</var>) that satisfies the following conditions.</p>
      <ul>
        <li>
          <p>For each <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8501"><a href="#sec-memory-model-fundamentals">ReadSharedMemory</a></emu-xref> or <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8502"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> event <var>R</var> in <emu-xref aoid="SharedDataBlockEventSet" id="_ref_8503"><a href="#sec-sharedatablockeventset">SharedDataBlockEventSet</a></emu-xref>(<var>execution</var>), <var>execution</var>.[[ReadsBytesFrom]](<var>R</var>) is a <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8504"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> of length equal to <var>R</var>.[[ElementSize]] of <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8505"><a href="#sec-memory-model-fundamentals">WriteSharedMemory</a></emu-xref> or <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8506"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> events <var>Ws</var> such that all of the following are true.</p>
          <ul>
            <li>Each event <var>W</var> with index <var>i</var> in <var>Ws</var> has <var>R</var>.[[ByteIndex]] + <var>i</var> in its range.</li>
            <li><var>R</var> is not in <var>Ws</var>.</li>
          </ul>
        </li>
      </ul>
    </emu-clause>

    <emu-clause id="sec-reads-from" aoid="reads-from">
      <h1><span class="secnum">27.6.3</span>reads-from</h1>
      <p>For a <emu-xref href="#sec-candidate-executions" id="_ref_8507"><a href="#sec-candidate-executions">candidate execution</a></emu-xref> <var>execution</var>, <var>execution</var>.[[ReadsFrom]] is the least <emu-xref href="#sec-set-and-relation-specification-type" id="_ref_8508"><a href="#sec-set-and-relation-specification-type">Relation</a></emu-xref> on events that satisfies the following.</p>
      <ul>
        <li>For each pair (<var>R</var>, <var>W</var>) in <emu-xref aoid="SharedDataBlockEventSet" id="_ref_8509"><a href="#sec-sharedatablockeventset">SharedDataBlockEventSet</a></emu-xref>(<var>execution</var>), (<var>R</var>, <var>W</var>) is in <var>execution</var>.[[ReadsFrom]] if <var>W</var> is in <var>execution</var>.[[ReadsBytesFrom]](<var>R</var>).</li>
      </ul>
    </emu-clause>

    <emu-clause id="sec-host-synchronizes-with" aoid="host-synchronizes-with">
      <h1><span class="secnum">27.6.4</span>host-synchronizes-with</h1>
      <p>For a <emu-xref href="#sec-candidate-executions" id="_ref_8510"><a href="#sec-candidate-executions">candidate execution</a></emu-xref> <var>execution</var>, <var>execution</var>.[[HostSynchronizesWith]] is a host-provided <emu-xref href="#sec-set-and-relation-specification-type" id="_ref_8511"><a href="#sec-set-and-relation-specification-type">strict partial order</a></emu-xref> on host-specific events that satisfies at least the following.</p>
      <ul>
        <li>If (<var>E</var>, <var>D</var>) is in <var>execution</var>.[[HostSynchronizesWith]], <var>E</var> and <var>D</var> are in <emu-xref aoid="HostEventSet" id="_ref_8512"><a href="#sec-hosteventset">HostEventSet</a></emu-xref>(<var>execution</var>).</li>
        <li>There is no cycle in the union of <var>execution</var>.[[HostSynchronizesWith]] and <var>execution</var>.[[AgentOrder]].</li>
      </ul>

      <emu-note><span class="note">Note 1</span><div class="note-contents">
        <p>For two host-specific events <var>E</var> and <var>D</var>, <var>E</var> host-synchronizes-with <var>D</var> implies <var>E</var> <emu-xref aoid="happens-before" id="_ref_8513"><a href="#sec-happens-before">happens-before</a></emu-xref> <var>D</var>.</p>
      </div></emu-note>
      <emu-note><span class="note">Note 2</span><div class="note-contents">
        <p>The host-synchronizes-with relation allows the host to provide additional synchronization mechanisms, such as <code>postMessage</code> between HTML workers.</p>
      </div></emu-note>
    </emu-clause>

    <emu-clause id="sec-synchronizes-with" aoid="synchronizes-with">
      <h1><span class="secnum">27.6.5</span>synchronizes-with</h1>
      <p>For a <emu-xref href="#sec-candidate-executions" id="_ref_8514"><a href="#sec-candidate-executions">candidate execution</a></emu-xref> <var>execution</var>, <var>execution</var>.[[SynchronizesWith]] is the least <emu-xref href="#sec-set-and-relation-specification-type" id="_ref_8515"><a href="#sec-set-and-relation-specification-type">Relation</a></emu-xref> on events that satisfies the following.</p>
      <ul>
        <li>
          For each pair (<var>R</var>, <var>W</var>) in <var>execution</var>.[[ReadsFrom]], (<var>W</var>, <var>R</var>) is in <var>execution</var>.[[SynchronizesWith]] if all the following are true.
          
          <ul>
            <li><var>R</var>.[[Order]] is <code>"SeqCst"</code>.</li>
            <li><var>W</var>.[[Order]] is <code>"SeqCst"</code> or <code>"Init"</code>.</li>
            <li>If <var>W</var>.[[Order]] is <code>"SeqCst"</code>, then <var>R</var> and <var>W</var> have equal ranges.</li>
            <li>If <var>W</var>.[[Order]] is <code>"Init"</code>, then for each event <var>V</var> such that (<var>R</var>, <var>V</var>) is in <var>execution</var>.[[ReadsFrom]], <var>V</var>.[[Order]] is <code>"Init"</code>.</li>
          </ul>
        </li>
        <li>
          For each element <var>eventsRecord</var> of <var>execution</var>.[[EventsRecords]], the following is true.
          
          <ul>
            <li>For each pair (<var>S</var>, <var>Sw</var>) in <var>eventsRecord</var>.[[AgentSynchronizesWith]], (<var>S</var>, <var>Sw</var>) is in <var>execution</var>.[[SynchronizesWith]].</li>
          </ul>
        </li>
        <li>For each pair (<var>E</var>, <var>D</var>) in <var>execution</var>.[[HostSynchronizesWith]], (<var>E</var>, <var>D</var>) is in <var>execution</var>.[[SynchronizesWith]].</li>
      </ul>

      <emu-note><span class="note">Note 1</span><div class="note-contents">
        <p>Owing to convention, write events synchronizes-with read events, instead of read events synchronizes-with write events.</p>
      </div></emu-note>

      <emu-note><span class="note">Note 2</span><div class="note-contents">
        <p>Not all <code>"SeqCst"</code> events related by <emu-xref aoid="reads-from" id="_ref_8516"><a href="#sec-reads-from">reads-from</a></emu-xref> are related by synchronizes-with. Only events that also have equal ranges are related by synchronizes-with.</p>
      </div></emu-note>

      <emu-note><span class="note">Note 3</span><div class="note-contents">
        <p>For <emu-xref href="#sec-data-blocks" id="_ref_8517"><a href="#sec-data-blocks">Shared Data Block</a></emu-xref> events <var>R</var> and <var>W</var> such that <var>W</var> synchronizes-with <var>R</var>, <var>R</var> may <emu-xref aoid="reads-from" id="_ref_8518"><a href="#sec-reads-from">reads-from</a></emu-xref> other writes than <var>W</var>.</p>
      </div></emu-note>
    </emu-clause>

    <emu-clause id="sec-happens-before" aoid="happens-before">
      <h1><span class="secnum">27.6.6</span>happens-before</h1>
      <p>For a <emu-xref href="#sec-candidate-executions" id="_ref_8519"><a href="#sec-candidate-executions">candidate execution</a></emu-xref> <var>execution</var>, <var>execution</var>.[[HappensBefore]] is the least <emu-xref href="#sec-set-and-relation-specification-type" id="_ref_8520"><a href="#sec-set-and-relation-specification-type">Relation</a></emu-xref> on events that satisfies the following.</p>

      <ul>
        <li>For each pair (<var>E</var>, <var>D</var>) in <var>execution</var>.[[AgentOrder]], (<var>E</var>, <var>D</var>) is in <var>execution</var>.[[HappensBefore]].</li>
        <li>For each pair (<var>E</var>, <var>D</var>) in <var>execution</var>.[[SynchronizesWith]], (<var>E</var>, <var>D</var>) is in <var>execution</var>.[[HappensBefore]].</li>
        <li>For each pair (<var>E</var>, <var>D</var>) in <emu-xref aoid="SharedDataBlockEventSet" id="_ref_8521"><a href="#sec-sharedatablockeventset">SharedDataBlockEventSet</a></emu-xref>(<var>execution</var>), (<var>E</var>, <var>D</var>) is in <var>execution</var>.[[HappensBefore]] if <var>E</var>.[[Order]] is <code>"Init"</code> and <var>E</var> and <var>D</var> have overlapping ranges.</li>
        <li>For each pair (<var>E</var>, <var>D</var>) in <emu-xref aoid="EventSet" id="_ref_8522"><a href="#sec-event-set">EventSet</a></emu-xref>(<var>execution</var>), (<var>E</var>, <var>D</var>) is in <var>execution</var>.[[HappensBefore]] if there is an event <var>F</var> such that the pairs (<var>E</var>, <var>F</var>) and (<var>F</var>, <var>D</var>) are in <var>execution</var>.[[HappensBefore]].</li>
      </ul>

      <emu-note><span class="note">Note</span><div class="note-contents">
        <p>Because happens-before is a superset of <emu-xref aoid="agent-order" id="_ref_8523"><a href="#sec-agent-order">agent-order</a></emu-xref>, candidate executions are consistent with the single-thread evaluation semantics of ECMAScript.</p>
      </div></emu-note>
    </emu-clause>
  </emu-clause>

  <emu-clause id="sec-properties-of-valid-executions">
    <h1><span class="secnum">27.7</span>Properties of Valid Executions</h1>
    <emu-clause id="sec-valid-chosen-reads">
      <h1><span class="secnum">27.7.1</span>Valid Chosen Reads</h1>
      <p>A <emu-xref href="#sec-candidate-executions" id="_ref_8524"><a href="#sec-candidate-executions">candidate execution</a></emu-xref> <var>execution</var> has valid chosen reads if the following abstract operation returns <emu-val>true</emu-val>.</p>
      <emu-alg><ol><li>For each <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8525"><a href="#sec-memory-model-fundamentals">ReadSharedMemory</a></emu-xref> or <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8526"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> event <var>R</var> in <emu-xref aoid="SharedDataBlockEventSet" id="_ref_8527"><a href="#sec-sharedatablockeventset">SharedDataBlockEventSet</a></emu-xref>(<var>execution</var>), do<ol><li>Let <var>chosenValueRecord</var> be the element of <var>execution</var>.[[ChosenValues]] whose [[Event]] field is <var>R</var>.</li><li>Let <var>chosenValue</var> be <var>chosenValueRecord</var>.[[ChosenValue]].</li><li>Let <var>readValue</var> be <emu-xref aoid="ValueOfReadEvent" id="_ref_8528"><a href="#sec-valueofreadevent">ValueOfReadEvent</a></emu-xref>(<var>execution</var>, <var>R</var>).</li><li>Let <var>chosenLen</var> be the number of elements of <var>chosenValue</var>.</li><li>Let <var>readLen</var> be the number of elements of <var>readValue</var>.</li><li>If <var>chosenLen</var> is not equal to <var>readLen</var>, then<ol><li>Return <emu-val>false</emu-val>.</li></ol></li><li>If <var>chosenValue</var>[<var>i</var>] is not equal to <var>readValue</var>[<var>i</var>] for any integer value <var>i</var> in the range 0 through <var>chosenLen</var>, exclusive, then<ol><li>Return <emu-val>false</emu-val>.</li></ol></li></ol></li><li>Return <emu-val>true</emu-val>.
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-coherent-reads">
      <h1><span class="secnum">27.7.2</span>Coherent Reads</h1>
      <p>A <emu-xref href="#sec-candidate-executions" id="_ref_8529"><a href="#sec-candidate-executions">candidate execution</a></emu-xref> <var>execution</var> has coherent reads if the following abstract operation returns <emu-val>true</emu-val>.</p>
      <emu-alg><ol><li>For each <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8530"><a href="#sec-memory-model-fundamentals">ReadSharedMemory</a></emu-xref> or <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8531"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> event <var>R</var> in <emu-xref aoid="SharedDataBlockEventSet" id="_ref_8532"><a href="#sec-sharedatablockeventset">SharedDataBlockEventSet</a></emu-xref>(<var>execution</var>), do<ol><li>Let <var>Ws</var> be <var>execution</var>.[[ReadsBytesFrom]](<var>R</var>).</li><li>Let <var>byteLocation</var> be <var>R</var>.[[ByteIndex]].</li><li>For each element <var>W</var> of <var>Ws</var> in <emu-xref href="#sec-list-and-record-specification-type" id="_ref_8533"><a href="#sec-list-and-record-specification-type">List</a></emu-xref> order, do<ol><li>If (<var>R</var>, <var>W</var>) is in <var>execution</var>.[[HappensBefore]], then<ol><li>Return <emu-val>false</emu-val>.</li></ol></li><li>If there is a <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8534"><a href="#sec-memory-model-fundamentals">WriteSharedMemory</a></emu-xref> or <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8535"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> event <var>V</var> that has <var>byteLocation</var> in its range such that the pairs (<var>W</var>, <var>V</var>) and (<var>V</var>, <var>R</var>) are in <var>execution</var>.[[HappensBefore]], then<ol><li>Return <emu-val>false</emu-val>.</li></ol></li><li>Increment <var>byteLocation</var> by 1.</li></ol></li></ol></li><li>Return <emu-val>true</emu-val>.
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-tear-free-aligned-reads">
      <h1><span class="secnum">27.7.3</span>Tear Free Reads</h1>
      <p>A <emu-xref href="#sec-candidate-executions" id="_ref_8536"><a href="#sec-candidate-executions">candidate execution</a></emu-xref> <var>execution</var> has tear free reads if the following abstract operation returns <emu-val>true</emu-val>.</p>
      <emu-alg><ol><li>For each <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8537"><a href="#sec-memory-model-fundamentals">ReadSharedMemory</a></emu-xref> or <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8538"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> event <var>R</var> in <emu-xref aoid="SharedDataBlockEventSet" id="_ref_8539"><a href="#sec-sharedatablockeventset">SharedDataBlockEventSet</a></emu-xref>(<var>execution</var>), do<ol><li>If <var>R</var>.[[NoTear]] is <emu-val>true</emu-val>, then<ol><li><emu-xref href="#assert" id="_ref_8540"><a href="#assert">Assert</a></emu-xref>: The remainder of dividing <var>R</var>.[[ByteIndex]] by <var>R</var>.[[ElementSize]] is 0.</li><li>For each event <var>W</var> such that (<var>R</var>, <var>W</var>) is in <var>execution</var>.[[ReadsFrom]] and <var>W</var>.[[NoTear]] is <emu-val>true</emu-val>, do<ol><li>If <var>R</var> and <var>W</var> have equal ranges, and there is an event <var>V</var> such that <var>V</var> and <var>W</var> have equal ranges, <var>V</var>.[[NoTear]] is <emu-val>true</emu-val>, <var>W</var> is not <var>V</var>, and (<var>R</var>, <var>V</var>) is in <var>execution</var>.[[ReadsFrom]], then<ol><li>Return <emu-val>false</emu-val>.</li></ol></li></ol></li></ol></li></ol></li><li>Return <emu-val>true</emu-val>.
      </li></ol></emu-alg>

      <emu-note><span class="note">Note</span><div class="note-contents">
        <p>An event's [[NoTear]] field is <emu-val>true</emu-val> when that event was introduced via accessing an integer TypedArray, and <emu-val>false</emu-val> when introduced via accessing a floating point TypedArray or DataView.</p>
        <p>Intuitively, this requirement says when a memory range is 
accessed in an aligned fashion via an integer TypedArray, a single write
 event on that range must "win" when in a data race with other write 
events with equal ranges. More precisely, this requirement says an 
aligned read event cannot read a value composed of bytes from multiple, 
different write events all with equal ranges. It is possible, however, 
for an aligned read event to read from multiple write events with 
overlapping ranges.</p>
      </div></emu-note>
    </emu-clause>

    <emu-clause id="sec-memory-order" aoid="memory-order">
      <h1><span class="secnum">27.7.4</span>Sequentially Consistent Atomics</h1>
      <p>For a <emu-xref href="#sec-candidate-executions" id="_ref_8541"><a href="#sec-candidate-executions">candidate execution</a></emu-xref> <var>execution</var>, memory-order is a <emu-xref href="#sec-set-and-relation-specification-type" id="_ref_8542"><a href="#sec-set-and-relation-specification-type">strict total order</a></emu-xref> of all events in <emu-xref aoid="EventSet" id="_ref_8543"><a href="#sec-event-set">EventSet</a></emu-xref>(<var>execution</var>) that satisfies the following.</p>
      <ul>
        <li>For each pair (<var>E</var>, <var>D</var>) in <var>execution</var>.[[HappensBefore]], (<var>E</var>, <var>D</var>) is in memory-order.</li>
        <li>
          <p>For each pair (<var>E</var>, <var>D</var>) in <var>execution</var>.[[SynchronizesWith]], (<var>E</var>, <var>D</var>) is in memory-order if there is no <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8544"><a href="#sec-memory-model-fundamentals">WriteSharedMemory</a></emu-xref> or <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8545"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> event <var>W</var> in <emu-xref aoid="SharedDataBlockEventSet" id="_ref_8546"><a href="#sec-sharedatablockeventset">SharedDataBlockEventSet</a></emu-xref>(<var>execution</var>) with equal range as <var>D</var> such that <var>W</var> is not <var>E</var>, and the pairs (<var>E</var>, <var>W</var>) and (<var>W</var>, <var>D</var>) are in memory-order.</p>
          <emu-note><span class="note">Note 1</span><div class="note-contents">
            <p>This clause additionally constrains <code>"SeqCst"</code> events on equal ranges.</p>
          </div></emu-note>
        </li>
        <li>
          <p>For each <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8547"><a href="#sec-memory-model-fundamentals">WriteSharedMemory</a></emu-xref> or <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8548"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> event <var>W</var> in <emu-xref aoid="SharedDataBlockEventSet" id="_ref_8549"><a href="#sec-sharedatablockeventset">SharedDataBlockEventSet</a></emu-xref>(<var>execution</var>), if <var>W</var>.[[Order]] is <code>"SeqCst"</code>, then it is not the case that there is an infinite number of <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8550"><a href="#sec-memory-model-fundamentals">ReadSharedMemory</a></emu-xref> or <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8551"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> events in <emu-xref aoid="SharedDataBlockEventSet" id="_ref_8552"><a href="#sec-sharedatablockeventset">SharedDataBlockEventSet</a></emu-xref>(<var>execution</var>) with equal range that is memory-order before <var>W</var>.</p>
          <emu-note><span class="note">Note 2</span><div class="note-contents">
            <p>This clause together with the forward progress guarantee on agents ensure the liveness condition that <code>"SeqCst"</code> writes become visible to <code>"SeqCst"</code> reads with equal range in finite time.</p>
          </div></emu-note>
        </li>
      </ul>
      <p>A <emu-xref href="#sec-candidate-executions" id="_ref_8553"><a href="#sec-candidate-executions">candidate execution</a></emu-xref> has sequentially consistent atomics if a memory-order exists.</p>

      <emu-note><span class="note">Note 3</span><div class="note-contents">
        <p>While memory-order includes all events in <emu-xref aoid="EventSet" id="_ref_8554"><a href="#sec-event-set">EventSet</a></emu-xref>(<var>execution</var>), those that are not constrained by <emu-xref aoid="happens-before" id="_ref_8555"><a href="#sec-happens-before">happens-before</a></emu-xref> or <emu-xref aoid="synchronizes-with" id="_ref_8556"><a href="#sec-synchronizes-with">synchronizes-with</a></emu-xref> are allowed to occur anywhere in the order.</p>
      </div></emu-note>
    </emu-clause>

    <emu-clause id="sec-valid-executions">
      <h1><span class="secnum">27.7.5</span>Valid Executions</h1>
      <p>A <emu-xref href="#sec-candidate-executions" id="_ref_8557"><a href="#sec-candidate-executions">candidate execution</a></emu-xref> <var>execution</var> is a valid execution (or simply an execution) if all of the following are true.</p>
      <ul>
        <li>The host provides a <emu-xref aoid="host-synchronizes-with" id="_ref_8558"><a href="#sec-host-synchronizes-with">host-synchronizes-with</a></emu-xref> <emu-xref href="#sec-set-and-relation-specification-type" id="_ref_8559"><a href="#sec-set-and-relation-specification-type">Relation</a></emu-xref> for <var>execution</var>.[[HostSynchronizesWith]].</li>
        <li><var>execution</var>.[[HappensBefore]] is a <emu-xref href="#sec-set-and-relation-specification-type" id="_ref_8560"><a href="#sec-set-and-relation-specification-type">strict partial order</a></emu-xref>.</li>
        <li><var>execution</var> has valid chosen reads.</li>
        <li><var>execution</var> has coherent reads.</li>
        <li><var>execution</var> has tear free reads.</li>
        <li><var>execution</var> has sequentially consistent atomics.</li>
      </ul>
      <p>All programs have at least one valid execution.</p>
    </emu-clause>
  </emu-clause>

  <emu-clause id="sec-races">
    <h1><span class="secnum">27.8</span>Races</h1>
    <p>For an execution <var>execution</var>, two events <var>E</var> and <var>D</var> in <emu-xref aoid="SharedDataBlockEventSet" id="_ref_8561"><a href="#sec-sharedatablockeventset">SharedDataBlockEventSet</a></emu-xref>(<var>execution</var>) are in a race if the following abstract operation returns <emu-val>true</emu-val>.</p>
    <emu-alg><ol><li>If <var>E</var> is not <var>D</var>, then<ol><li>If the pairs (<var>E</var>, <var>D</var>) and (<var>D</var>, <var>E</var>) are not in <var>execution</var>.[[HappensBefore]], then<ol><li>If <var>E</var> and <var>D</var> are both <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8562"><a href="#sec-memory-model-fundamentals">WriteSharedMemory</a></emu-xref> or <emu-xref href="#sec-memory-model-fundamentals" id="_ref_8563"><a href="#sec-memory-model-fundamentals">ReadModifyWriteSharedMemory</a></emu-xref> events and <var>E</var> and <var>D</var> do not have disjoint ranges, then<ol><li>Return <emu-val>true</emu-val>.</li></ol></li><li>If either (<var>E</var>, <var>D</var>) or (<var>D</var>, <var>E</var>) is in <var>execution</var>.[[ReadsFrom]], then<ol><li>Return <emu-val>true</emu-val>.</li></ol></li></ol></li></ol></li><li>Return <emu-val>false</emu-val>.
    </li></ol></emu-alg>
  </emu-clause>

  <emu-clause id="sec-data-races">
    <h1><span class="secnum">27.9</span>Data Races</h1>
    <p>For an execution <var>execution</var>, two events <var>E</var> and <var>D</var> in <emu-xref aoid="SharedDataBlockEventSet" id="_ref_8564"><a href="#sec-sharedatablockeventset">SharedDataBlockEventSet</a></emu-xref>(<var>execution</var>) are in a data race if the following abstract operation returns <emu-val>true</emu-val>.</p>
    <emu-alg><ol><li>If <var>E</var> and <var>D</var> are in a race in <var>execution</var>, then<ol><li>If <var>E</var>.[[Order]] is not <code>"SeqCst"</code> or <var>D</var>.[[Order]] is not <code>"SeqCst"</code>, then<ol><li>Return <emu-val>true</emu-val>.</li></ol></li><li>If <var>E</var> and <var>D</var> have overlapping ranges, then<ol><li>Return <emu-val>true</emu-val>.</li></ol></li></ol></li><li>Return <emu-val>false</emu-val>.
    </li></ol></emu-alg>
  </emu-clause>

  <emu-clause id="sec-data-race-freedom">
    <h1><span class="secnum">27.10</span>Data Race Freedom</h1>
    <p>An execution <var>execution</var> is data race free if there are no two events in <emu-xref aoid="SharedDataBlockEventSet" id="_ref_8565"><a href="#sec-sharedatablockeventset">SharedDataBlockEventSet</a></emu-xref>(<var>execution</var>) that are in a data race.</p>
    <p>A program is data race free if all its executions are data race free.</p>
    <p>The <emu-xref href="#sec-memory-model" id="_ref_8566"><a href="#sec-memory-model">memory model</a></emu-xref> guarantees sequential consistency of all events for data race free programs.</p>
  </emu-clause>

  <emu-clause id="sec-shared-memory-guidelines">
    <h1><span class="secnum">27.11</span>Shared Memory Guidelines</h1>
    <emu-note><span class="note">Note 1</span><div class="note-contents">
      <p>The following are guidelines for ECMAScript programmers working with shared memory.</p>
      <p>We recommend programs be kept data race free, i.e., make it so 
that it is impossible for there to be concurrent non-atomic operations 
on the same memory location. Data race free programs have interleaving 
semantics where each step in the evaluation semantics of each <emu-xref href="#agent" id="_ref_8567"><a href="#agent">agent</a></emu-xref> are interleaved with each other. For data race free programs, it is not necessary to understand the details of the <emu-xref href="#sec-memory-model" id="_ref_8568"><a href="#sec-memory-model">memory model</a></emu-xref>. The details are unlikely to build intuition that will help one to better write ECMAScript.</p>
      <p>More generally, even if a program is not data race free it may 
have predictable behaviour, so long as atomic operations are not 
involved in any data races and the operations that race all have the 
same access size. The simplest way to arrange for atomics not to be 
involved in races is to ensure that different memory cells are used by 
atomic and non-atomic operations and that atomic accesses of different 
sizes are not used to access the same cells at the same time. 
Effectively, the program should treat shared memory as strongly typed as
 much as possible. One still cannot depend on the ordering and timing of
 non-atomic accesses that race, but if memory is treated as strongly 
typed the racing accesses will not "tear" (bits of their values will not
 be mixed).</p>
    </div></emu-note>

    <emu-note><span class="note">Note 2</span><div class="note-contents">
      <p>The following are guidelines for ECMAScript implementers writing compiler transformations for programs using shared memory.</p>
      <p>It is desirable to allow most program transformations that are valid in a single-<emu-xref href="#agent" id="_ref_8569"><a href="#agent">agent</a></emu-xref> setting in a multi-<emu-xref href="#agent" id="_ref_8570"><a href="#agent">agent</a></emu-xref> setting, to ensure that the performance of each <emu-xref href="#agent" id="_ref_8571"><a href="#agent">agent</a></emu-xref> in a multi-<emu-xref href="#agent" id="_ref_8572"><a href="#agent">agent</a></emu-xref> program is as good as it would be in a single-<emu-xref href="#agent" id="_ref_8573"><a href="#agent">agent</a></emu-xref>
 setting. Frequently these transformations are hard to judge. We outline
 some rules about program transformations that are intended to be taken 
as normative (in that they are implied by the <emu-xref href="#sec-memory-model" id="_ref_8574"><a href="#sec-memory-model">memory model</a></emu-xref> or stronger than what the <emu-xref href="#sec-memory-model" id="_ref_8575"><a href="#sec-memory-model">memory model</a></emu-xref>
 implies) but which are likely not exhaustive. These rules are intended 
to apply to program transformations that precede the introductions of 
the events that make up the <emu-xref aoid="agent-order" id="_ref_8576"><a href="#sec-agent-order">agent-order</a></emu-xref>.</p>
      <p>Let an  <dfn>agent-order slice</dfn> be the subset of the <emu-xref aoid="agent-order" id="_ref_8577"><a href="#sec-agent-order">agent-order</a></emu-xref> pertaining to a single <emu-xref href="#agent" id="_ref_8578"><a href="#agent">agent</a></emu-xref>.</p>
      <p>Let  <dfn>possible read values</dfn> of a read event be the set of all values of <emu-xref aoid="ValueOfReadEvent" id="_ref_8579"><a href="#sec-valueofreadevent">ValueOfReadEvent</a></emu-xref> for that event across all valid executions.</p>
      <p>Any transformation of an agent-order slice that is valid in the
 absence of shared memory is valid in the presence of shared memory, 
with the following exceptions.</p>
      <ul>
        <li>
          <p><em>Atomics are carved in stone</em>: Program transformations must not cause the  <code>"SeqCst"</code> events in an agent-order slice to be reordered with its  <code>"Unordered"</code> operations, nor its  <code>"SeqCst"</code> operations to be reordered with each other, nor may a program transformation remove a  <code>"SeqCst"</code> operation from the <emu-xref aoid="agent-order" id="_ref_8580"><a href="#sec-agent-order">agent-order</a></emu-xref>.</p>
          <p>(In practice, the prohibition on reorderings forces a compiler to assume that every  <code>"SeqCst"</code> operation is a synchronization and included in the final <emu-xref aoid="memory-order" id="_ref_8581"><a href="#sec-memory-order">memory-order</a></emu-xref>, which it would usually have to assume anyway in the absence of inter-<emu-xref href="#agent" id="_ref_8582"><a href="#agent">agent</a></emu-xref> program analysis. It also forces the compiler to assume that every call where the callee's effects on the <emu-xref aoid="memory-order" id="_ref_8583"><a href="#sec-memory-order">memory-order</a></emu-xref> are unknown may contain  <code>"SeqCst"</code> operations.)</p>
        </li>
        <li>
          <p><em>Reads must be stable</em>: Any given shared memory read must only observe a single value in an execution.</p>
          <p>(For example, if what is semantically a single read in the 
program is executed multiple times then the program is subsequently 
allowed to observe only one of the values read. A transformation known 
as rematerialization can violate this rule.)</p>
        </li>
        <li>
          <p><em>Writes must be stable</em>: All observable writes to shared memory must follow from program semantics in an execution.</p>
          <p>(For example, a transformation may not introduce certain 
observable writes, such as by using read-modify-write operations on a 
larger location to write a smaller datum, writing a value to memory that
 the program could not have written, or writing a just-read value back 
to the location it was read from, if that location could have been 
overwritten by another <emu-xref href="#agent" id="_ref_8584"><a href="#agent">agent</a></emu-xref> after the read.)</p>
        </li>
        <li>
          <p><em>Possible read values must be nonempty</em>: Program transformations cannot cause the possible read values of a shared memory read to become empty.</p>
          <p>(Counterintuitively, this rule in effect restricts transformations on writes, because writes have force in <emu-xref href="#sec-memory-model" id="_ref_8585"><a href="#sec-memory-model">memory model</a></emu-xref> insofar as to be read by read events. For example, writes may be moved and coalesced and sometimes reordered between two  <code>"SeqCst"</code> operations, but the transformation may not remove every write that updates a location; some write must be preserved.)</p>
        </li>
      </ul>
      <p>Examples of transformations that remain valid are: merging 
multiple non-atomic reads from the same location, reordering non-atomic 
reads, introducing speculative non-atomic reads, merging multiple 
non-atomic writes to the same location, reordering non-atomic writes to 
different locations, and hoisting non-atomic reads out of loops even if 
that affects termination. Note in general that aliased TypedArrays make 
it hard to prove that locations are different.</p>
    </div></emu-note>

    <emu-note><span class="note">Note 3</span><div class="note-contents">
      <p>The following are guidelines for ECMAScript implementers generating machine code for shared memory accesses.</p>
      <p>For architectures with memory models no weaker than those of 
ARM or Power, non-atomic stores and loads may be compiled to bare stores
 and loads on the target architecture. Atomic stores and loads may be 
compiled down to instructions that guarantee sequential consistency. If 
no such instructions exist, memory barriers are to be employed, such as 
placing barriers on both sides of a bare store or load. 
Read-modify-write operations may be compiled to read-modify-write 
instructions on the target architectrue, such as  <code>LOCK</code>-prefixed
 instructions on x86, load-exclusive/store-exclusive instructions on 
ARM, and load-link/store-conditional instructions on Power.</p>
      <p>Specifically, the <emu-xref href="#sec-memory-model" id="_ref_8586"><a href="#sec-memory-model">memory model</a></emu-xref> is intended to allow code generation as follows.</p>
      <ul>
        <li>Every atomic operation in the program is assumed to be necessary.</li>
        <li>Atomic operations are never rearranged with each other or with non-atomic operations.</li>
        <li>Functions are always assumed to perform atomic operations.</li>
        <li>Atomic operations are never implemented as read-modify-write
 operations on larger data, but as non-lock-free atomics if the platform
 does not have atomic operations of the appropriate size. (We already 
assume that every platform has normal memory access operations of every 
interesting size.)</li>
      </ul>
      <p>Naive code generation uses these patterns:</p>
      <ul>
        <li>Regular loads and stores compile to single load and store instructions.</li>
        <li>Lock-free atomic loads and stores compile to a full (sequentially consistent) fence, a regular load or store, and a full fence.</li>
        <li>Lock-free atomic read-modify-write accesses compile to a 
full fence, an atomic read-modify-write instruction sequence, and a full
 fence.</li>
        <li>Non-lock-free atomics compile to a spinlock acquire, a full 
fence, a series of non-atomic load and store instructions, a full fence,
 and a spinlock release.</li>
      </ul>
      <p>That mapping is correct so long as an atomic operation on an 
address range does not race with a non-atomic write or with an atomic 
operation of different size. However, that is all we need: the <emu-xref href="#sec-memory-model" id="_ref_8587"><a href="#sec-memory-model">memory model</a></emu-xref>
 effectively demotes the atomic operations involved in a race to 
non-atomic status. On the other hand, the naive mapping is quite strong:
 it allows atomic operations to be used as sequentially consistent 
fences, which the <emu-xref href="#sec-memory-model" id="_ref_8588"><a href="#sec-memory-model">memory model</a></emu-xref> does not actually guarantee.</p>
      <p>A number of local improvements to those basic patterns are also intended to be legal:</p>
      <ul>
        <li>There are obvious platform-dependent improvements that 
remove redundant fences.  For example, on x86 the fences around 
lock-free atomic loads and stores can always be omitted except for the 
fence following a store, and no fence is needed for lock-free 
read-modify-write instructions, as these all use LOCK-prefixed 
instructions. On many platforms there are fences of several strengths, 
and weaker fences can be used in certain contexts without destroying 
sequential consistency.</li>
        <li>Most modern platforms support lock-free atomics for all the 
data sizes required by ECMAScript atomics. Should non-lock-free atomics 
be needed, the fences surrounding the body of the atomic operation can 
usually be folded into the lock and unlock steps. The simplest solution 
for non-lock-free atomics is to have a single lock word per 
SharedArrayBuffer.</li>
        <li>There are also more complicated platform-dependent local 
improvements, requiring some code analysis. For example, two 
back-to-back fences often have the same effect as a single fence, so if 
code is generated for two atomic operations in sequence, only a single 
fence need separate them.  On x86, even a single fence separating atomic
 stores can be omitted, as the fence following a store is only needed to
 separate the store from a subsequent load.</li>
      </ul>
    </div></emu-note>
  </emu-clause>
</emu-clause>
