<emu-clause id="sec-normative-references">
  <h1><span class="secnum">3</span>Normative References</h1>
  <p>The following referenced documents are indispensable for the 
application of this document. For dated references, only the edition 
cited applies. For undated references, the latest edition of the 
referenced document (including any amendments) applies.</p>
  <p>ISO/IEC 10646  <i>Information Technology – Universal Multiple-Octet
 Coded Character Set (UCS) plus Amendment 1:2005, Amendment 2:2006, 
Amendment 3:2008, and Amendment 4:2008</i>, plus additional amendments and corrigenda, or successor</p>
  <p>ECMA-402,  <i>ECMAScript 2015 Internationalization API Specification</i>.
    
    <br>
    <a href="https://ecma-international.org/publications/standards/Ecma-402.htm">https://ecma-international.org/publications/standards/Ecma-402.htm</a></p>
  <p>ECMA-404,  <i>The JSON Data Interchange Format</i>.
    
    <br>
    <a href="https://ecma-international.org/publications/standards/Ecma-404.htm">https://ecma-international.org/publications/standards/Ecma-404.htm</a></p>
</emu-clause>
