<emu-clause id="sec-notational-conventions">
  <h1><span class="secnum">5</span>Notational Conventions</h1>

  <emu-clause id="sec-syntactic-and-lexical-grammars">
    <h1><span class="secnum">5.1</span>Syntactic and Lexical Grammars</h1>

    <emu-clause id="sec-context-free-grammars">
      <h1><span class="secnum">5.1.1</span>Context-Free Grammars</h1>
      <p>A  <em>context-free grammar</em> consists of a number of  <em>productions</em>. Each production has an abstract symbol called a  <em>nonterminal</em> as its  <em>left-hand side</em>, and a sequence of zero or more nonterminal and  <em>terminal</em> symbols as its  <em>right-hand side</em>. For each grammar, the terminal symbols are drawn from a specified alphabet.</p>
      <p>A  <dfn>chain production</dfn> is a production that has exactly one nonterminal symbol on its right-hand side along with zero or more terminal symbols.</p>
      <p>Starting from a sentence consisting of a single distinguished nonterminal, called the  <dfn>goal symbol</dfn>, a given context-free grammar specifies a  <em>language</em>,
 namely, the (perhaps infinite) set of possible sequences of terminal 
symbols that can result from repeatedly replacing any nonterminal in the
 sequence with a right-hand side of a production for which the 
nonterminal is the left-hand side.</p>
    </emu-clause>

    <emu-clause id="sec-lexical-and-regexp-grammars">
      <h1><span class="secnum">5.1.2</span>The Lexical and RegExp Grammars</h1>
      <p>A  <em>lexical grammar</em> for ECMAScript is given in clause  <emu-xref href="#sec-ecmascript-language-lexical-grammar" id="_ref_7"><a href="#sec-ecmascript-language-lexical-grammar">11</a></emu-xref>. This grammar has as its terminal symbols Unicode code points that conform to the rules for <emu-nt id="_ref_8795"><a href="#prod-SourceCharacter">SourceCharacter</a></emu-nt> defined in  <emu-xref href="#sec-source-text" id="_ref_8"><a href="#sec-source-text">10.1</a></emu-xref>. It defines a set of productions, starting from the <emu-xref href="#sec-context-free-grammars" id="_ref_885"><a href="#sec-context-free-grammars">goal symbol</a></emu-xref> <emu-nt id="_ref_8796"><a href="#prod-InputElementDiv">InputElementDiv</a></emu-nt>, <emu-nt id="_ref_8797"><a href="#prod-InputElementTemplateTail">InputElementTemplateTail</a></emu-nt>, or <emu-nt id="_ref_8798"><a href="#prod-InputElementRegExp">InputElementRegExp</a></emu-nt>, or <emu-nt id="_ref_8799"><a href="#prod-InputElementRegExpOrTemplateTail">InputElementRegExpOrTemplateTail</a></emu-nt>, that describe how sequences of such code points are translated into a sequence of input elements.</p>
      <p>Input elements other than white space and comments form the 
terminal symbols for the syntactic grammar for ECMAScript and are called
 ECMAScript  <em>tokens</em>. These tokens are the reserved words, 
identifiers, literals, and punctuators of the ECMAScript language. 
Moreover, line terminators, although not considered to be tokens, also 
become part of the stream of input elements and guide the process of 
automatic semicolon insertion (<emu-xref href="#sec-automatic-semicolon-insertion" id="_ref_9"><a href="#sec-automatic-semicolon-insertion">11.9</a></emu-xref>).
 Simple white space and single-line comments are discarded and do not 
appear in the stream of input elements for the syntactic grammar. A <emu-nt id="_ref_8800"><a href="#prod-MultiLineComment">MultiLineComment</a></emu-nt> (that is, a comment of the form <code>/*</code>…<code>*/</code> regardless of whether it spans more than one line) is likewise simply discarded if it contains no line terminator; but if a <emu-nt id="_ref_8801"><a href="#prod-MultiLineComment">MultiLineComment</a></emu-nt>
 contains one or more line terminators, then it is replaced by a single 
line terminator, which becomes part of the stream of input elements for 
the syntactic grammar.</p>
      <p>A  <em>RegExp grammar</em> for ECMAScript is given in  <emu-xref href="#sec-patterns" id="_ref_10"><a href="#sec-patterns">21.2.1</a></emu-xref>. This grammar also has as its terminal symbols the code points as defined by <emu-nt id="_ref_8802"><a href="#prod-SourceCharacter">SourceCharacter</a></emu-nt>. It defines a set of productions, starting from the <emu-xref href="#sec-context-free-grammars" id="_ref_886"><a href="#sec-context-free-grammars">goal symbol</a></emu-xref> <emu-nt id="_ref_8803"><a href="#prod-Pattern">Pattern</a></emu-nt>, that describe how sequences of code points are translated into regular expression patterns.</p>
      <p>Productions of the lexical and RegExp grammars are distinguished by having two colons “<b>::</b>” as separating punctuation. The lexical and RegExp grammars share some productions.</p>
    </emu-clause>

    <emu-clause id="sec-numeric-string-grammar">
      <h1><span class="secnum">5.1.3</span>The Numeric String Grammar</h1>
      <p>Another grammar is used for translating Strings into numeric 
values. This grammar is similar to the part of the lexical grammar 
having to do with numeric literals and has as its terminal symbols <emu-nt id="_ref_8804"><a href="#prod-SourceCharacter">SourceCharacter</a></emu-nt>. This grammar appears in  <emu-xref href="#sec-tonumber-applied-to-the-string-type" id="_ref_11"><a href="#sec-tonumber-applied-to-the-string-type">7.1.3.1</a></emu-xref>.</p>
      <p>Productions of the numeric string grammar are distinguished by having three colons “<b>:::</b>” as punctuation.</p>
    </emu-clause>

    <emu-clause id="sec-syntactic-grammar">
      <h1><span class="secnum">5.1.4</span>The Syntactic Grammar</h1>
      <p>The  <em>syntactic grammar</em> for ECMAScript is given in 
clauses 11, 12, 13, 14, and 15. This grammar has ECMAScript tokens 
defined by the lexical grammar as its terminal symbols (<emu-xref href="#sec-lexical-and-regexp-grammars" id="_ref_12"><a href="#sec-lexical-and-regexp-grammars">5.1.2</a></emu-xref>). It defines a set of productions, starting from two alternative goal symbols <emu-nt id="_ref_8805"><a href="#prod-Script">Script</a></emu-nt> and <emu-nt id="_ref_8806"><a href="#prod-Module">Module</a></emu-nt>, that describe how sequences of tokens form syntactically correct independent components of ECMAScript programs.</p>
      <p>When a stream of code points is to be parsed as an ECMAScript <emu-nt id="_ref_8807"><a href="#prod-Script">Script</a></emu-nt> or <emu-nt id="_ref_8808"><a href="#prod-Module">Module</a></emu-nt>,
 it is first converted to a stream of input elements by repeated 
application of the lexical grammar; this stream of input elements is 
then parsed by a single application of the syntactic grammar. The input 
stream is syntactically in error if the tokens in the stream of input 
elements cannot be parsed as a single instance of the goal nonterminal (<emu-nt id="_ref_8809"><a href="#prod-Script">Script</a></emu-nt> or <emu-nt id="_ref_8810"><a href="#prod-Module">Module</a></emu-nt>), with no tokens left over.</p>
      <p>When a parse is successful, it constructs a  <em>parse tree</em>, a rooted tree structure in which each node is a  <dfn>Parse Node</dfn>. Each Parse Node is an  <em>instance</em>
 of a symbol in the grammar; it represents a span of the source text 
that can be derived from that symbol. The root node of the parse tree, 
representing the whole of the source text, is an instance of the parse's
 <emu-xref href="#sec-context-free-grammars" id="_ref_887"><a href="#sec-context-free-grammars">goal symbol</a></emu-xref>.
 When a Parse Node is an instance of a nonterminal, it is also an 
instance of some production that has that nonterminal as its left-hand 
side. Moreover, it has zero or more  <em>children</em>, one for each 
symbol on the production's right-hand side: each child is a Parse Node 
that is an instance of the corresponding symbol.</p>
      <p>New Parse Nodes are instantiated for each invocation of the 
parser and never reused between parses even of identical source text. 
Parse Nodes are considered  <dfn>the same Parse Node</dfn> if and only 
if they represent the same span of source text, are instances of the 
same grammar symbol, and resulted from the same parser invocation.</p>
      <emu-note><span class="note">Note 1</span><div class="note-contents">
        <p>Parsing the same String multiple times will lead to different Parse Nodes, e.g., as occurs in:</p>
        <pre><code language="javascript">eval(str); eval(str);</code></pre>
      </div></emu-note>
      <emu-note><span class="note">Note 2</span><div class="note-contents">Parse Nodes are specification artefacts, and implementations are not required to use an analogous data structure.</div></emu-note>
      <p>Productions of the syntactic grammar are distinguished by having just one colon “<b>:</b>” as punctuation.</p>
      <p>The syntactic grammar as presented in clauses 12, 13, 14 and 15
 is not a complete account of which token sequences are accepted as a 
correct ECMAScript <emu-nt id="_ref_8811"><a href="#prod-Script">Script</a></emu-nt> or <emu-nt id="_ref_8812"><a href="#prod-Module">Module</a></emu-nt>.
 Certain additional token sequences are also accepted, namely, those 
that would be described by the grammar if only semicolons were added to 
the sequence in certain places (such as before line terminator 
characters). Furthermore, certain token sequences that are described by 
the grammar are not considered acceptable if a line terminator character
 appears in certain “awkward” places.</p>
      <p>In certain cases, in order to avoid ambiguities, the syntactic 
grammar uses generalized productions that permit token sequences that do
 not form a valid ECMAScript <emu-nt id="_ref_8813"><a href="#prod-Script">Script</a></emu-nt> or <emu-nt id="_ref_8814"><a href="#prod-Module">Module</a></emu-nt>. For example, this technique is used for object literals and object destructuring patterns. In such cases a more restrictive  <em>supplemental grammar</em> is provided that further restricts the acceptable token sequences. Typically, an <emu-xref href="#early-error" id="_ref_888"><a href="#early-error">early error</a></emu-xref> rule will then define an error condition if "<var>P</var> is not  <dfn>covering</dfn> an <var>N</var>", where <var>P</var> is a Parse Node (an instance of the generalized production) and <var>N</var> is a nonterminal from the supplemental grammar. Here, the sequence of tokens originally matched by <var>P</var> is parsed again using <var>N</var> as the <emu-xref href="#sec-context-free-grammars" id="_ref_889"><a href="#sec-context-free-grammars">goal symbol</a></emu-xref>. (If <var>N</var> takes grammatical parameters, then they are set to the same values used when <var>P</var> was originally parsed.) An error occurs if the sequence of tokens cannot be parsed as a single instance of <var>N</var>, with no tokens left over. Subsequently, algorithms access the result of the parse using a phrase of the form "the <var>N</var> that is  <dfn>covered</dfn> by <var>P</var>". This will always be a Parse Node (an instance of <var>N</var>, unique for a given <var>P</var>), since any parsing failure would have been detected by an <emu-xref href="#early-error" id="_ref_890"><a href="#early-error">early error</a></emu-xref> rule.</p>
    </emu-clause>

    <emu-clause id="sec-grammar-notation" namespace="grammar-notation">
      <h1><span class="secnum">5.1.5</span>Grammar Notation</h1>
      <p>Terminal symbols of the lexical, RegExp, and numeric string grammars are shown in <code>fixed width</code>
 font, both in the productions of the grammars and throughout this 
specification whenever the text directly refers to such a terminal 
symbol. These are to appear in a script exactly as written. All terminal
 symbol code points specified in this way are to be understood as the 
appropriate Unicode code points from the Basic Latin range, as opposed 
to any similar-looking code points from other Unicode ranges.</p>
      <p>Nonterminal symbols are shown in  <i>italic</i> type. The 
definition of a nonterminal (also called a “production”) is introduced 
by the name of the nonterminal being defined followed by one or more 
colons. (The number of colons indicates to which grammar the production 
belongs.) One or more alternative right-hand sides for the nonterminal 
then follow on succeeding lines. For example, the syntactic definition:</p>
      <emu-grammar type="example"><emu-production name="WhileStatement" id="prod-grammar-notation-WhileStatement">
    <emu-nt><a href="#prod-grammar-notation-WhileStatement">WhileStatement</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="f7627bf3"><emu-t>while</emu-t><emu-t>(</emu-t><emu-nt id="_ref_8815"><a href="#prod-Expression">Expression</a></emu-nt><emu-t>)</emu-t><emu-nt id="_ref_8816"><a href="#prod-Statement">Statement</a></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>states that the nonterminal <emu-nt id="_ref_8817"><a href="#prod-grammar-notation-WhileStatement">WhileStatement</a></emu-nt> represents the token <code>while</code>, followed by a left parenthesis token, followed by an <emu-nt id="_ref_8818"><a href="#prod-Expression">Expression</a></emu-nt>, followed by a right parenthesis token, followed by a <emu-nt id="_ref_8819"><a href="#prod-Statement">Statement</a></emu-nt>. The occurrences of <emu-nt id="_ref_8820"><a href="#prod-Expression">Expression</a></emu-nt> and <emu-nt id="_ref_8821"><a href="#prod-Statement">Statement</a></emu-nt> are themselves nonterminals. As another example, the syntactic definition:</p>
      <emu-grammar type="example"><emu-production name="ArgumentList" id="prod-grammar-notation-ArgumentList">
    <emu-nt><a href="#prod-grammar-notation-ArgumentList">ArgumentList</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="d4fc7da4"><emu-nt id="_ref_8822"><a href="#prod-AssignmentExpression">AssignmentExpression</a></emu-nt></emu-rhs>
    <emu-rhs a="7ff23fee"><emu-nt id="_ref_8823"><a href="#prod-grammar-notation-ArgumentList">ArgumentList</a></emu-nt><emu-t>,</emu-t><emu-nt id="_ref_8824"><a href="#prod-AssignmentExpression">AssignmentExpression</a></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>states that an <emu-nt id="_ref_8825"><a href="#prod-grammar-notation-ArgumentList">ArgumentList</a></emu-nt> may represent either a single <emu-nt id="_ref_8826"><a href="#prod-AssignmentExpression">AssignmentExpression</a></emu-nt> or an <emu-nt id="_ref_8827"><a href="#prod-grammar-notation-ArgumentList">ArgumentList</a></emu-nt>, followed by a comma, followed by an <emu-nt id="_ref_8828"><a href="#prod-AssignmentExpression">AssignmentExpression</a></emu-nt>. This definition of <emu-nt id="_ref_8829"><a href="#prod-grammar-notation-ArgumentList">ArgumentList</a></emu-nt> is recursive, that is, it is defined in terms of itself. The result is that an <emu-nt id="_ref_8830"><a href="#prod-grammar-notation-ArgumentList">ArgumentList</a></emu-nt> may contain any positive number of arguments, separated by commas, where each argument expression is an <emu-nt id="_ref_8831"><a href="#prod-AssignmentExpression">AssignmentExpression</a></emu-nt>. Such recursive definitions of nonterminals are common.</p>
      <p>The subscripted suffix “<sub>opt</sub>”, which may appear after
 a terminal or nonterminal, indicates an optional symbol. The 
alternative containing the optional symbol actually specifies two 
right-hand sides, one that omits the optional element and one that 
includes it. This means that:</p>
      <emu-grammar type="example"><emu-production name="VariableDeclaration" id="prod-grammar-notation-VariableDeclaration">
    <emu-nt><a href="#prod-grammar-notation-VariableDeclaration">VariableDeclaration</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="0b9344a8"><emu-nt id="_ref_8832"><a href="#prod-BindingIdentifier">BindingIdentifier</a></emu-nt><emu-nt optional="" id="_ref_8833"><a href="#prod-Initializer">Initializer</a><emu-mods><emu-opt>opt</emu-opt></emu-mods></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>is a convenient abbreviation for:</p>
      <emu-grammar type="example"><emu-production name="VariableDeclaration">
    <emu-nt><a href="#prod-grammar-notation-VariableDeclaration">VariableDeclaration</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="50e97238"><emu-nt id="_ref_8834"><a href="#prod-BindingIdentifier">BindingIdentifier</a></emu-nt></emu-rhs>
    <emu-rhs a="89becb83"><emu-nt id="_ref_8835"><a href="#prod-BindingIdentifier">BindingIdentifier</a></emu-nt><emu-nt id="_ref_8836"><a href="#prod-Initializer">Initializer</a></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>and that:</p>
      <emu-grammar type="example"><emu-production name="IterationStatement" id="prod-grammar-notation-IterationStatement">
    <emu-nt><a href="#prod-grammar-notation-IterationStatement">IterationStatement</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="93c07e45"><emu-t>for</emu-t><emu-t>(</emu-t><emu-nt id="_ref_8837"><a href="#prod-LexicalDeclaration">LexicalDeclaration</a></emu-nt><emu-nt optional="" id="_ref_8838"><a href="#prod-Expression">Expression</a><emu-mods><emu-opt>opt</emu-opt></emu-mods></emu-nt><emu-t>;</emu-t><emu-nt optional="" id="_ref_8839"><a href="#prod-Expression">Expression</a><emu-mods><emu-opt>opt</emu-opt></emu-mods></emu-nt><emu-t>)</emu-t><emu-nt id="_ref_8840"><a href="#prod-Statement">Statement</a></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>is a convenient abbreviation for:</p>
      <emu-grammar type="example"><emu-production name="IterationStatement">
    <emu-nt><a href="#prod-grammar-notation-IterationStatement">IterationStatement</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="180d57b5"><emu-t>for</emu-t><emu-t>(</emu-t><emu-nt id="_ref_8841"><a href="#prod-LexicalDeclaration">LexicalDeclaration</a></emu-nt><emu-t>;</emu-t><emu-nt optional="" id="_ref_8842"><a href="#prod-Expression">Expression</a><emu-mods><emu-opt>opt</emu-opt></emu-mods></emu-nt><emu-t>)</emu-t><emu-nt id="_ref_8843"><a href="#prod-Statement">Statement</a></emu-nt></emu-rhs>
    <emu-rhs a="0acd6093"><emu-t>for</emu-t><emu-t>(</emu-t><emu-nt id="_ref_8844"><a href="#prod-LexicalDeclaration">LexicalDeclaration</a></emu-nt><emu-nt id="_ref_8845"><a href="#prod-Expression">Expression</a></emu-nt><emu-t>;</emu-t><emu-nt optional="" id="_ref_8846"><a href="#prod-Expression">Expression</a><emu-mods><emu-opt>opt</emu-opt></emu-mods></emu-nt><emu-t>)</emu-t><emu-nt id="_ref_8847"><a href="#prod-Statement">Statement</a></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>which in turn is an abbreviation for:</p>
      <emu-grammar type="example"><emu-production name="IterationStatement">
    <emu-nt><a href="#prod-grammar-notation-IterationStatement">IterationStatement</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="00273dd7"><emu-t>for</emu-t><emu-t>(</emu-t><emu-nt id="_ref_8848"><a href="#prod-LexicalDeclaration">LexicalDeclaration</a></emu-nt><emu-t>;</emu-t><emu-t>)</emu-t><emu-nt id="_ref_8849"><a href="#prod-Statement">Statement</a></emu-nt></emu-rhs>
    <emu-rhs a="d4b04297"><emu-t>for</emu-t><emu-t>(</emu-t><emu-nt id="_ref_8850"><a href="#prod-LexicalDeclaration">LexicalDeclaration</a></emu-nt><emu-t>;</emu-t><emu-nt id="_ref_8851"><a href="#prod-Expression">Expression</a></emu-nt><emu-t>)</emu-t><emu-nt id="_ref_8852"><a href="#prod-Statement">Statement</a></emu-nt></emu-rhs>
    <emu-rhs a="e8d15924"><emu-t>for</emu-t><emu-t>(</emu-t><emu-nt id="_ref_8853"><a href="#prod-LexicalDeclaration">LexicalDeclaration</a></emu-nt><emu-nt id="_ref_8854"><a href="#prod-Expression">Expression</a></emu-nt><emu-t>;</emu-t><emu-t>)</emu-t><emu-nt id="_ref_8855"><a href="#prod-Statement">Statement</a></emu-nt></emu-rhs>
    <emu-rhs a="7f2cbdb0"><emu-t>for</emu-t><emu-t>(</emu-t><emu-nt id="_ref_8856"><a href="#prod-LexicalDeclaration">LexicalDeclaration</a></emu-nt><emu-nt id="_ref_8857"><a href="#prod-Expression">Expression</a></emu-nt><emu-t>;</emu-t><emu-nt id="_ref_8858"><a href="#prod-Expression">Expression</a></emu-nt><emu-t>)</emu-t><emu-nt id="_ref_8859"><a href="#prod-Statement">Statement</a></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>so, in this example, the nonterminal <emu-nt id="_ref_8860"><a href="#prod-grammar-notation-IterationStatement">IterationStatement</a></emu-nt> actually has four alternative right-hand sides.</p>
      <p>A production may be parameterized by a subscripted annotation of the form “<sub>[parameters]</sub>”, which may appear as a suffix to the nonterminal symbol defined by the production. “<sub>parameters</sub>”
 may be either a single name or a comma separated list of names. A 
parameterized production is shorthand for a set of productions defining 
all combinations of the parameter names, preceded by an underscore, 
appended to the parameterized nonterminal symbol. This means that:</p>
      <emu-grammar type="example"><emu-production name="StatementList" params="Return" id="prod-grammar-notation-StatementList">
    <emu-nt params="Return"><a href="#prod-grammar-notation-StatementList">StatementList</a><emu-mods><emu-params>[Return]</emu-params></emu-mods></emu-nt><emu-geq>:</emu-geq><emu-rhs a="aa6f7913"><emu-nt id="_ref_8861"><a href="#prod-ReturnStatement">ReturnStatement</a></emu-nt></emu-rhs>
    <emu-rhs a="82c424b7"><emu-nt id="_ref_8862"><a href="#prod-ExpressionStatement">ExpressionStatement</a></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>is a convenient abbreviation for:</p>
      <emu-grammar type="example"><emu-production name="StatementList">
    <emu-nt><a href="#prod-grammar-notation-StatementList">StatementList</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="aa6f7913"><emu-nt id="_ref_8863"><a href="#prod-ReturnStatement">ReturnStatement</a></emu-nt></emu-rhs>
    <emu-rhs a="82c424b7"><emu-nt id="_ref_8864"><a href="#prod-ExpressionStatement">ExpressionStatement</a></emu-nt></emu-rhs>
</emu-production>
<emu-production name="StatementList_Return" id="prod-grammar-notation-StatementList_Return">
    <emu-nt><a href="#prod-grammar-notation-StatementList_Return">StatementList_Return</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="aa6f7913"><emu-nt id="_ref_8865"><a href="#prod-ReturnStatement">ReturnStatement</a></emu-nt></emu-rhs>
    <emu-rhs a="82c424b7"><emu-nt id="_ref_8866"><a href="#prod-ExpressionStatement">ExpressionStatement</a></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>and that:</p>
      <emu-grammar type="example"><emu-production name="StatementList" params="Return, In">
    <emu-nt params="Return, In"><a href="#prod-grammar-notation-StatementList">StatementList</a><emu-mods><emu-params>[Return, In]</emu-params></emu-mods></emu-nt><emu-geq>:</emu-geq><emu-rhs a="aa6f7913"><emu-nt id="_ref_8867"><a href="#prod-ReturnStatement">ReturnStatement</a></emu-nt></emu-rhs>
    <emu-rhs a="82c424b7"><emu-nt id="_ref_8868"><a href="#prod-ExpressionStatement">ExpressionStatement</a></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>is an abbreviation for:</p>
      <emu-grammar type="example"><emu-production name="StatementList">
    <emu-nt><a href="#prod-grammar-notation-StatementList">StatementList</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="aa6f7913"><emu-nt id="_ref_8869"><a href="#prod-ReturnStatement">ReturnStatement</a></emu-nt></emu-rhs>
    <emu-rhs a="82c424b7"><emu-nt id="_ref_8870"><a href="#prod-ExpressionStatement">ExpressionStatement</a></emu-nt></emu-rhs>
</emu-production>
<emu-production name="StatementList_Return">
    <emu-nt><a href="#prod-grammar-notation-StatementList_Return">StatementList_Return</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="aa6f7913"><emu-nt id="_ref_8871"><a href="#prod-ReturnStatement">ReturnStatement</a></emu-nt></emu-rhs>
    <emu-rhs a="82c424b7"><emu-nt id="_ref_8872"><a href="#prod-ExpressionStatement">ExpressionStatement</a></emu-nt></emu-rhs>
</emu-production>
<emu-production name="StatementList_In" id="prod-grammar-notation-StatementList_In">
    <emu-nt><a href="#prod-grammar-notation-StatementList_In">StatementList_In</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="aa6f7913"><emu-nt id="_ref_8873"><a href="#prod-ReturnStatement">ReturnStatement</a></emu-nt></emu-rhs>
    <emu-rhs a="82c424b7"><emu-nt id="_ref_8874"><a href="#prod-ExpressionStatement">ExpressionStatement</a></emu-nt></emu-rhs>
</emu-production>
<emu-production name="StatementList_Return_In" id="prod-grammar-notation-StatementList_Return_In">
    <emu-nt><a href="#prod-grammar-notation-StatementList_Return_In">StatementList_Return_In</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="aa6f7913"><emu-nt id="_ref_8875"><a href="#prod-ReturnStatement">ReturnStatement</a></emu-nt></emu-rhs>
    <emu-rhs a="82c424b7"><emu-nt id="_ref_8876"><a href="#prod-ExpressionStatement">ExpressionStatement</a></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>Multiple parameters produce a combinatory number of 
productions, not all of which are necessarily referenced in a complete 
grammar.</p>
      <p>References to nonterminals on the right-hand side of a production can also be parameterized. For example:</p>
      <emu-grammar type="example"><emu-production name="StatementList">
    <emu-nt><a href="#prod-grammar-notation-StatementList">StatementList</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="aa6f7913"><emu-nt id="_ref_8877"><a href="#prod-ReturnStatement">ReturnStatement</a></emu-nt></emu-rhs>
    <emu-rhs a="abb21bdc"><emu-nt params="+In" id="_ref_8878"><a href="#prod-ExpressionStatement">ExpressionStatement</a><emu-mods><emu-params>[+In]</emu-params></emu-mods></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>is equivalent to saying:</p>
      <emu-grammar type="example"><emu-production name="StatementList">
    <emu-nt><a href="#prod-grammar-notation-StatementList">StatementList</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="aa6f7913"><emu-nt id="_ref_8879"><a href="#prod-ReturnStatement">ReturnStatement</a></emu-nt></emu-rhs>
    <emu-rhs a="93a8206f"><emu-nt>ExpressionStatement_In</emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>and:</p>
      <emu-grammar type="example"><emu-production name="StatementList">
    <emu-nt><a href="#prod-grammar-notation-StatementList">StatementList</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="aa6f7913"><emu-nt id="_ref_8880"><a href="#prod-ReturnStatement">ReturnStatement</a></emu-nt></emu-rhs>
    <emu-rhs a="70147e05"><emu-nt params="~In" id="_ref_8881"><a href="#prod-ExpressionStatement">ExpressionStatement</a><emu-mods><emu-params>[~In]</emu-params></emu-mods></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>is equivalent to:</p>
      <emu-grammar type="example"><emu-production name="StatementList">
    <emu-nt><a href="#prod-grammar-notation-StatementList">StatementList</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="aa6f7913"><emu-nt id="_ref_8882"><a href="#prod-ReturnStatement">ReturnStatement</a></emu-nt></emu-rhs>
    <emu-rhs a="82c424b7"><emu-nt id="_ref_8883"><a href="#prod-ExpressionStatement">ExpressionStatement</a></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>A nonterminal reference may have both a parameter list and an “<sub>opt</sub>” suffix. For example:</p>
      <emu-grammar type="example"><emu-production name="VariableDeclaration">
    <emu-nt><a href="#prod-grammar-notation-VariableDeclaration">VariableDeclaration</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="363e22bb"><emu-nt id="_ref_8884"><a href="#prod-BindingIdentifier">BindingIdentifier</a></emu-nt><emu-nt params="+In" optional="" id="_ref_8885"><a href="#prod-Initializer">Initializer</a><emu-mods><emu-params>[+In]</emu-params><emu-opt>opt</emu-opt></emu-mods></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>is an abbreviation for:</p>
      <emu-grammar type="example"><emu-production name="VariableDeclaration">
    <emu-nt><a href="#prod-grammar-notation-VariableDeclaration">VariableDeclaration</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="50e97238"><emu-nt id="_ref_8886"><a href="#prod-BindingIdentifier">BindingIdentifier</a></emu-nt></emu-rhs>
    <emu-rhs a="693077fa"><emu-nt id="_ref_8887"><a href="#prod-BindingIdentifier">BindingIdentifier</a></emu-nt><emu-nt>Initializer_In</emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>Prefixing a parameter name with “<sub>?</sub>” on a right-hand 
side nonterminal reference makes that parameter value dependent upon the
 occurrence of the parameter name on the reference to the current 
production's left-hand side symbol. For example:</p>
      <emu-grammar type="example"><emu-production name="VariableDeclaration" params="In">
    <emu-nt params="In"><a href="#prod-grammar-notation-VariableDeclaration">VariableDeclaration</a><emu-mods><emu-params>[In]</emu-params></emu-mods></emu-nt><emu-geq>:</emu-geq><emu-rhs a="dde5478d"><emu-nt id="_ref_8888"><a href="#prod-BindingIdentifier">BindingIdentifier</a></emu-nt><emu-nt params="?In" id="_ref_8889"><a href="#prod-Initializer">Initializer</a><emu-mods><emu-params>[?In]</emu-params></emu-mods></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>is an abbreviation for:</p>
      <emu-grammar type="example"><emu-production name="VariableDeclaration">
    <emu-nt><a href="#prod-grammar-notation-VariableDeclaration">VariableDeclaration</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="89becb83"><emu-nt id="_ref_8890"><a href="#prod-BindingIdentifier">BindingIdentifier</a></emu-nt><emu-nt id="_ref_8891"><a href="#prod-Initializer">Initializer</a></emu-nt></emu-rhs>
</emu-production>
<emu-production name="VariableDeclaration_In" id="prod-grammar-notation-VariableDeclaration_In">
    <emu-nt><a href="#prod-grammar-notation-VariableDeclaration_In">VariableDeclaration_In</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="693077fa"><emu-nt id="_ref_8892"><a href="#prod-BindingIdentifier">BindingIdentifier</a></emu-nt><emu-nt>Initializer_In</emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>If a right-hand side alternative is prefixed with 
“[+parameter]” that alternative is only available if the named parameter
 was used in referencing the production's nonterminal symbol. If a 
right-hand side alternative is prefixed with “[~parameter]” that 
alternative is only available if the named parameter was  <em>not</em> used in referencing the production's nonterminal symbol. This means that:</p>
      <emu-grammar type="example"><emu-production name="StatementList" params="Return">
    <emu-nt params="Return"><a href="#prod-grammar-notation-StatementList">StatementList</a><emu-mods><emu-params>[Return]</emu-params></emu-mods></emu-nt><emu-geq>:</emu-geq><emu-rhs a="a712bea8" constraints="+Return"><emu-constraints>[+Return]</emu-constraints><emu-nt id="_ref_8893"><a href="#prod-ReturnStatement">ReturnStatement</a></emu-nt></emu-rhs>
    <emu-rhs a="82c424b7"><emu-nt id="_ref_8894"><a href="#prod-ExpressionStatement">ExpressionStatement</a></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>is an abbreviation for:</p>
      <emu-grammar type="example"><emu-production name="StatementList">
    <emu-nt><a href="#prod-grammar-notation-StatementList">StatementList</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="82c424b7"><emu-nt id="_ref_8895"><a href="#prod-ExpressionStatement">ExpressionStatement</a></emu-nt></emu-rhs>
</emu-production>
<emu-production name="StatementList_Return">
    <emu-nt><a href="#prod-grammar-notation-StatementList_Return">StatementList_Return</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="aa6f7913"><emu-nt id="_ref_8896"><a href="#prod-ReturnStatement">ReturnStatement</a></emu-nt></emu-rhs>
    <emu-rhs a="82c424b7"><emu-nt id="_ref_8897"><a href="#prod-ExpressionStatement">ExpressionStatement</a></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>and that:</p>
      <emu-grammar type="example"><emu-production name="StatementList" params="Return">
    <emu-nt params="Return"><a href="#prod-grammar-notation-StatementList">StatementList</a><emu-mods><emu-params>[Return]</emu-params></emu-mods></emu-nt><emu-geq>:</emu-geq><emu-rhs a="9abebc34" constraints="~Return"><emu-constraints>[~Return]</emu-constraints><emu-nt id="_ref_8898"><a href="#prod-ReturnStatement">ReturnStatement</a></emu-nt></emu-rhs>
    <emu-rhs a="82c424b7"><emu-nt id="_ref_8899"><a href="#prod-ExpressionStatement">ExpressionStatement</a></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>is an abbreviation for:</p>
      <emu-grammar type="example"><emu-production name="StatementList">
    <emu-nt><a href="#prod-grammar-notation-StatementList">StatementList</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="aa6f7913"><emu-nt id="_ref_8900"><a href="#prod-ReturnStatement">ReturnStatement</a></emu-nt></emu-rhs>
    <emu-rhs a="82c424b7"><emu-nt id="_ref_8901"><a href="#prod-ExpressionStatement">ExpressionStatement</a></emu-nt></emu-rhs>
</emu-production>
<emu-production name="StatementList_Return">
    <emu-nt><a href="#prod-grammar-notation-StatementList_Return">StatementList_Return</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="82c424b7"><emu-nt id="_ref_8902"><a href="#prod-ExpressionStatement">ExpressionStatement</a></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>When the words “<b>one of</b>” follow the colon(s) in a grammar
 definition, they signify that each of the terminal symbols on the 
following line or lines is an alternative definition. For example, the 
lexical grammar for ECMAScript contains the production:</p>
      <emu-grammar type="example"><emu-production name="NonZeroDigit" type="lexical" oneof="" id="prod-grammar-notation-NonZeroDigit">
    <emu-nt><a href="#prod-grammar-notation-NonZeroDigit">NonZeroDigit</a></emu-nt><emu-geq>::</emu-geq><emu-oneof>one of</emu-oneof><emu-rhs><emu-t>1</emu-t><emu-t>2</emu-t><emu-t>3</emu-t><emu-t>4</emu-t><emu-t>5</emu-t><emu-t>6</emu-t><emu-t>7</emu-t><emu-t>8</emu-t><emu-t>9</emu-t></emu-rhs>
</emu-production></emu-grammar>
      <p>which is merely a convenient abbreviation for:</p>
      <emu-grammar type="example"><emu-production name="NonZeroDigit" type="lexical">
    <emu-nt><a href="#prod-grammar-notation-NonZeroDigit">NonZeroDigit</a></emu-nt><emu-geq>::</emu-geq><emu-rhs a="292aa5dd"><emu-t>1</emu-t></emu-rhs>
    <emu-rhs a="5ca73105"><emu-t>2</emu-t></emu-rhs>
    <emu-rhs a="ec6bb6b2"><emu-t>3</emu-t></emu-rhs>
    <emu-rhs a="58ec4a73"><emu-t>4</emu-t></emu-rhs>
    <emu-rhs a="8fcdef77"><emu-t>5</emu-t></emu-rhs>
    <emu-rhs a="0b64877d"><emu-t>6</emu-t></emu-rhs>
    <emu-rhs a="ea5e07a4"><emu-t>7</emu-t></emu-rhs>
    <emu-rhs a="7a5bd8c3"><emu-t>8</emu-t></emu-rhs>
    <emu-rhs a="163f4308"><emu-t>9</emu-t></emu-rhs>
</emu-production></emu-grammar>
      <p>If the phrase “[empty]” appears as the right-hand side of a 
production, it indicates that the production's right-hand side contains 
no terminals or nonterminals.</p>
      <p>If the phrase “[lookahead ∉ <var>set</var>]” appears in the 
right-hand side of a production, it indicates that the production may 
not be used if the immediately following input token sequence is a 
member of the given <var>set</var>. The <var>set</var> can be written as
 a comma separated list of one or two element terminal sequences 
enclosed in curly brackets. For convenience, the set can also be written
 as a nonterminal, in which case it represents the set of all terminals 
to which that nonterminal could expand. If the <var>set</var> consists of a single terminal the phrase “[lookahead ≠ <var>terminal</var>]” may be used.</p>
      <p>For example, given the definitions:</p>
      <emu-grammar type="example"><emu-production name="DecimalDigit" type="lexical" oneof="" id="prod-grammar-notation-DecimalDigit">
    <emu-nt><a href="#prod-grammar-notation-DecimalDigit">DecimalDigit</a></emu-nt><emu-geq>::</emu-geq><emu-oneof>one of</emu-oneof><emu-rhs><emu-t>0</emu-t><emu-t>1</emu-t><emu-t>2</emu-t><emu-t>3</emu-t><emu-t>4</emu-t><emu-t>5</emu-t><emu-t>6</emu-t><emu-t>7</emu-t><emu-t>8</emu-t><emu-t>9</emu-t></emu-rhs>
</emu-production>
<emu-production name="DecimalDigits" type="lexical" id="prod-grammar-notation-DecimalDigits">
    <emu-nt><a href="#prod-grammar-notation-DecimalDigits">DecimalDigits</a></emu-nt><emu-geq>::</emu-geq><emu-rhs a="b3831ee0"><emu-nt id="_ref_8903"><a href="#prod-grammar-notation-DecimalDigit">DecimalDigit</a></emu-nt></emu-rhs>
    <emu-rhs a="9f250657"><emu-nt id="_ref_8904"><a href="#prod-grammar-notation-DecimalDigits">DecimalDigits</a></emu-nt><emu-nt id="_ref_8905"><a href="#prod-grammar-notation-DecimalDigit">DecimalDigit</a></emu-nt></emu-rhs>
</emu-production></emu-grammar>
      <p>the definition:</p>
      <emu-grammar type="example"><emu-production name="LookaheadExample" type="lexical" id="prod-grammar-notation-LookaheadExample">
    <emu-nt><a href="#prod-grammar-notation-LookaheadExample">LookaheadExample</a></emu-nt><emu-geq>::</emu-geq><emu-rhs a="e21e12ce"><emu-t>n</emu-t><emu-gann>[lookahead ∉ { <emu-t>1</emu-t>, <emu-t>3</emu-t>, <emu-t>5</emu-t>, <emu-t>7</emu-t>, <emu-t>9</emu-t> }]</emu-gann><emu-nt id="_ref_8906"><a href="#prod-grammar-notation-DecimalDigits">DecimalDigits</a></emu-nt></emu-rhs>
    <emu-rhs a="195cbc6c"><emu-nt id="_ref_8907"><a href="#prod-grammar-notation-DecimalDigit">DecimalDigit</a></emu-nt><emu-gann>[lookahead ∉ <emu-nt id="_ref_8908"><a href="#prod-grammar-notation-DecimalDigit">DecimalDigit</a></emu-nt>]</emu-gann></emu-rhs>
</emu-production></emu-grammar>
      <p>matches either the letter <code>n</code> followed by one or more decimal digits the first of which is even, or a decimal digit not followed by another decimal digit.</p>
      <p>Similarly, if the phrase “[lookahead ∈ <var>set</var>]” appears
 in the right-hand side of a production, it indicates that the 
production may only be used if the immediately following input token 
sequence is a member of the given <var>set</var>. If the <var>set</var> consists of a single terminal the phrase “[lookahead = <var>terminal</var>]” may be used.</p>
      <p>If the phrase “[no <emu-nt id="_ref_8909"><a href="#prod-LineTerminator">LineTerminator</a></emu-nt> here]” appears in the right-hand side of a production of the syntactic grammar, it indicates that the production is  <em>a restricted production</em>: it may not be used if a <emu-nt id="_ref_8910"><a href="#prod-LineTerminator">LineTerminator</a></emu-nt> occurs in the input stream at the indicated position. For example, the production:</p>
      <emu-grammar type="example"><emu-production name="ThrowStatement" id="prod-grammar-notation-ThrowStatement">
    <emu-nt><a href="#prod-grammar-notation-ThrowStatement">ThrowStatement</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="ff4ec866"><emu-t>throw</emu-t><emu-gann>[no <emu-nt id="_ref_8911"><a href="#prod-LineTerminator">LineTerminator</a></emu-nt> here]</emu-gann><emu-nt id="_ref_8912"><a href="#prod-Expression">Expression</a></emu-nt><emu-t>;</emu-t></emu-rhs>
</emu-production></emu-grammar>
      <p>indicates that the production may not be used if a <emu-nt id="_ref_8913"><a href="#prod-LineTerminator">LineTerminator</a></emu-nt> occurs in the script between the <code>throw</code> token and the <emu-nt id="_ref_8914"><a href="#prod-Expression">Expression</a></emu-nt>.</p>
      <p>Unless the presence of a <emu-nt id="_ref_8915"><a href="#prod-LineTerminator">LineTerminator</a></emu-nt> is forbidden by a restricted production, any number of occurrences of <emu-nt id="_ref_8916"><a href="#prod-LineTerminator">LineTerminator</a></emu-nt>
 may appear between any two consecutive tokens in the stream of input 
elements without affecting the syntactic acceptability of the script.</p>
      <p>When an alternative in a production of the lexical grammar or 
the numeric string grammar appears to be a multi-code point token, it 
represents the sequence of code points that would make up such a token.</p>
      <p>The right-hand side of a production may specify that certain expansions are not permitted by using the phrase “<b>but not</b>” and then indicating the expansions to be excluded. For example, the production:</p>
      <emu-grammar type="example"><emu-production name="Identifier" type="lexical" id="prod-grammar-notation-Identifier">
    <emu-nt><a href="#prod-grammar-notation-Identifier">Identifier</a></emu-nt><emu-geq>::</emu-geq><emu-rhs a="bfa5c374"><emu-nt id="_ref_8917"><a href="#prod-IdentifierName">IdentifierName</a></emu-nt><emu-gmod>but not <emu-nt id="_ref_8918"><a href="#prod-ReservedWord">ReservedWord</a></emu-nt></emu-gmod></emu-rhs>
</emu-production></emu-grammar>
      <p>means that the nonterminal <emu-nt id="_ref_8919"><a href="#prod-grammar-notation-Identifier">Identifier</a></emu-nt> may be replaced by any sequence of code points that could replace <emu-nt id="_ref_8920"><a href="#prod-IdentifierName">IdentifierName</a></emu-nt> provided that the same sequence of code points could not replace <emu-nt id="_ref_8921"><a href="#prod-ReservedWord">ReservedWord</a></emu-nt>.</p>
      <p>Finally, a few nonterminal symbols are described by a 
descriptive phrase in sans-serif type in cases where it would be 
impractical to list all the alternatives:</p>
      <emu-grammar type="example"><emu-production name="SourceCharacter" type="lexical" id="prod-grammar-notation-SourceCharacter">
    <emu-nt><a href="#prod-grammar-notation-SourceCharacter">SourceCharacter</a></emu-nt><emu-geq>::</emu-geq><emu-rhs a="c64b38bd"><emu-gprose>any Unicode code point</emu-gprose></emu-rhs>
</emu-production></emu-grammar>
    </emu-clause>
  </emu-clause>

  <emu-clause id="sec-algorithm-conventions">
    <h1><span class="secnum">5.2</span>Algorithm Conventions</h1>
    <p>The specification often uses a numbered list to specify steps in 
an algorithm. These algorithms are used to precisely specify the 
required semantics of ECMAScript language constructs. The algorithms are
 not intended to imply the use of any specific implementation technique.
 In practice, there may be more efficient algorithms available to 
implement a given feature.</p>
    <p>Algorithms may be explicitly parameterized, in which case the 
names and usage of the parameters must be provided as part of the 
algorithm's definition.</p>
    <p>Algorithm steps may be subdivided into sequential substeps. 
Substeps are indented and may themselves be further divided into 
indented substeps. Outline numbering conventions are used to identify 
substeps with the first level of substeps labelled with lower case 
alphabetic characters and the second level of substeps labelled with 
lower case roman numerals. If more than three levels are required these 
rules repeat with the fourth level using numeric labels. For example:</p>
    <emu-alg><ol><li>Top-level step<ol><li>Substep.</li><li>Substep.<ol><li>Subsubstep.<ol><li>Subsubsubstep<ol><li>Subsubsubsubstep<ol><li>Subsubsubsubsubstep
    </li></ol></li></ol></li></ol></li></ol></li></ol></li></ol></emu-alg>
    <p>A step or substep may be written as an “if” predicate that 
conditions its substeps. In this case, the substeps are only applied if 
the predicate is true. If a step or substep begins with the word “else”,
 it is a predicate that is the negation of the preceding “if” predicate 
step at the same level.</p>
    <p>A step may specify the iterative application of its substeps.</p>
    <p>A step that begins with “<dfn id="assert">Assert</dfn>:” asserts 
an invariant condition of its algorithm. Such assertions are used to 
make explicit algorithmic invariants that would otherwise be implicit. 
Such assertions add no additional semantic requirements and hence need 
not be checked by an implementation. They are used simply to clarify 
algorithms.</p>
    <p>Algorithm steps may declare named aliases for any value using the form “Let <var>x</var> be <var>someValue</var>”. These aliases are reference-like in that both <var>x</var> and <var>someValue</var>
 refer to the same underlying data and modifications to either are 
visible to both. Algorithm steps that want to avoid this reference-like 
behaviour should explicitly make a copy of the right-hand side: “Let <var>x</var> be a copy of <var>someValue</var>” creates a shallow copy of <var>someValue</var>.</p>
    <p>Once declared, an alias may be referenced in any subsequent steps
 and must not be referenced from steps prior to the alias's declaration.
 Aliases may be modified using the form “Set <var>x</var> to <var>someOtherValue</var>”.</p>

    <emu-clause id="sec-algorithm-conventions-abstract-operations">
      <h1><span class="secnum">5.2.1</span>Abstract Operations</h1>
      <p>In order to facilitate their use in multiple parts of this specification, some algorithms, called  <dfn>abstract operations</dfn>,
 are named and written in parameterized functional form so that they may
 be referenced by name from within other algorithms. Abstract operations
 are typically referenced using a functional application style such as 
OperationName(<var>arg1</var>, <var>arg2</var>). Some abstract 
operations are treated as polymorphically dispatched methods of 
class-like specification abstractions. Such method-like abstract 
operations are typically referenced using a method application style 
such as <var>someValue</var>.OperationName(<var>arg1</var>, <var>arg2</var>).</p>
    </emu-clause>

    <emu-clause id="sec-algorithm-conventions-syntax-directed-operations" namespace="algorithm-conventions">
      <h1><span class="secnum">5.2.2</span>Syntax-Directed Operations</h1>
      <p>A  <dfn>syntax-directed operation</dfn> is a named operation 
whose definition consists of algorithms, each of which is associated 
with one or more productions from one of the ECMAScript grammars. A 
production that has multiple alternative definitions will typically have
 a distinct algorithm for each alternative. When an algorithm is 
associated with a grammar production, it may reference the terminal and 
nonterminal symbols of the production alternative as if they were 
parameters of the algorithm. When used in this manner, nonterminal 
symbols refer to the actual alternative definition that is matched when 
parsing the source text. The  <dfn>source text matched by</dfn> a 
grammar production is the portion of the source text that starts at the 
beginning of the first terminal that participated in the match and ends 
at the end of the last terminal that participated in the match.</p>
      <p>When an algorithm is associated with a production alternative, 
the alternative is typically shown without any “[ ]” grammar 
annotations. Such annotations should only affect the syntactic 
recognition of the alternative and have no effect on the associated 
semantics for the alternative.</p>
      <p>Syntax-directed operations are invoked with a parse node and, 
optionally, other parameters by using the conventions on steps 1, 3, and
 4 in the following algorithm:</p>
      <emu-alg><ol><li>Let <var>status</var> be the result of performing SyntaxDirectedOperation of <emu-nt>SomeNonTerminal</emu-nt>.</li><li>Let <var>someParseNode</var> be the parse of some source text.</li><li>Perform SyntaxDirectedOperation of <var>someParseNode</var>.</li><li>Perform SyntaxDirectedOperation of <var>someParseNode</var> passing <code>"value"</code> as the argument.
      </li></ol></emu-alg>
      <p>Unless explicitly specified otherwise, all chain productions 
have an implicit definition for every operation that might be applied to
 that production's left-hand side nonterminal. The implicit definition 
simply reapplies the same operation with the same parameters, if any, to
 the <emu-xref href="#sec-context-free-grammars" id="_ref_8632"><a href="#sec-context-free-grammars">chain production</a></emu-xref>'s
 sole right-hand side nonterminal and then returns the result. For 
example, assume that some algorithm has a step of the form: “Return the 
result of evaluating <emu-nt id="_ref_8922"><a href="#prod-algorithm-conventions-Block">Block</a></emu-nt>” and that there is a production:</p>
      <emu-grammar type="example"><emu-production name="Block" id="prod-algorithm-conventions-Block">
    <emu-nt><a href="#prod-algorithm-conventions-Block">Block</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="6782c9a7"><emu-t>{</emu-t><emu-nt id="_ref_8923"><a href="#prod-StatementList">StatementList</a></emu-nt><emu-t>}</emu-t></emu-rhs>
</emu-production></emu-grammar>
      <p>but the Evaluation operation does not associate an algorithm 
with that production. In that case, the Evaluation operation implicitly 
includes an association of the form:</p>
      <p><b>Runtime Semantics: Evaluation</b></p>
      <emu-grammar type="example"><emu-production name="Block" collapsed="">
    <emu-nt><a href="#prod-algorithm-conventions-Block">Block</a></emu-nt><emu-geq>:</emu-geq><emu-rhs a="6782c9a7"><emu-t>{</emu-t><emu-nt id="_ref_8924"><a href="#prod-StatementList">StatementList</a></emu-nt><emu-t>}</emu-t></emu-rhs>
</emu-production></emu-grammar>
      <emu-alg><ol><li>Return the result of evaluating <emu-nt id="_ref_8925"><a href="#prod-StatementList">StatementList</a></emu-nt>.
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-runtime-semantics">
      <h1><span class="secnum">5.2.3</span>Runtime Semantics</h1>
      <p>Algorithms which specify semantics that must be called at runtime are called  <dfn>runtime semantics</dfn>. Runtime semantics are defined by <emu-xref href="#sec-algorithm-conventions-abstract-operations" id="_ref_891"><a href="#sec-algorithm-conventions-abstract-operations">abstract operations</a></emu-xref> or syntax-directed operations. Such algorithms always return a completion record.</p>
      <emu-clause id="sec-implicit-completion-values">
        <h1><span class="secnum">5.2.3.1</span>Implicit Completion Values</h1>
        <p>The algorithms of this specification often implicitly return <emu-xref aoid="Completion" id="_ref_892"><a href="#sec-completion-record-specification-type">Completion</a></emu-xref> Records whose [[Type]] is <emu-const>normal</emu-const>. Unless it is otherwise obvious from the context, an algorithm statement that returns a value that is not a <emu-xref href="#sec-completion-record-specification-type" id="_ref_893"><a href="#sec-completion-record-specification-type">Completion Record</a></emu-xref>, such as:</p>
        <emu-alg><ol><li>Return <code>"Infinity"</code>.
        </li></ol></emu-alg>
        <p>means the same thing as:</p>
        <emu-alg><ol><li>Return <emu-xref aoid="NormalCompletion" id="_ref_894"><a href="#sec-normalcompletion">NormalCompletion</a></emu-xref>(<code>"Infinity"</code>).
        </li></ol></emu-alg>
        <p>However, if the value expression of a “return” statement is a <emu-xref href="#sec-completion-record-specification-type" id="_ref_895"><a href="#sec-completion-record-specification-type">Completion Record</a></emu-xref> construction literal, the resulting <emu-xref href="#sec-completion-record-specification-type" id="_ref_896"><a href="#sec-completion-record-specification-type">Completion Record</a></emu-xref> is returned. If the value expression is a call to an abstract operation, the “return” statement simply returns the <emu-xref href="#sec-completion-record-specification-type" id="_ref_897"><a href="#sec-completion-record-specification-type">Completion Record</a></emu-xref> produced by the abstract operation.</p>
        <p>The abstract operation <emu-xref aoid="Completion" id="_ref_898"><a href="#sec-completion-record-specification-type">Completion</a></emu-xref>(<var>completionRecord</var>) is used to emphasize that a previously computed <emu-xref href="#sec-completion-record-specification-type" id="_ref_899"><a href="#sec-completion-record-specification-type">Completion Record</a></emu-xref> is being returned. The <emu-xref aoid="Completion" id="_ref_900"><a href="#sec-completion-record-specification-type">Completion</a></emu-xref> abstract operation takes a single argument, <var>completionRecord</var>, and performs the following steps:</p>
        <emu-alg><ol><li><emu-xref href="#assert" id="_ref_901"><a href="#assert">Assert</a></emu-xref>: <var>completionRecord</var> is a <emu-xref href="#sec-completion-record-specification-type" id="_ref_902"><a href="#sec-completion-record-specification-type">Completion Record</a></emu-xref>.</li><li>Return <var>completionRecord</var> as the <emu-xref href="#sec-completion-record-specification-type" id="_ref_903"><a href="#sec-completion-record-specification-type">Completion Record</a></emu-xref> of this abstract operation.
        </li></ol></emu-alg>
        <p>A “return” statement without a value in an algorithm step means the same thing as:</p>
        <emu-alg><ol><li>Return <emu-xref aoid="NormalCompletion" id="_ref_904"><a href="#sec-normalcompletion">NormalCompletion</a></emu-xref>(<emu-val>undefined</emu-val>).
        </li></ol></emu-alg>
        <p>Any reference to a <emu-xref href="#sec-completion-record-specification-type" id="_ref_905"><a href="#sec-completion-record-specification-type">Completion Record</a></emu-xref> value that is in a context that does not explicitly require a complete <emu-xref href="#sec-completion-record-specification-type" id="_ref_906"><a href="#sec-completion-record-specification-type">Completion Record</a></emu-xref> value is equivalent to an explicit reference to the [[Value]] field of the <emu-xref href="#sec-completion-record-specification-type" id="_ref_907"><a href="#sec-completion-record-specification-type">Completion Record</a></emu-xref> value unless the <emu-xref href="#sec-completion-record-specification-type" id="_ref_908"><a href="#sec-completion-record-specification-type">Completion Record</a></emu-xref> is an <emu-xref href="#sec-completion-record-specification-type" id="_ref_909"><a href="#sec-completion-record-specification-type">abrupt completion</a></emu-xref>.</p>
      </emu-clause>

      <emu-clause id="sec-throw-an-exception">
        <h1><span class="secnum">5.2.3.2</span>Throw an Exception</h1>
        <p>Algorithms steps that say to throw an exception, such as</p>
        <emu-alg><ol><li>Throw a <emu-val>TypeError</emu-val> exception.
        </li></ol></emu-alg>
        <p>mean the same things as:</p>
        <emu-alg><ol><li>Return <emu-xref aoid="ThrowCompletion" id="_ref_910"><a href="#sec-throwcompletion">ThrowCompletion</a></emu-xref>(a newly created <emu-val>TypeError</emu-val> object).
        </li></ol></emu-alg>
      </emu-clause>

      <emu-clause id="sec-returnifabrupt" aoid="ReturnIfAbrupt">
        <h1><span class="secnum">5.2.3.3</span>ReturnIfAbrupt</h1>
        <p>Algorithms steps that say or are otherwise equivalent to:</p>
        <emu-alg><ol><li><emu-xref aoid="ReturnIfAbrupt" id="_ref_911"><a href="#sec-returnifabrupt">ReturnIfAbrupt</a></emu-xref>(<var>argument</var>).
        </li></ol></emu-alg>
        <p>mean the same thing as:</p>
        <emu-alg><ol><li>If <var>argument</var> is an <emu-xref href="#sec-completion-record-specification-type" id="_ref_912"><a href="#sec-completion-record-specification-type">abrupt completion</a></emu-xref>, return <var>argument</var>.</li><li>Else if <var>argument</var> is a <emu-xref href="#sec-completion-record-specification-type" id="_ref_913"><a href="#sec-completion-record-specification-type">Completion Record</a></emu-xref>, set <var>argument</var> to <var>argument</var>.[[Value]].
        </li></ol></emu-alg>
        <p>Algorithms steps that say or are otherwise equivalent to:</p>
        <emu-alg><ol><li><emu-xref aoid="ReturnIfAbrupt" id="_ref_914"><a href="#sec-returnifabrupt">ReturnIfAbrupt</a></emu-xref>(AbstractOperation()).
        </li></ol></emu-alg>
        <p>mean the same thing as:</p>
        <emu-alg><ol><li>Let <var>hygienicTemp</var> be AbstractOperation().</li><li>If <var>hygienicTemp</var> is an <emu-xref href="#sec-completion-record-specification-type" id="_ref_915"><a href="#sec-completion-record-specification-type">abrupt completion</a></emu-xref>, return <var>hygienicTemp</var>.</li><li>Else if <var>hygienicTemp</var> is a <emu-xref href="#sec-completion-record-specification-type" id="_ref_916"><a href="#sec-completion-record-specification-type">Completion Record</a></emu-xref>, set <var>hygienicTemp</var> to <var>hygienicTemp</var>.[[Value]].
        </li></ol></emu-alg>
        <p>Where <var>hygienicTemp</var> is ephemeral and visible only in the steps pertaining to ReturnIfAbrupt.</p>
        <p>Algorithms steps that say or are otherwise equivalent to:</p>
        <emu-alg><ol><li>Let <var>result</var> be AbstractOperation(<emu-xref aoid="ReturnIfAbrupt" id="_ref_917"><a href="#sec-returnifabrupt">ReturnIfAbrupt</a></emu-xref>(<var>argument</var>)).
        </li></ol></emu-alg>
        <p>mean the same thing as:</p>
        <emu-alg><ol><li>If <var>argument</var> is an <emu-xref href="#sec-completion-record-specification-type" id="_ref_918"><a href="#sec-completion-record-specification-type">abrupt completion</a></emu-xref>, return <var>argument</var>.</li><li>If <var>argument</var> is a <emu-xref href="#sec-completion-record-specification-type" id="_ref_919"><a href="#sec-completion-record-specification-type">Completion Record</a></emu-xref>, set <var>argument</var> to <var>argument</var>.[[Value]].</li><li>Let <var>result</var> be AbstractOperation(<var>argument</var>).
        </li></ol></emu-alg>
      </emu-clause>
      <emu-clause id="sec-returnifabrupt-shorthands">
        <h1><span class="secnum">5.2.3.4</span>ReturnIfAbrupt Shorthands</h1>
        <p>Invocations of <emu-xref href="#sec-algorithm-conventions-abstract-operations" id="_ref_920"><a href="#sec-algorithm-conventions-abstract-operations">abstract operations</a></emu-xref> and syntax-directed operations that are prefixed by <code>?</code> indicate that <emu-xref aoid="ReturnIfAbrupt" id="_ref_921"><a href="#sec-returnifabrupt">ReturnIfAbrupt</a></emu-xref> should be applied to the resulting <emu-xref href="#sec-completion-record-specification-type" id="_ref_922"><a href="#sec-completion-record-specification-type">Completion Record</a></emu-xref>. For example, the step:</p>
        <emu-alg><ol><li>?&nbsp;OperationName().
        </li></ol></emu-alg>
        <p>is equivalent to the following step:</p>
        <emu-alg><ol><li><emu-xref aoid="ReturnIfAbrupt" id="_ref_923"><a href="#sec-returnifabrupt">ReturnIfAbrupt</a></emu-xref>(OperationName()).
        </li></ol></emu-alg>
        <p>Similarly, for method application style, the step:</p>
        <emu-alg><ol><li>? <var>someValue</var>.OperationName().
        </li></ol></emu-alg>
        <p>is equivalent to:</p>
        <emu-alg><ol><li><emu-xref aoid="ReturnIfAbrupt" id="_ref_924"><a href="#sec-returnifabrupt">ReturnIfAbrupt</a></emu-xref>(<var>someValue</var>.OperationName()).
        </li></ol></emu-alg>
        <p>Similarly, prefix <code>!</code> is used to indicate that the following invocation of an abstract or syntax-directed operation will never return an <emu-xref href="#sec-completion-record-specification-type" id="_ref_925"><a href="#sec-completion-record-specification-type">abrupt completion</a></emu-xref> and that the resulting <emu-xref href="#sec-completion-record-specification-type" id="_ref_926"><a href="#sec-completion-record-specification-type">Completion Record</a></emu-xref>'s [[Value]] field should be used in place of the return value of the operation. For example, the step:</p>
        <emu-alg><ol><li>Let <var>val</var> be !&nbsp;OperationName().
        </li></ol></emu-alg>
        <p>is equivalent to the following steps:</p>
        <emu-alg><ol><li>Let <var>val</var> be OperationName().</li><li><emu-xref href="#assert" id="_ref_927"><a href="#assert">Assert</a></emu-xref>: <var>val</var> is never an <emu-xref href="#sec-completion-record-specification-type" id="_ref_928"><a href="#sec-completion-record-specification-type">abrupt completion</a></emu-xref>.</li><li>If <var>val</var> is a <emu-xref href="#sec-completion-record-specification-type" id="_ref_929"><a href="#sec-completion-record-specification-type">Completion Record</a></emu-xref>, set <var>val</var> to <var>val</var>.[[Value]].
        </li></ol></emu-alg>
        <p>Syntax-directed operations for <emu-xref href="#sec-runtime-semantics" id="_ref_930"><a href="#sec-runtime-semantics">runtime semantics</a></emu-xref> make use of this shorthand by placing <code>!</code> or <code>?</code> before the invocation of the operation:</p>
        <emu-alg><ol><li>Perform ! SyntaxDirectedOperation of <emu-nt>NonTerminal</emu-nt>.
        </li></ol></emu-alg>
      </emu-clause>
    </emu-clause>
    <emu-clause id="sec-static-semantic-rules">
      <h1><span class="secnum">5.2.4</span>Static Semantics</h1>
      <p>Context-free grammars are not sufficiently powerful to express 
all the rules that define whether a stream of input elements form a 
valid ECMAScript <emu-nt id="_ref_8926"><a href="#prod-Script">Script</a></emu-nt> or <emu-nt id="_ref_8927"><a href="#prod-Module">Module</a></emu-nt>
 that may be evaluated. In some situations additional rules are needed 
that may be expressed using either ECMAScript algorithm conventions or 
prose requirements. Such rules are always associated with a production 
of a grammar and are called the  <dfn>static semantics</dfn> of the production.</p>
      <p>Static Semantic Rules have names and typically are defined 
using an algorithm. Named Static Semantic Rules are associated with 
grammar productions and a production that has multiple alternative 
definitions will typically have for each alternative a distinct 
algorithm for each applicable named static semantic rule.</p>
      <p>Unless otherwise specified every grammar production alternative
 in this specification implicitly has a definition for a static semantic
 rule named Contains which takes an argument named <var>symbol</var> 
whose value is a terminal or nonterminal of the grammar that includes 
the associated production. The default definition of Contains is:</p>
      <emu-alg><ol><li>For each child node <var>child</var> of this <emu-xref href="#sec-syntactic-grammar" id="_ref_931"><a href="#sec-syntactic-grammar">Parse Node</a></emu-xref>, do<ol><li>If <var>child</var> is an instance of <var>symbol</var>, return <emu-val>true</emu-val>.</li><li>If <var>child</var> is an instance of a nonterminal, then<ol><li>Let <var>contained</var> be the result of <var>child</var> Contains <var>symbol</var>.</li><li>If <var>contained</var> is <emu-val>true</emu-val>, return <emu-val>true</emu-val>.</li></ol></li></ol></li><li>Return <emu-val>false</emu-val>.
      </li></ol></emu-alg>
      <p>The above definition is explicitly over-ridden for specific productions.</p>
      <p>A special kind of static semantic rule is an  <dfn id="early-error-rule">Early Error Rule</dfn>. <emu-xref href="#early-error" id="_ref_932"><a href="#early-error">Early error</a></emu-xref> rules define <emu-xref href="#early-error" id="_ref_933"><a href="#early-error">early error</a></emu-xref> conditions (see clause  <emu-xref href="#sec-error-handling-and-language-extensions" id="_ref_13"><a href="#sec-error-handling-and-language-extensions">16</a></emu-xref>) that are associated with specific grammar productions. Evaluation of most <emu-xref href="#early-error" id="_ref_934"><a href="#early-error">early error</a></emu-xref>
 rules are not explicitly invoked within the algorithms of this 
specification. A conforming implementation must, prior to the first 
evaluation of a <emu-nt id="_ref_8928"><a href="#prod-Script">Script</a></emu-nt> or <emu-nt id="_ref_8929"><a href="#prod-Module">Module</a></emu-nt>, validate all of the <emu-xref href="#early-error" id="_ref_935"><a href="#early-error">early error</a></emu-xref> rules of the productions used to parse that <emu-nt id="_ref_8930"><a href="#prod-Script">Script</a></emu-nt> or <emu-nt id="_ref_8931"><a href="#prod-Module">Module</a></emu-nt>. If any of the <emu-xref href="#early-error" id="_ref_936"><a href="#early-error">early error</a></emu-xref> rules are violated the <emu-nt id="_ref_8932"><a href="#prod-Script">Script</a></emu-nt> or <emu-nt id="_ref_8933"><a href="#prod-Module">Module</a></emu-nt> is invalid and cannot be evaluated.</p>
    </emu-clause>
    <emu-clause id="sec-mathematical-operations">
      <h1><span class="secnum">5.2.5</span>Mathematical Operations</h1>
      <p>Mathematical operations such as addition, subtraction, 
negation, multiplication, division, and the mathematical functions 
defined later in this clause should always be understood as computing 
exact mathematical results on mathematical real numbers, which unless 
otherwise noted do not include infinities and do not include a negative 
zero that is distinguished from positive zero. Algorithms in this 
standard that model floating-point arithmetic include explicit steps, 
where necessary, to handle infinities and signed zero and to perform 
rounding. If a mathematical operation or function is applied to a 
floating-point number, it should be understood as being applied to the 
exact mathematical value represented by that floating-point number; such
 a floating-point number must be finite, and if it is <emu-val>+0</emu-val> or <emu-val>-0</emu-val> then the corresponding mathematical value is simply 0.</p>
      <p>The mathematical function  <emu-eqn id="eqn-abs" aoid="abs" class="inline">abs(<var>x</var>)</emu-eqn> produces the absolute value of <var>x</var>, which is  <emu-eqn class="inline">-<var>x</var></emu-eqn> if <var>x</var> is negative (less than zero) and otherwise is <var>x</var> itself.</p>
      <p>The mathematical function  <emu-eqn id="eqn-min" aoid="min" class="inline">min(<var>x1</var>, <var>x2</var>, ..., <var>xN</var>)</emu-eqn> produces the mathematically smallest of  <emu-eqn class="inline"><var>x1</var></emu-eqn> through  <emu-eqn class="inline"><var>xN</var></emu-eqn>. The mathematical function  <emu-eqn id="eqn-max" aoid="max" class="inline">max(<var>x1</var>, <var>x2</var>, ..., <var>xN</var>)</emu-eqn> produces the mathematically largest of  <emu-eqn class="inline"><var>x1</var></emu-eqn> through  <emu-eqn class="inline"><var>xN</var></emu-eqn>. The domain and range of these mathematical functions include <emu-val>+∞</emu-val> and <emu-val>-∞</emu-val>.</p>
      <p>The notation “<emu-eqn id="eqn-modulo" aoid="modulo" class="inline"><var>x</var> modulo <var>y</var></emu-eqn>” (<var>y</var> must be finite and nonzero) computes a value <var>k</var> of the same sign as <var>y</var> (or zero) such that  <emu-eqn class="inline"><emu-xref aoid="abs" id="_ref_937"><a href="#eqn-abs">abs</a></emu-xref>(<var>k</var>) &lt; <emu-xref aoid="abs" id="_ref_938"><a href="#eqn-abs">abs</a></emu-xref>(<var>y</var>) and <var>x</var> - <var>k</var> = <var>q</var> × <var>y</var></emu-eqn> for some integer <var>q</var>.</p>
      <p>The mathematical function  <emu-eqn id="eqn-floor" aoid="floor" class="inline">floor(<var>x</var>)</emu-eqn> produces the largest integer (closest to positive infinity) that is not larger than <var>x</var>.</p>
      <emu-note><span class="note">Note</span><div class="note-contents">
        <p><emu-eqn class="inline"><emu-xref aoid="floor" id="_ref_939"><a href="#eqn-floor">floor</a></emu-xref>(<var>x</var>) = <var>x</var> - (<var>x</var> <emu-xref aoid="modulo" id="_ref_940"><a href="#eqn-modulo">modulo</a></emu-xref> 1)</emu-eqn>.</p>
      </div></emu-note>
    </emu-clause>
  </emu-clause>
</emu-clause>
