<emu-clause id="sec-reflection">
  <h1><span class="secnum">26</span>Reflection</h1>

  <emu-clause id="sec-reflect-object">
    <h1><span class="secnum">26.1</span>The Reflect Object</h1>
    <p>The Reflect object:</p>
    <ul>
      <li>is the intrinsic object  <dfn>%Reflect%</dfn>.</li>
      <li>is the initial value of the <code>Reflect</code> property of the <emu-xref href="#sec-global-object" id="_ref_8339"><a href="#sec-global-object">global object</a></emu-xref>.</li>
      <li>is an ordinary object.</li>
      <li>has a [[Prototype]] internal slot whose value is the intrinsic object <emu-xref href="#sec-properties-of-the-object-prototype-object" id="_ref_8340"><a href="#sec-properties-of-the-object-prototype-object">%ObjectPrototype%</a></emu-xref>.</li>
      <li>is not a <emu-xref href="#function-object" id="_ref_8341"><a href="#function-object">function object</a></emu-xref>.</li>
      <li>does not have a [[Construct]] internal method; it cannot be used as a <emu-xref href="#constructor" id="_ref_8342"><a href="#constructor">constructor</a></emu-xref> with the <code>new</code> operator.</li>
      <li>does not have a [[Call]] internal method; it cannot be invoked as a function.</li>
    </ul>

    <emu-clause id="sec-reflect.apply">
      <h1><span class="secnum">26.1.1</span>Reflect.apply ( <var>target</var>, <var>thisArgument</var>, <var>argumentsList</var> )</h1>
      <p>When the <code>apply</code> function is called with arguments <var>target</var>, <var>thisArgument</var>, and <var>argumentsList</var>, the following steps are taken:</p>
      <emu-alg><ol><li>If <emu-xref aoid="IsCallable" id="_ref_8343"><a href="#sec-iscallable">IsCallable</a></emu-xref>(<var>target</var>) is <emu-val>false</emu-val>, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>args</var> be ?&nbsp;<emu-xref aoid="CreateListFromArrayLike" id="_ref_8344"><a href="#sec-createlistfromarraylike">CreateListFromArrayLike</a></emu-xref>(<var>argumentsList</var>).</li><li>Perform <emu-xref aoid="PrepareForTailCall" id="_ref_8345"><a href="#sec-preparefortailcall">PrepareForTailCall</a></emu-xref>().</li><li>Return ?&nbsp;<emu-xref aoid="Call" id="_ref_8346"><a href="#sec-call">Call</a></emu-xref>(<var>target</var>, <var>thisArgument</var>, <var>args</var>).
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-reflect.construct">
      <h1><span class="secnum">26.1.2</span>Reflect.construct ( <var>target</var>, <var>argumentsList</var> [ , <var>newTarget</var> ] )</h1>
      <p>When the <code>construct</code> function is called with arguments <var>target</var>, <var>argumentsList</var>, and <var>newTarget</var>, the following steps are taken:</p>
      <emu-alg><ol><li>If <emu-xref aoid="IsConstructor" id="_ref_8347"><a href="#sec-isconstructor">IsConstructor</a></emu-xref>(<var>target</var>) is <emu-val>false</emu-val>, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <var>newTarget</var> is not present, set <var>newTarget</var> to <var>target</var>.</li><li>Else if <emu-xref aoid="IsConstructor" id="_ref_8348"><a href="#sec-isconstructor">IsConstructor</a></emu-xref>(<var>newTarget</var>) is <emu-val>false</emu-val>, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>args</var> be ?&nbsp;<emu-xref aoid="CreateListFromArrayLike" id="_ref_8349"><a href="#sec-createlistfromarraylike">CreateListFromArrayLike</a></emu-xref>(<var>argumentsList</var>).</li><li>Return ?&nbsp;<emu-xref aoid="Construct" id="_ref_8350"><a href="#sec-construct">Construct</a></emu-xref>(<var>target</var>, <var>args</var>, <var>newTarget</var>).
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-reflect.defineproperty">
      <h1><span class="secnum">26.1.3</span>Reflect.defineProperty ( <var>target</var>, <var>propertyKey</var>, <var>attributes</var> )</h1>
      <p>When the <code>defineProperty</code> function is called with arguments <var>target</var>, <var>propertyKey</var>, and <var>attributes</var>, the following steps are taken:</p>
      <emu-alg><ol><li>If <emu-xref aoid="Type" id="_ref_8351"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>target</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>key</var> be ?&nbsp;<emu-xref aoid="ToPropertyKey" id="_ref_8352"><a href="#sec-topropertykey">ToPropertyKey</a></emu-xref>(<var>propertyKey</var>).</li><li>Let <var>desc</var> be ?&nbsp;<emu-xref aoid="ToPropertyDescriptor" id="_ref_8353"><a href="#sec-topropertydescriptor">ToPropertyDescriptor</a></emu-xref>(<var>attributes</var>).</li><li>Return ? <var>target</var>.[[DefineOwnProperty]](<var>key</var>, <var>desc</var>).
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-reflect.deleteproperty">
      <h1><span class="secnum">26.1.4</span>Reflect.deleteProperty ( <var>target</var>, <var>propertyKey</var> )</h1>
      <p>When the <code>deleteProperty</code> function is called with arguments <var>target</var> and <var>propertyKey</var>, the following steps are taken:</p>
      <emu-alg><ol><li>If <emu-xref aoid="Type" id="_ref_8354"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>target</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>key</var> be ?&nbsp;<emu-xref aoid="ToPropertyKey" id="_ref_8355"><a href="#sec-topropertykey">ToPropertyKey</a></emu-xref>(<var>propertyKey</var>).</li><li>Return ? <var>target</var>.[[Delete]](<var>key</var>).
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-reflect.get">
      <h1><span class="secnum">26.1.5</span>Reflect.get ( <var>target</var>, <var>propertyKey</var> [ , <var>receiver</var> ] )</h1>
      <p>When the <code>get</code> function is called with arguments <var>target</var>, <var>propertyKey</var>, and <var>receiver</var>, the following steps are taken:</p>
      <emu-alg><ol><li>If <emu-xref aoid="Type" id="_ref_8356"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>target</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>key</var> be ?&nbsp;<emu-xref aoid="ToPropertyKey" id="_ref_8357"><a href="#sec-topropertykey">ToPropertyKey</a></emu-xref>(<var>propertyKey</var>).</li><li>If <var>receiver</var> is not present, then<ol><li>Set <var>receiver</var> to <var>target</var>.</li></ol></li><li>Return ? <var>target</var>.[[Get]](<var>key</var>, <var>receiver</var>).
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-reflect.getownpropertydescriptor">
      <h1><span class="secnum">26.1.6</span>Reflect.getOwnPropertyDescriptor ( <var>target</var>, <var>propertyKey</var> )</h1>
      <p>When the <code>getOwnPropertyDescriptor</code> function is called with arguments <var>target</var> and <var>propertyKey</var>, the following steps are taken:</p>
      <emu-alg><ol><li>If <emu-xref aoid="Type" id="_ref_8358"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>target</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>key</var> be ?&nbsp;<emu-xref aoid="ToPropertyKey" id="_ref_8359"><a href="#sec-topropertykey">ToPropertyKey</a></emu-xref>(<var>propertyKey</var>).</li><li>Let <var>desc</var> be ? <var>target</var>.[[GetOwnProperty]](<var>key</var>).</li><li>Return <emu-xref aoid="FromPropertyDescriptor" id="_ref_8360"><a href="#sec-frompropertydescriptor">FromPropertyDescriptor</a></emu-xref>(<var>desc</var>).
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-reflect.getprototypeof">
      <h1><span class="secnum">26.1.7</span>Reflect.getPrototypeOf ( <var>target</var> )</h1>
      <p>When the <code>getPrototypeOf</code> function is called with argument <var>target</var>, the following steps are taken:</p>
      <emu-alg><ol><li>If <emu-xref aoid="Type" id="_ref_8361"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>target</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>Return ? <var>target</var>.[[GetPrototypeOf]]().
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-reflect.has">
      <h1><span class="secnum">26.1.8</span>Reflect.has ( <var>target</var>, <var>propertyKey</var> )</h1>
      <p>When the <code>has</code> function is called with arguments <var>target</var> and <var>propertyKey</var>, the following steps are taken:</p>
      <emu-alg><ol><li>If <emu-xref aoid="Type" id="_ref_8362"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>target</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>key</var> be ?&nbsp;<emu-xref aoid="ToPropertyKey" id="_ref_8363"><a href="#sec-topropertykey">ToPropertyKey</a></emu-xref>(<var>propertyKey</var>).</li><li>Return ? <var>target</var>.[[HasProperty]](<var>key</var>).
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-reflect.isextensible">
      <h1><span class="secnum">26.1.9</span>Reflect.isExtensible ( <var>target</var> )</h1>
      <p>When the <code>isExtensible</code> function is called with argument <var>target</var>, the following steps are taken:</p>
      <emu-alg><ol><li>If <emu-xref aoid="Type" id="_ref_8364"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>target</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>Return ? <var>target</var>.[[IsExtensible]]().
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-reflect.ownkeys">
      <h1><span class="secnum">26.1.10</span>Reflect.ownKeys ( <var>target</var> )</h1>
      <p>When the <code>ownKeys</code> function is called with argument <var>target</var>, the following steps are taken:</p>
      <emu-alg><ol><li>If <emu-xref aoid="Type" id="_ref_8365"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>target</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>keys</var> be ? <var>target</var>.[[OwnPropertyKeys]]().</li><li>Return <emu-xref aoid="CreateArrayFromList" id="_ref_8366"><a href="#sec-createarrayfromlist">CreateArrayFromList</a></emu-xref>(<var>keys</var>).
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-reflect.preventextensions">
      <h1><span class="secnum">26.1.11</span>Reflect.preventExtensions ( <var>target</var> )</h1>
      <p>When the <code>preventExtensions</code> function is called with argument <var>target</var>, the following steps are taken:</p>
      <emu-alg><ol><li>If <emu-xref aoid="Type" id="_ref_8367"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>target</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>Return ? <var>target</var>.[[PreventExtensions]]().
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-reflect.set">
      <h1><span class="secnum">26.1.12</span>Reflect.set ( <var>target</var>, <var>propertyKey</var>, <var>V</var> [ , <var>receiver</var> ] )</h1>
      <p>When the <code>set</code> function is called with arguments <var>target</var>, <var>V</var>, <var>propertyKey</var>, and <var>receiver</var>, the following steps are taken:</p>
      <emu-alg><ol><li>If <emu-xref aoid="Type" id="_ref_8368"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>target</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>Let <var>key</var> be ?&nbsp;<emu-xref aoid="ToPropertyKey" id="_ref_8369"><a href="#sec-topropertykey">ToPropertyKey</a></emu-xref>(<var>propertyKey</var>).</li><li>If <var>receiver</var> is not present, then<ol><li>Set <var>receiver</var> to <var>target</var>.</li></ol></li><li>Return ? <var>target</var>.[[Set]](<var>key</var>, <var>V</var>, <var>receiver</var>).
      </li></ol></emu-alg>
    </emu-clause>

    <emu-clause id="sec-reflect.setprototypeof">
      <h1><span class="secnum">26.1.13</span>Reflect.setPrototypeOf ( <var>target</var>, <var>proto</var> )</h1>
      <p>When the <code>setPrototypeOf</code> function is called with arguments <var>target</var> and <var>proto</var>, the following steps are taken:</p>
      <emu-alg><ol><li>If <emu-xref aoid="Type" id="_ref_8370"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>target</var>) is not Object, throw a <emu-val>TypeError</emu-val> exception.</li><li>If <emu-xref aoid="Type" id="_ref_8371"><a href="#sec-ecmascript-data-types-and-values">Type</a></emu-xref>(<var>proto</var>) is not Object and <var>proto</var> is not <emu-val>null</emu-val>, throw a <emu-val>TypeError</emu-val> exception.</li><li>Return ? <var>target</var>.[[SetPrototypeOf]](<var>proto</var>).
      </li></ol></emu-alg>
    </emu-clause>
  </emu-clause>

  <emu-clause id="sec-proxy-objects">
    <h1><span class="secnum">26.2</span>Proxy Objects</h1>

    <emu-clause id="sec-proxy-constructor">
      <h1><span class="secnum">26.2.1</span>The Proxy Constructor</h1>
      <p>The Proxy <emu-xref href="#constructor" id="_ref_8372"><a href="#constructor">constructor</a></emu-xref>:</p>
      <ul>
        <li>is the intrinsic object  <dfn>%Proxy%</dfn>.</li>
        <li>is the initial value of the <code>Proxy</code> property of the <emu-xref href="#sec-global-object" id="_ref_8373"><a href="#sec-global-object">global object</a></emu-xref>.</li>
        <li>creates and initializes a new proxy <emu-xref href="#exotic-object" id="_ref_8374"><a href="#exotic-object">exotic object</a></emu-xref> when called as a <emu-xref href="#constructor" id="_ref_8375"><a href="#constructor">constructor</a></emu-xref>.</li>
        <li>is not intended to be called as a function and will throw an exception when called in that manner.</li>
      </ul>

      <emu-clause id="sec-proxy-target-handler">
        <h1><span class="secnum">26.2.1.1</span>Proxy ( <var>target</var>, <var>handler</var> )</h1>
        <p>When <code>Proxy</code> is called with arguments <var>target</var> and <var>handler</var>, it performs the following steps:</p>
        <emu-alg><ol><li>If NewTarget is <emu-val>undefined</emu-val>, throw a <emu-val>TypeError</emu-val> exception.</li><li>Return ?&nbsp;<emu-xref aoid="ProxyCreate" id="_ref_8376"><a href="#sec-proxycreate">ProxyCreate</a></emu-xref>(<var>target</var>, <var>handler</var>).
        </li></ol></emu-alg>
      </emu-clause>
    </emu-clause>

    <emu-clause id="sec-properties-of-the-proxy-constructor">
      <h1><span class="secnum">26.2.2</span>Properties of the Proxy Constructor</h1>
      <p>The Proxy <emu-xref href="#constructor" id="_ref_8377"><a href="#constructor">constructor</a></emu-xref>:</p>
      <ul>
        <li>has a [[Prototype]] internal slot whose value is the intrinsic object <emu-xref href="#sec-properties-of-the-function-prototype-object" id="_ref_8378"><a href="#sec-properties-of-the-function-prototype-object">%FunctionPrototype%</a></emu-xref>.</li>
        <li>does not have a <code>prototype</code> property because proxy exotic objects do not have a [[Prototype]] internal slot that requires initialization.</li>
        <li>has the following properties:</li>
      </ul>

      <emu-clause id="sec-proxy.revocable">
        <h1><span class="secnum">26.2.2.1</span>Proxy.revocable ( <var>target</var>, <var>handler</var> )</h1>
        <p>The <code>Proxy.revocable</code> function is used to create a revocable Proxy object. When <code>Proxy.revocable</code> is called with arguments <var>target</var> and <var>handler</var>, the following steps are taken:</p>
        <emu-alg><ol><li>Let <var>p</var> be ?&nbsp;<emu-xref aoid="ProxyCreate" id="_ref_8379"><a href="#sec-proxycreate">ProxyCreate</a></emu-xref>(<var>target</var>, <var>handler</var>).</li><li>Let <var>steps</var> be the algorithm steps defined in <emu-xref href="#sec-proxy-revocation-functions" title="" id="_ref_721"><a href="#sec-proxy-revocation-functions">Proxy Revocation Functions</a></emu-xref>.</li><li>Let <var>revoker</var> be <emu-xref aoid="CreateBuiltinFunction" id="_ref_8380"><a href="#sec-createbuiltinfunction">CreateBuiltinFunction</a></emu-xref>(<var>steps</var>, « [[RevocableProxy]] »).</li><li>Set <var>revoker</var>.[[RevocableProxy]] to <var>p</var>.</li><li>Let <var>result</var> be <emu-xref aoid="ObjectCreate" id="_ref_8381"><a href="#sec-objectcreate">ObjectCreate</a></emu-xref>(<emu-xref href="#sec-properties-of-the-object-prototype-object" id="_ref_8382"><a href="#sec-properties-of-the-object-prototype-object">%ObjectPrototype%</a></emu-xref>).</li><li>Perform <emu-xref aoid="CreateDataProperty" id="_ref_8383"><a href="#sec-createdataproperty">CreateDataProperty</a></emu-xref>(<var>result</var>, <code>"proxy"</code>, <var>p</var>).</li><li>Perform <emu-xref aoid="CreateDataProperty" id="_ref_8384"><a href="#sec-createdataproperty">CreateDataProperty</a></emu-xref>(<var>result</var>, <code>"revoke"</code>, <var>revoker</var>).</li><li>Return <var>result</var>.
        </li></ol></emu-alg>

        <emu-clause id="sec-proxy-revocation-functions">
          <h1><span class="secnum">26.2.2.1.1</span>Proxy Revocation Functions</h1>
          <p>A Proxy revocation function is an anonymous function that has the ability to invalidate a specific Proxy object.</p>
          <p>Each Proxy revocation function has a [[RevocableProxy]] internal slot.</p>
          <p>When a Proxy revocation function is called, the following steps are taken:</p>
          <emu-alg><ol><li>Let <var>F</var> be the <emu-xref href="#active-function-object" id="_ref_8385"><a href="#active-function-object">active function object</a></emu-xref>.</li><li>Let <var>p</var> be <var>F</var>.[[RevocableProxy]].</li><li>If <var>p</var> is <emu-val>null</emu-val>, return <emu-val>undefined</emu-val>.</li><li>Set <var>F</var>.[[RevocableProxy]] to <emu-val>null</emu-val>.</li><li><emu-xref href="#assert" id="_ref_8386"><a href="#assert">Assert</a></emu-xref>: <var>p</var> is a Proxy object.</li><li>Set <var>p</var>.[[ProxyTarget]] to <emu-val>null</emu-val>.</li><li>Set <var>p</var>.[[ProxyHandler]] to <emu-val>null</emu-val>.</li><li>Return <emu-val>undefined</emu-val>.
          </li></ol></emu-alg>
          <p>The <code>"length"</code> property of a Proxy revocation function is 0.</p>
        </emu-clause>
      </emu-clause>
    </emu-clause>
  </emu-clause>

  <emu-clause id="sec-module-namespace-objects">
    <h1><span class="secnum">26.3</span>Module Namespace Objects</h1>
    <p>A Module Namespace Object is a module namespace <emu-xref href="#exotic-object" id="_ref_8387"><a href="#exotic-object">exotic object</a></emu-xref> that provides runtime property-based access to a module's exported bindings. There is no <emu-xref href="#constructor" id="_ref_8388"><a href="#constructor">constructor</a></emu-xref> function for Module Namespace Objects. Instead, such an object is created for each module that is imported by an <emu-nt id="_ref_14818"><a href="#prod-ImportDeclaration">ImportDeclaration</a></emu-nt> that includes a <emu-nt id="_ref_14819"><a href="#prod-NameSpaceImport">NameSpaceImport</a></emu-nt>.</p>
    <p>In addition to the properties specified in  <emu-xref href="#sec-module-namespace-exotic-objects" id="_ref_722"><a href="#sec-module-namespace-exotic-objects">9.4.6</a></emu-xref> each Module Namespace Object has the following own property:</p>

    <emu-clause id="sec-@@tostringtag">
      <h1><span class="secnum">26.3.1</span>@@toStringTag</h1>
      <p>The initial value of the @@toStringTag property is the String value <code>"Module"</code>.</p>
      <p>This property has the attributes { [[Writable]]: <emu-val>false</emu-val>, [[Enumerable]]: <emu-val>false</emu-val>, [[Configurable]]: <emu-val>false</emu-val> }.</p>
    </emu-clause>
  </emu-clause>
</emu-clause>
