<emu-annex id="sec-strict-mode-of-ecmascript">
  <h1><span class="secnum">C</span>The Strict Mode of ECMAScript</h1>
  <p><b>The strict mode restriction and exceptions</b></p>
  <ul>
    <li>
      <code>implements</code>, <code>interface</code>, <code>let</code>, <code>package</code>, <code>private</code>, <code>protected</code>, <code>public</code>, <code>static</code>, and <code>yield</code> are reserved words within <emu-xref href="#sec-strict-mode-code" id="_ref_8590"><a href="#sec-strict-mode-code">strict mode code</a></emu-xref>. (<emu-xref href="#sec-reserved-words" id="_ref_776"><a href="#sec-reserved-words">11.6.2</a></emu-xref>).
    
    </li>
    <li>
      A conforming implementation, when processing <emu-xref href="#sec-strict-mode-code" id="_ref_8591"><a href="#sec-strict-mode-code">strict mode code</a></emu-xref>, must not extend, as described in  <emu-xref href="#sec-additional-syntax-numeric-literals" id="_ref_777"><a href="#sec-additional-syntax-numeric-literals">B.1.1</a></emu-xref>, the syntax of <emu-nt id="_ref_15243"><a href="#prod-NumericLiteral">NumericLiteral</a></emu-nt> to include <emu-nt>LegacyOctalIntegerLiteral</emu-nt>, nor extend the syntax of <emu-nt id="_ref_15244"><a href="#prod-DecimalIntegerLiteral">DecimalIntegerLiteral</a></emu-nt> to include <emu-nt>NonOctalDecimalIntegerLiteral</emu-nt>.
    
    </li>
    <li>
      A conforming implementation, when processing <emu-xref href="#sec-strict-mode-code" id="_ref_8592"><a href="#sec-strict-mode-code">strict mode code</a></emu-xref>, may not extend the syntax of <emu-nt id="_ref_15245"><a href="#prod-EscapeSequence">EscapeSequence</a></emu-nt> to include <emu-nt>LegacyOctalEscapeSequence</emu-nt> as described in  <emu-xref href="#sec-additional-syntax-string-literals" id="_ref_778"><a href="#sec-additional-syntax-string-literals">B.1.2</a></emu-xref>.
    
    </li>
    <li>
      Assignment to an undeclared identifier or otherwise unresolvable reference does not create a property in the <emu-xref href="#sec-global-object" id="_ref_8593"><a href="#sec-global-object">global object</a></emu-xref>. When a simple assignment occurs within <emu-xref href="#sec-strict-mode-code" id="_ref_8594"><a href="#sec-strict-mode-code">strict mode code</a></emu-xref>, its <emu-nt id="_ref_15246"><a href="#prod-LeftHandSideExpression">LeftHandSideExpression</a></emu-nt> must not evaluate to an unresolvable <emu-xref href="#sec-reference-specification-type" id="_ref_8595"><a href="#sec-reference-specification-type">Reference</a></emu-xref>. If it does a <emu-val>ReferenceError</emu-val> exception is thrown (<emu-xref href="#sec-putvalue" id="_ref_779"><a href="#sec-putvalue">6.2.4.9</a></emu-xref>). The <emu-nt id="_ref_15247"><a href="#prod-LeftHandSideExpression">LeftHandSideExpression</a></emu-nt> also may not be a reference to a <emu-xref href="#sec-object-type" id="_ref_8596"><a href="#sec-object-type">data property</a></emu-xref> with the attribute value { [[Writable]]: <emu-val>false</emu-val> }, to an <emu-xref href="#sec-object-type" id="_ref_8597"><a href="#sec-object-type">accessor property</a></emu-xref> with the attribute value { [[Set]]: <emu-val>undefined</emu-val> }, nor to a non-existent property of an object whose [[Extensible]] internal slot has the value <emu-val>false</emu-val>. In these cases a <code>TypeError</code> exception is thrown (<emu-xref href="#sec-assignment-operators" id="_ref_780"><a href="#sec-assignment-operators">12.15</a></emu-xref>).
    
    </li>
    <li>
      An <emu-nt id="_ref_15248"><a href="#prod-IdentifierReference">IdentifierReference</a></emu-nt> with the StringValue <code>"eval"</code> or <code>"arguments"</code> may not appear as the <emu-nt id="_ref_15249"><a href="#prod-LeftHandSideExpression">LeftHandSideExpression</a></emu-nt> of an Assignment operator (<emu-xref href="#sec-assignment-operators" id="_ref_781"><a href="#sec-assignment-operators">12.15</a></emu-xref>) or of an <emu-nt id="_ref_15250"><a href="#prod-UpdateExpression">UpdateExpression</a></emu-nt> (<emu-xref href="#sec-update-expressions" id="_ref_782"><a href="#sec-update-expressions">12.4</a></emu-xref>) or as the <emu-nt id="_ref_15251"><a href="#prod-UnaryExpression">UnaryExpression</a></emu-nt> operated upon by a Prefix Increment (<emu-xref href="#sec-prefix-increment-operator" id="_ref_783"><a href="#sec-prefix-increment-operator">12.4.6</a></emu-xref>) or a Prefix Decrement (<emu-xref href="#sec-prefix-decrement-operator" id="_ref_784"><a href="#sec-prefix-decrement-operator">12.4.7</a></emu-xref>) operator.
    
    </li>
    <li>
      Arguments objects for strict functions define a non-configurable <emu-xref href="#sec-object-type" id="_ref_8598"><a href="#sec-object-type">accessor property</a></emu-xref> <code>"callee"</code> which throws a <emu-val>TypeError</emu-val> exception on access (<emu-xref href="#sec-createunmappedargumentsobject" id="_ref_785"><a href="#sec-createunmappedargumentsobject">9.4.4.6</a></emu-xref>).
    
    </li>
    <li>
      Arguments objects for strict functions do not dynamically share their  <emu-xref href="#array-index" id="_ref_786"><a href="#array-index">array-indexed</a></emu-xref> property values with the corresponding formal parameter bindings of their functions. (<emu-xref href="#sec-arguments-exotic-objects" id="_ref_787"><a href="#sec-arguments-exotic-objects">9.4.4</a></emu-xref>).
    
    </li>
    <li>
      For strict functions, if an arguments object is created the binding of the local identifier <code>arguments</code> to the arguments object is immutable and hence may not be the target of an assignment expression. (<emu-xref href="#sec-functiondeclarationinstantiation" id="_ref_788"><a href="#sec-functiondeclarationinstantiation">9.2.15</a></emu-xref>).
    
    </li>
    <li>
      It is a <emu-val>SyntaxError</emu-val> if the StringValue of a <emu-nt id="_ref_15252"><a href="#prod-BindingIdentifier">BindingIdentifier</a></emu-nt> is <code>"eval"</code> or <code>"arguments"</code> within <emu-xref href="#sec-strict-mode-code" id="_ref_8599"><a href="#sec-strict-mode-code">strict mode code</a></emu-xref> (<emu-xref href="#sec-identifiers-static-semantics-early-errors" id="_ref_789"><a href="#sec-identifiers-static-semantics-early-errors">12.1.1</a></emu-xref>).
    
    </li>
    <li>
      Strict mode eval code cannot instantiate variables or functions in
 the variable environment of the caller to eval. Instead, a new variable
 environment is created and that environment is used for declaration 
binding instantiation for the eval code (<emu-xref href="#sec-eval-x" id="_ref_790"><a href="#sec-eval-x">18.2.1</a></emu-xref>).
    
    </li>
    <li>
      If <emu-val>this</emu-val> is evaluated within <emu-xref href="#sec-strict-mode-code" id="_ref_8600"><a href="#sec-strict-mode-code">strict mode code</a></emu-xref>, then the <emu-val>this</emu-val> value is not coerced to an object. A <emu-val>this</emu-val> value of <emu-val>undefined</emu-val> or <emu-val>null</emu-val> is not converted to the <emu-xref href="#sec-global-object" id="_ref_8601"><a href="#sec-global-object">global object</a></emu-xref> and primitive values are not converted to wrapper objects. The <emu-val>this</emu-val> value passed via a function call (including calls made using <code>Function.prototype.apply</code> and <code>Function.prototype.call</code>) do not coerce the passed this value to an object (<emu-xref href="#sec-ordinarycallbindthis" id="_ref_791"><a href="#sec-ordinarycallbindthis">9.2.1.2</a></emu-xref>,  <emu-xref href="#sec-function.prototype.apply" id="_ref_792"><a href="#sec-function.prototype.apply">19.2.3.1</a></emu-xref>,  <emu-xref href="#sec-function.prototype.call" id="_ref_793"><a href="#sec-function.prototype.call">19.2.3.3</a></emu-xref>).
    
    </li>
    <li>
      When a <code>delete</code> operator occurs within <emu-xref href="#sec-strict-mode-code" id="_ref_8602"><a href="#sec-strict-mode-code">strict mode code</a></emu-xref>, a <emu-val>SyntaxError</emu-val> is thrown if its <emu-nt id="_ref_15253"><a href="#prod-UnaryExpression">UnaryExpression</a></emu-nt> is a direct reference to a variable, function argument, or function name (<emu-xref href="#sec-delete-operator-static-semantics-early-errors" id="_ref_794"><a href="#sec-delete-operator-static-semantics-early-errors">12.5.3.1</a></emu-xref>).
    
    </li>
    <li>
      When a <code>delete</code> operator occurs within <emu-xref href="#sec-strict-mode-code" id="_ref_8603"><a href="#sec-strict-mode-code">strict mode code</a></emu-xref>, a <emu-val>TypeError</emu-val> is thrown if the property to be deleted has the attribute { [[Configurable]]: <emu-val>false</emu-val> } (<emu-xref href="#sec-delete-operator-runtime-semantics-evaluation" id="_ref_795"><a href="#sec-delete-operator-runtime-semantics-evaluation">12.5.3.2</a></emu-xref>).
    
    </li>
    <li>
      <emu-xref href="#sec-strict-mode-code" id="_ref_8604"><a href="#sec-strict-mode-code">Strict mode code</a></emu-xref> may not include a <emu-nt id="_ref_15254"><a href="#prod-WithStatement">WithStatement</a></emu-nt>. The occurrence of a <emu-nt id="_ref_15255"><a href="#prod-WithStatement">WithStatement</a></emu-nt> in such a context is a <emu-val>SyntaxError</emu-val> (<emu-xref href="#sec-with-statement-static-semantics-early-errors" id="_ref_796"><a href="#sec-with-statement-static-semantics-early-errors">13.11.1</a></emu-xref>).
    
    </li>
    <li>
      It is a <emu-val>SyntaxError</emu-val> if a <emu-nt id="_ref_15256"><a href="#prod-CatchParameter">CatchParameter</a></emu-nt> occurs within <emu-xref href="#sec-strict-mode-code" id="_ref_8605"><a href="#sec-strict-mode-code">strict mode code</a></emu-xref> and BoundNames of <emu-nt id="_ref_15257"><a href="#prod-CatchParameter">CatchParameter</a></emu-nt> contains either <code>eval</code> or <code>arguments</code> (<emu-xref href="#sec-try-statement-static-semantics-early-errors" id="_ref_797"><a href="#sec-try-statement-static-semantics-early-errors">13.15.1</a></emu-xref>).
    
    </li>
    <li>
      It is a <emu-val>SyntaxError</emu-val> if the same <emu-nt id="_ref_15258"><a href="#prod-BindingIdentifier">BindingIdentifier</a></emu-nt> appears more than once in the <emu-nt id="_ref_15259"><a href="#prod-FormalParameters">FormalParameters</a></emu-nt> of a <emu-xref href="#strict-function" id="_ref_8606"><a href="#strict-function">strict function</a></emu-xref>. An attempt to create such a function using a <code>Function</code>, <code>Generator</code>, or <code>AsyncFunction</code> <emu-xref href="#constructor" id="_ref_8607"><a href="#constructor">constructor</a></emu-xref> is a <emu-val>SyntaxError</emu-val> (<emu-xref href="#sec-function-definitions-static-semantics-early-errors" id="_ref_798"><a href="#sec-function-definitions-static-semantics-early-errors">14.1.2</a></emu-xref>,  <emu-xref href="#sec-createdynamicfunction" id="_ref_799"><a href="#sec-createdynamicfunction">19.2.1.1.1</a></emu-xref>).
    
    </li>
    <li>
      An implementation may not extend, beyond that defined in this 
specification, the meanings within strict functions of properties named <code>caller</code> or <code>arguments</code> of function instances.
    
    </li>
  </ul>
</emu-annex>
